
/**********************
 * Partie Gauche - Context
 **********************/
.cat{
    width: 91%;
    height: auto;
    max-height: 198px;

}
.catalogue_bloc_context
{
	float: 					left;
	width: 					25%;
	border: 				1px solid #EBEBEB;
	border-left: 			0;
	padding: 				10px 0;
}


.catalogue_bloc_context_item
{
    padding: 				10px 0;
    padding-top: 			0;
    background-color: 		#fff;
    margin-bottom: 			20px;
    box-shadow: 			0 2px 2px rgba(0,0,0,.05);
    -moz-border-radius:		2px;
    -webkit-border-radius:	2px;
    border-radius:			2px;
}
.catalogue_bloc_context_item h2
{
	padding: 				15px 40px;
	padding-right: 			0;
	margin: 				0;
	font-size: 				13pt;
	color: 					#1D1B1E;
	text-transform: 		uppercase;
	border-bottom:			1px solid #EDEDED;
	margin-bottom:			15px;
}
.catalogue_bloc_context ul,
.catalogue_bloc_context li
{
	margin: 				0;
	padding: 				0;
	list-style-type: 		none;

}
.catalogue_bloc_context ul
{
			padding: 				0px 40px;
			margin-bottom: 20px;

}

#catalogue_list_backtop
{
	display: 				none;
	position: 				fixed;
	z-index: 				100000;
	bottom: 				50px;
	right: 					10px;
	background-color: 		rgba(0,0,0,.3);
	width: 					60px;
	height: 				60px;
	background-image: 		url(../images/commons/top.png);
	background-position: 	center center;
	background-repeat: 		no-repeat;
	padding-left: 			20px;
	-moz-border-radius:		5px;
	-webkit-border-radius:	5px;
	border-radius:			5px;
	cursor: 				pointer;
	-webkit-transition:		all .2s ease-out;
	-moz-transition:		all .2s ease-out;
	-o-transition:			all .2s ease-out;
	transition:				all .2s ease-out;
}
/*
#catalogue_list_backtop:hover
{
	background-color: 		rgba(0,0,0,.4);
}
*/

.catalogue_bloc_context a:link,
.catalogue_bloc_context a:hover,
.catalogue_bloc_context a:active,
.catalogue_bloc_context a:visited
{
	display: 				block;
	background-image: 		url(../images/product/checkbox_off.png);
	background-repeat: 		no-repeat;
	background-position: 	left;
	padding: 				4px 0;
	padding-left: 			24px;
	color: 					#111;
	font-size: 				10pt;
}
.catalogue_bloc_context a:hover
{
	
	background-image: 		url(../images/product/checkbox_on.png);
	background-opcity: 		0.2;
}

.catalogue_bloc_context li.selected a:link,
.catalogue_bloc_context li.selected a:hover,
.catalogue_bloc_context li.selected a:active,
.catalogue_bloc_context li.selected a:visited
{
	background-image: 		url(../images/product/checkbox_on.png);
	font-weight: 			600;	
}



/**********************
 * Partie Droite - Principale
 **********************/
.catalogue_bloc_main
{
	float: 					right;
	width: 					73.5%;
	padding: 				10px 0;
	padding-bottom: 		40px;
}


.catalogue_bloc_main h2
{
	border: 				1px solid #F1F1F1;
	border-left: 			0;
	border-right: 			0;
	padding: 				7px 0;
	margin: 				0 0 5px 0;
	font-size: 				18px;
	font-weight: 			normal;
}



.product_list
{
	padding-bottom: 			50px;
}
.product_list_item
{
	position: 				relative;
	float: 					left;
	width: 					100%;
	border-left: 			3px solid #6d6968;
	margin-bottom:			2%;
	margin-right:			2%;
	background-color:		#fff;
	padding:				20px;
    min-height:				270px;
    box-shadow: 2px 3px 3px 0px rgba(109, 105, 104, 0.45);
    -moz-border-radius:		2px;
    -webkit-border-radius:	2px;
    border-radius:			2px;
}
	.product_list_item::after
	{
		content: 			" ";
		display: 			block;
		clear: 				both;
		position: 			absolute;
		bottom: 			0;
		left: 				0;
		width: 				0;
		opacity:			0;
		border: 			1px solid #f99a01;
		-webkit-transition:	all .4s ease-out;
		-moz-transition:	all .4s ease-out;
		-o-transition:		all .4s ease-out;
		transition:			all .4s ease-out;
	}

	.product_list_item:hover::after
	{
		opacity:			1;
		width: 				100%;
	}
	.product_list_item::before
	{
		content: 			" ";
		display: 			block;
		clear: 				both;
		position: 			absolute;
		top: 				0;
		right: 				0;
		width: 				0;
		opacity:			0;
		border: 			2px solid #f99a01;
		-webkit-transition:	all .4s ease-out;
		-moz-transition:	all .4s ease-out;
		-o-transition:		all .4s ease-out;
		transition:			all .4s ease-out;
	}

	.product_list_item:hover::before
	{
		opacity:			1;
		width: 				100%;
	}

.product_list_noproduct
{
	padding: 				20px 20px;
	text-align: 			left;
	color: 					#AAA;
	font-style: 			italic;
}
	.product_list_picturelink:link,
	.product_list_picturelink:hover,
	.product_list_picturelink:active,
	.product_list_picturelink:visited
	{
		display: 				block;
		text-align: 			center;
	}
	.product_list_namelink:link,
	.product_list_namelink:hover,
	.product_list_namelink:active,
	.product_list_namelink:visited
	{
		display: 				block;
		margin: 				2px 0;
		font-weight: 			bold;
		font-size: 				18px;
		color: 					#282828;
		text-align:				left;
	}
	.product_list_price
	{
		color: 					#11A3E2;
		font-size: 				10pt;
		font-weight: 			bold;
	}
	.product_list_price_strike
	{
		text-decoration: 		line-through;
	}
	.product_list_price_dealer
	{
		color: 					#C00;
		font-size: 				10pt;
		font-weight: 			bold;
	}
	.product_list_info
	{
		padding: 				2px;
		text-align: 			left;
		padding: 				2px 0px;
		font-size: 				16px;
		color: 					#f99a01;
		font-weight:			bold;
		margin-bottom:			10px;
		font-size:				14px;
	}
	
	.product_list_desc
	{
		font-size: 				10pt;
		color: 					#1D1B1E;
	}
		.product_list_hashtag
		{
			color:				#fff;
			background-color: 	#f99a01;
			padding: 			4px 12px;
			margin-top: 		20px;
			display: 			inline-block;
			font-size:			10pt;
		}
		
	.product_list_item .product_list_info span { display: none;}
	.product_list_item:hover .product_list_info span
	{
		display: 				block;
		position: 				absolute;
		margin-left: 			-100px;
		width: 					80px;
		padding: 				2px 3px;
		background-color: 		#737373;
		color: 					#FFF;
		font-weight: 			bold;
		font-size: 				8pt;
		opacity: 				0.8;
	}
	.product_list_item_picture
	{
		float:			left;
		width:			49%;
	}
	.product_list_item_desc
	{
		float:			right;
		width:			50.5%;
	}
	
	
	/****************************
	 * RESPONSIVE
	 ****************************/
	@media only screen
	and (max-width : 1200px) 
	{

	}

	@media only screen
	and (max-width : 980px) 
	{
		.product_list_item_picture 
		{
			float: none;
			width: auto;
			margin-right: 0;
			margin-bottom: 20px;
			text-align: center;
		}
		.product_list_item_desc 
		{
			float: none;
			width: auto;
		}
		.product_list_item {
    float: left;
  
    border-left: 1px solid #F1F1F1;
    margin-bottom: 2%;
    margin-right: 2%;
    background-color: #fff;
    padding: 20px;
    min-height: 450px;
}
	}

	@media only screen
	and (max-width : 768px) 
	{
		.cd-filter.filter-is-visible {
  
    width: 37%;
}
		.cd-gallery {
    padding: 26px 5%;
    width: 75%;
    float: right;
}
		 .cd-gallery img {
  
    padding: 0% 12% !important;
}
	.product_list_item 
	{
	    float: left;
	      margin: 1% 2% 1% 15% !important;
		   width: auto !important;
	    border-left: 1px solid #F1F1F1;
	    margin-bottom: 2%;
	    margin-right: 2%;
	    background-color: #fff;
	    padding: 20px;
	    min-height: 480px;
	}
		.catalogue_bloc_context_item h2::after
		{
			position: absolute;
			content: ' ';
			display: block;
			background-image: url('../images/commons/select_off.png');
			background-position: 95% center;
			background-repeat: no-repeat;
			right: 10px;
			width: 18px;
			height: 10px;
			top: 19px;
			-webkit-transition: all .2s ease-out;
			-moz-transition: all .2s ease-out;
			-o-transition: all .2s ease-out;
			transition: all .2s ease-out;
		}
		.catalogue_bloc_context_item h2.slide_down::after
		{
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
		}
		.catalogue_bloc_context
		{
			float: none;
			width: auto;
			margin-right: 0%;
			position: relative;
		}
		.catalogue_bloc_main
		{
			float: none;
			width: auto;
			  padding-bottom: 00px;
		}
		.catalogue_bloc_context_item h2
		{
			margin-bottom: 0;
		}
		.catalogue_bloc_context_item h2 
		{
			padding:	10px 40px;
			position:	relative;
		}
		.catalogue_bloc_context_item 
		{
			padding:			0; 
			background-color:	#fff;
			margin-bottom:		10px;
		}
		
		
		#catalogue_list_backtop
		{
			bottom: 			10px;
		}
		
	}
	
	@media only screen
	and (max-width : 540px) 
	{
		.product_list_item
		{
			float: left;
			
			border-left: 1px solid #F1F1F1;
			margin-bottom: 2%;
			margin-right: 2%;
			background-color: #fff;
			padding: 20px;
			min-height: 520px;
		}
	}
	
	@media only screen
	and (max-width : 480px) 
	{
.cd-filter.filter-is-visible {
    width: auto;
}
		.product_list_item 
		{
			float: none;
			 margin: 1% 1% !important;
			   
			border-left: 1px solid #F1F1F1;
			margin-bottom: 2%;
			margin-right: 0%;
			background-color: #fff;
			padding: 20px;
			min-height: 300px;
		}
		.product_list_item_picture,
		.product_list_item_desc
		{
			float:			none;
			width:			auto;
			margin-right:	0%;
		}


	}
