html{font-size:9pt;color:#000;margin:0;padding:0;}
body{margin:0;padding:0;}
img{border:0;}
a:link,
a:hover,
a:active,
a:visited{text-decoration:none;}
.messagereturn_success,
.messagereturn_error,
.messagereturn_noright,
.messagereturn_admin,
.messagereturn_info{bottom:0;right:0;padding:15px 20px;text-align:center;margin:30px 10px;}
.messagereturn_success, messagereturn_info{background-color:#D1DFA7;color:#709009;}
.messagereturn_error{background-color:#EFD9D1;color:#902C09;}
.messagereturn_buttonclose{display:none;}
#messagereturn_opener{position:fixed;bottom:0;right:0;height:16px;width:16px;cursor:pointer;}
h1{font-size:12pt;color:#5A5A5A;padding:0;margin:0;margin-bottom:10px;}
.advertising_admin{text-align:left;}
.advertising_admin a.adverttitle:link,
.advertising_admin a.adverttitle:hover,
.advertising_admin a.adverttitle:active,
.advertising_admin a.adverttitle:visited{position:absolute;display:none;margin-top:-10px;margin-left:10px;font-size:8pt;color:#F00;border:1px dotted red;background-color:#FFF;padding:2px 5px;}
.advertising_admin_visible a.adverttitle:link,
.advertising_admin_visible a.adverttitle:hover,
.advertising_admin_visible a.adverttitle:active,
.advertising_admin_visible a.adverttitle:visited{display:inline;border:1px dotted red;}
.advertising_admin_visible{border:1px dotted red;}
.pager{margin:0 5px;padding:5px;text-align:center;background-color:#EEE;border:1px solid #DDD;}
.pager ul,
.pager li{margin:0;padding:0;}
.pager li{display:inline;}
.pager li a.selected:link,
.pager li a.selected:hover,
.pager li a.selected:active,
.pager li a.selected:visited,
.pager li a:link,
.pager li a:hover,
.pager li a:active,
.pager li a:visited{padding:2px 4px;color:#777;margin:1px;text-decoration:none;text-align:center;}
.pager li a:hover{text-decoration:underline;}
.pager li a.selected:link,
.pager li a.selected:hover,
.pager li a.selected:active,
.pager li a.selected:visited{background-color:#FFF;color:#333;font-weight:bold;border:1px solid #DDD;}