h1{font-size:40px;font-weight:bold;color:#1b1a1b;padding:0;font-family:'Open Sans';font-weight:700;background-repeat:repeat-x;background-position:0 120px;background-size:10px;padding-bottom:20px;margin-bottom:20px;}
.news_short_link:link,
.news_short_link:hover,
.news_short_link:active,
.news_short_link:visited{background-color:#009de0;display:inline-block;padding:10px 15px;color:#fff;text-transform:uppercase;font-size:14px;border:1px solid #009EE0;text-decoration:none;margin-top:10px;}
.newswrap{position:relative;list-style-type:none;}
.news_short_link:hover{background-color:#fff;color:#009EE0;}
#fade{position:relative;overflow:hidden;}
#fade .fadeitem{position:absolute;top:0 !important;bottom:0 !important;right:0;left:0;background-position:center center;background-size:cover;}
#croix{position:absolute;z-index:10000;left:0;right:0;top:138px;bottom:0;background-image:url(../images/home/croix.png);background-repeat:repeat;background-position:top center;}
.home_title_block{display:block;text-align:center;}
h2, h1{}
h2{color:#f98408;font-size:24px;margin:0;margin-bottom:20px;text-align:center;display:inline-block;background-repeat:repeat-x;background-position:0 40px;background-size:10px;padding-bottom:20px;font-weight:300;}
h2 span{font-weight:bold;}
#home_event h2{background-image:url('../images/commons/point-blanc.png');}
#home_content,
#home_service,
#home_news{padding:80px 0;background-color:#fff;}
#home_news ul{padding:0;margin:0;}
#home_flash ul{padding:0;margin:0;}
#home_flash .slidesjs-pagination li a{position:relative;top:-50px !important;z-index:100000;}
#home_flash .slidesjs-container,
#home_flash .slidesjs-control{height:400px !important;}
.homeflash_item{position:absolute;top:0;bottom:0;left:0;right:0;background-size:cover;background-position:left;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-content:stretch;-ms-flex-line-pack:stretch;align-content:stretch;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end;}
.homeflash_item .homeflash_inner{padding:20px 20px 60px 20px;color:#fff;background-color:rgba(0,0,0,0.6);text-align:center;font-size:14px;width:450px;z-index:10000000000;}
#home_flash .homeflash_title{font-size:20pt;font-weight:bold;}
#home_flash .homeflash_text{font-size:13pt;}
#home_flash .slidesjs-slide{bottom:0;}
#home_flash{height:400px;position:relative;}
#fade{bottom:0;left:0;overflow:hidden;position:absolute;right:0;top:0;}
#dot{background-image:url("../images/home/dot.png");background-position:center top;background-repeat:repeat;bottom:0;left:0;position:absolute;right:0;top:0;z-index:10001;}
.homediaporama{position:relative;}
.homediaporama .slidesjs-navigation{display:none;}
#home_content .commons_block{position:relative;}
.home_content_left{float:left;width:50%;}
.home_content_intro{font-weight:bold;font-size:12pt;margin-bottom:15px;}
.home_content_text{font-weight:300;font-size:11pt;}
.home_content_right{float:right;width:50%;}
#home_service{background-color:#b5b2b2;}
#home_service h2{text-align:center;}
#home_service_container{position:relative;overflow:hidden;}
#servicewrap{position:relative;overflow:hidden;height:600px;padding:0;margin:0;}
.home_service_item:link,
.home_service_item:hover,
.home_service_item:active,
.home_service_item:visited{display:block;position:relative;background-color:#fff;min-height:540px;padding:15px 15px;border-bottom:12px solid #f98408;}
#servicewrap li{display:block;position:relative;float:left;height:500px;padding:0;margin:0;}
.home_service_item::hover{}
.home_service_item_mask{position:absolute;top:200%;top:0;left:0;right:0;bottom:0;opacity:0;background-color:rgba(0,0,0,0.5);-webkit-transition:all .3s cubic-bezier(.17,.67,.7,1.3);-moz-transition:all .3s cubic-bezier(.17,.67,.7,1.3);-o-transition:all .3s cubic-bezier(.17,.67,.7,1.3);transition:all .3s cubic-bezier(.17,.67,.7,1.3);background-image:url('../images/commons/hover.png');background-repeat:no-repeat;background-position:50% 100%;background-size:70px;}
.home_service_item:hover .home_service_item_mask{background-position:50% 50%;opacity:1;}
.home_service_item:nth-child(2),
.home_service_item:nth-child(3){margin-right:3.5%;}
.home_service_item h3{position:relative;color:#f98408;text-align:center;text-transform:uppercase;font-size:15pt;font-weight:bold;padding:0 15%;padding-bottom:15px;margin-bottom:25px;}
.home_service_item h3::after{content:" ";display:block;clear:both;position:absolute;bottom:0;left:40%;right:40%;border-bottom:4px dotted #f98408;}
.home_service_item_picture{text-align:center;margin-bottom:20px;}
.home_service_item_text{text-align:center;color:#1b1a1b;font-size:10.5pt;font-size:11.5pt;font-weight:400;}
.home_news_item{float:left;width:22.3%;margin-right:3.5%;}
.home_news_item:nth-child(4){margin-right:0;}
.home_news_text:link,
.home_news_text:hover,
.home_news_text:active,
.home_news_text:visited{display:block;position:relative;padding:30px;text-align:left;background-color:#F1F1F1;min-height:150px;color:#111;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;}
.home_news_item:hover .home_news_text{background-color:#ddd;}
.home_news_item .home_news_text::after{content:" ";display:block;clear:both;position:absolute;width:0;right:0;bottom:0;border-top:3px solid #f98408;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;}
.home_news_item:hover .home_news_text::after{width:100%;}
.home_news_item .home_news_text::before{content:" ";display:block;clear:both;position:absolute;width:0;top:0;left:0;border-top:3px solid #f98408;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;}
.home_news_item:hover .home_news_text::before{width:100%;}
.home_news_title{color:#f98408;text-decoration:none;font-size:16px;text-transform:uppercase;margin-bottom:5px;font-weight:bold;display:inline-block;}
.home_news_description{font-size:14px;}
.home_news_picture:link div,
.home_news_picture:hover div,
.home_news_picture:active div,
.home_news_picture:visited div{display:block;height:200px;}
.home_event_text{float:right;width:34%;padding:30px;text-align:left;min-height:150px;}
.home_event_title:link,
.home_event_title:hover,
.home_event_title:active,
.home_event_title:visited{color:#f98408;text-decoration:none;font-size:16px;text-transform:uppercase;margin-bottom:5px;font-weight:bold;display:inline-block;}
.home_event_description{font-size:14px;}
.home_event_picture:link,
.home_event_picture:hover,
.home_event_picture:active,
.home_event_picture:visited{float:left;width:65%;display:block;height:420px;}
.home_event_picture_image{height:420px;text-align:center;}
.home_event_picture:link,
.home_event_picture:hover,
.home_event_picture:active,
.home_event_picture:visited{display:block;height:420px;}
.home_event_picture{height:420px;text-align:center;}
.home_event_link:link,
.home_event_link:hover,
.home_event_link:active,
.home_event_link:visited{background-color:#009de0;display:inline-block;padding:5px 12px;color:#fff;text-transform:uppercase;font-size:9pt;border:1px solid #009EE0;margin-top:10px;}
.home_event_link:hover{background-color:#fff;color:#009EE0;text-decoration:none;}
#home_event .slidesjs-pagination{height:0;}
#home_event .slidesjs-pagination a{top:20px;}
#home_partner_inner{position:relative;overflow:hidden;padding:40px 0;}
#home_partner_inner{margin:40px auto;max-width:750px;}
#home_partner_inner #footer_carousel{padding:0;margin:0;}
#home_partner_inner #footer_carousel li{display:inline-block;margin:40px 0;text-align:center;width:250px;}
#home_partner_inner #footer_carousel li img{}
.home_news_picture{display:block;position:relative;text-align:center;}
.homewrap_dot .dot{background-image:url("../images/home/dot.png");background-position:center top;background-repeat:repeat;bottom:0;left:0;position:absolute;right:0;top:0;z-index:10001;}
#home_event{background-image:url("../images/home/fond-evenement.jpg");background-position:center top;background-repeat:no-repeat;padding:40px;position:relative;background-attachment:fixed;background-size:cover;}
#home_event h2{color:#fff;}
#home_event .itemwrap{background-color:#fff;padding:0;overflow:visible !important;border:10px solid #fff;}
.itemwrap .home_news_picture:link,
.itemwrap .home_news_picture:hover,
.itemwrap .home_news_picture:active,
.itemwrap .home_news_picture:visited{float:left;background-image:url("../images/home/dot.png");background-position:center top;background-repeat:repeat;width:60%;}
.itemwrap .home_news_text{float:left;width:40%;background-color:#fff;}
.itemwrap .home_news_picture > img{height:auto;text-align:center;}
.news_short_date{color:#f98408;font-size:16px;margin-bottom:5px;}
.slidesjs-navigation{position:absolute;height:79px;width:60px;top:38%;font-size:0;z-index:1000600;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;}
.slidesjs-next{background-image:url('../images/home/slider.png');background-position:right center;right:20px;opacity:0.4;}
.slidesjs-next:hover{right:10px;opacity:1;}
.slidesjs-previous{background-image:url('../images/home/slider.png');background-position:left center;left:20px;opacity:0.4;}
.slidesjs-previous:hover{left:10px;opacity:1;}
.slidesjs-play,
.slidesjs-stop{display:none !important;}
.slidesjs-pagination{padding:0;margin:0;text-align:center;}
.slidesjs-pagination li{display:inline-block;list-style:none;}
.slidesjs-pagination li a:link,
.slidesjs-pagination li a:hover,
.slidesjs-pagination li a:active,
.slidesjs-pagination li a:visited{list-style:none;font-size:0;background-color:#999;background-color:#fff;width:10px;height:10px;display:inline-block;border-radius:50%;margin-right:5px;position:relative;top:44px;display:inline-block;}
.slidesjs-pagination li a:hover{background-color:#91CBE2;}
.slidesjs-pagination li a.active{background-color:#fff;background-color:#f98408;}
@media only screen
and (max-width:1200px){h1,h2,#home_event h2{background-image:none;}
.home_content_left{display:block;position:static;width:auto;}
.home_content_right{float:none;width:auto;text-align:center;}
.home_news_item{width:45%;margin-right:5%;margin-bottom:2%;}
#home_news .slidesjs-container{height:300px !important;}
}
@media only screen
and (max-width:980px){.slidesjs-navigation{display:none;}
.home_service_item_text{font-size:10pt;}
.home_service_item h3{font-size:13pt;padding:10px 10px;}
#home_content,
#home_service,
#home_news{padding:40px 0;}
}
@media only screen
and (max-width:780px){#home_event{padding:40px 0;}
.home_newsmain_item{margin-bottom:20px;}
.home_news_text{min-height:auto;}
.itemwrap .home_news_picture:link,
.itemwrap .home_news_picture:hover,
.itemwrap .home_news_picture:active,
.itemwrap .home_news_picture:visited{float:none;width:auto;background-image:url("../images/home/dot.png");background-position:center top;background-repeat:repeat;margin-bottom:20px;}
.itemwrap .home_news_text{float:none;width:auto;}
.home_content_right{float:none;width:auto;text-align:center;     padding-right: 8%;}
.home_content_left{bottom:0;display:block;float:none;margin-right:0%;position:relative;right:0;top:0;margin-bottom:20px;}
.home_content_left h1{font-size:18pt;margin:0;}
.home_news_item{float:none;width:auto;margin-right:0%;margin-bottom:2%;}
.slidesjs-container{height:auto !important;}
#home_event .slidesjs-container{height:450px !important;}
}
@media only screen
and (max-width:700px){.home_service_item h3{margin-bottom:15px;}
.home_service_item .home_service_item_text{margin-bottom:15px;}
.home_service_item .home_service_item_mask{display:none;}
#home_event{background-attachment:initial;}
.home_event_picture:link,
.home_event_picture:hover,
.home_event_picture:active,
.home_event_picture:visited,
.home_event_text{float:none;width:auto;padding:30px;text-align:left;min-height:0;}
.home_event_picture:link,
.home_event_picture:hover,
.home_event_picture:active,
.home_event_picture:visited{height:200px;}
.home_event_picture_image{height:190px;}
#home_partner_inner2{margin:40px auto;max-width:200px;}
}