/**************************
 * News > Liste
 **************************/
#news_list
{
    margin: 					20px 0;
    position: 					relative;
    padding: 					30px 0px 30px 30px;
    background-color: 			#FFF;
}
.theme_list
{
    margin-bottom: 20px;
    clear: both;
}
.news_theme_link:link,
.news_theme_link:hover,
.news_theme_link:active,
.news_theme_link:visited
{
    float: left;
    display: block;
    color: #000;
}
.news_theme_link:hover
{
    color:#009EE0;
}
.list_item
{
    float: left;
}
.list_item_separator
{
    display: block;
    content: " ";
    height: 20px;
    width: 1px;
    background-color: #888;
    margin: 0 10px;
    float: left;
}
#news_listitems
{
    -webkit-column-count: 	4; /* Chrome, Safari, Opera */
    -moz-column-count: 		4; /* Firefox */
    column-count: 			4;
    -webkit-column-gap: 	15px; /* Chrome, Safari, Opera */
    -moz-column-gap: 		15px; /* Firefox */
    column-gap: 			15px;
}
.news_list_item
{
    margin: 				0 0 10px 0;
    -webkit-transition:		all .2s ease-out;
    -moz-transition:		all .2s ease-out;
    -o-transition:			all .2s ease-out;
    transition:				all .2s ease-out;
    overflow: 				hidden;
    background-color:		#fff;
    padding:				15px;
    display:				inline-block;
    width:					100%;
    -moz-border-radius:		3px;
    -webkit-border-radius:	3px;
    border-radius:			3px;
    box-shadow: 			0 1px 2px rgba(0,0,0,.3);
}

.news_list_item:hover
{
    box-shadow: 			0 1px 2px rgba(0,0,0,.9);
}
.news_list_item_picture:link,
.news_list_item_picture:hover,
.news_list_item_picture:active,
.news_list_item_picture:visited
{
    display: 				block;
    margin-bottom: 			10px;
    text-decoration: 		none;
    overflow: 				hidden;
    text-align:				center;
}
.news_list_item_picturedefault:link,
.news_list_item_picturedefault:hover,
.news_list_item_picturedefault:active,
.news_list_item_picturedefault:visited
{
    display: 				block;
    margin-bottom: 			10px;
    text-decoration: 		none;
    overflow: 				hidden;
    height: 				170px;
    background-color: 		#EEE;
}
.news_list_item_title:link,
.news_list_item_title:hover,
.news_list_item_title:active,
.news_list_item_title:visited
{
    display: 			block;
    font-size: 			14pt;
    font-weight: 		600;
    color: 				#000;
    color:				#009EE0;
}
.theme_desc
{
    margin-bottom: 20px;
    width: 80%;
}
.news_list_item_title:hover
{
    text-decoration: none;
}
.news_list_date
{
    font-size: 			9pt;
    margin-top: 		10px;
    color: 				#555;
    font-weight: 		300;
    display: 			inline-block;
}
.news_list_link:link,
.news_list_link:hover,
.news_list_link:active,
.news_list_link:visited
{
    font-size: 			9pt;
    display: 			inline-block;
    color:				#009EE0;
}
.news_list_link:hover
{
    text-decoration: 		underline;
}

.news_list_item_description
{
    padding: 			2px 0;
    font-size: 			10pt;
    font-weight: 		400;
    color:				#000;
    margin-bottom:		5px;
}


/**************************
 * News > Zoom
 **************************/
#news_zoom
{
    position: 					relative;
    padding-bottom: 			50px;
    background-color: 			#FFF;
    padding:					40px 50px;
}
#news_zoom .news_zoom_picture
{
    float:			left;
    width:			30%;
    margin-right:	2%;
}
#news_zoom .news_zoom_text
{
    float:			right;
    width:			65%;
}
.news_zoom_picture
{
}
.news_zoom_picture img
{
    max-width: 100%;
}
.news_zoom_date
{
    font-size: 			12px;
    color: 				#888;
    margin:				0;
}
#news_zoom h2
{
    font-size: 			20pt;
    font-weight: 		600;
    color: 				#ffcb32;
    margin:				0 0 20px 0;
}
.news_zoom_shortdescription
{
    padding: 			3px 0;
    font-size: 			16px;
    font-weight: 		bold;
    text-align: 		justify;
}
.news_zoom_fulldescription
{
    padding: 			5px 0;
    font-size: 			13px;
    text-align: 		justify;
}

#news_zoom_seemore_bloc
{
    text-align: 			center;
    padding: 				40px 0;
    padding-bottom: 		0;
    border-top: 			1px solid #eee;
    margin: 				0 20px;
}
#news_zoom_seemore_bloc::before
{
    content: 			" ";
    display: 			block;
    clear: 				both;
}
.news_zoom_seemore_link:link,
.news_zoom_seemore_link:hover,
.news_zoom_seemore_link:active,
.news_zoom_seemore_link:visited
{
    background-color: #f99a01;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid #f99a01;
}

.news_zoom_seemore_link:hover
{
    background-color: 	#fff;
    color: #141006;
    text-decoration: 	none;
}

/****************************
 * RESPONSIVE < 980px
 ****************************/
@media only screen
and (max-width : 1210px)
{
    .commons_bloc
    {
        width: 					auto;
        margin: 				0 5%;
    }
}


/****************************
 * RESPONSIVE < 980px
 ****************************/
@media only screen
and (max-width : 980px)
{
    #news_listitems
    {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }
}

@media only screen
and (max-width : 720px)
{
    #news_listitems
    {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }

    .home_news_une_content,
    .home_news_une_picture
    {
        float:		none;
        width:		auto;
    }



    #news_zoom
    {
        padding-bottom: 0;
        margin-bottom: 0;

    }
    #news_list
    {
        padding:0;
    }
    #news_zoom .news_zoom_picture,
    #news_zoom .news_zoom_text
    {
        float:			none;
        margin-right:	0%;
        width:			auto;
        margin-bottom:	20px;
    }
}



@media only screen
and (max-width : 480px)
{
    .news_listitems
    {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
}