.pageform
{
	/*margin: 			0 40px;*/
}
.pagefo_type_form .title
{
	margin: 			5px 10px;
}
.required
{
	color: 				red;
}

.formitem
{
	margin: 			0px 0;
	padding: 			3px 0px;
}

.formitem_item
{
	clear: 					both;
	padding: 				1px 0;
	margin-bottom: 			1px;
	margin: 				0 10px;
}

.formitem_label
{
	font-weight: 		600;
	font-size: 			10pt;
	/*margin: 			1px 0;*/
	/*float: 				left;*/
	/*width: 				90px;*/
	/*text-align: 		right;*/
	padding: 			6px 0;
	color: 				#444;
}

.formitem_field
{
	/*float: 				right;*/
	/*width: 				200px;*/
	margin-right: 		3px;
}

.formitem_field .pageform_edit,
.formitem_field .pageform_textarea,
.pageform_captcha_edit
{
	width: 					100%;
	border: 				1px solid #dfdfdf;
	background-color: 		#fafafa;
	padding: 				6px 10px;
	font-size: 				10pt;
	color: 					#444;
	-moz-border-radius:		2px;
	-webkit-border-radius:	2px;
	border-radius:			2px;
}
.formitem_field .pageform_edit:focus,
.formitem_field .pageform_textarea:focus
{
	background-color: 		#f6f6f6;
	border: 				1px solid #ddd;
}

.pageform_checkbox
{
	font-size: 			10pt;
	margin: 			2px 0;
}

	.pageform_checkbox label
	{
		margin:			0 4px;
	}
.pageform_radio
{
	font-size: 			10pt;
	color: 				#222;
}

.pageform_submit
{
	text-align: 		center;
}

.pageform_captcha
{
	clear: both;
	background-color: 	#FFF;
	margin-top: 		5px;
}


.pageform_captcha_image
{
	float: 				right
}
.pageform_captcha label
{
	display: 			block;
	font-size: 			10pt;
}
.pageform_captcha_edit
{
	width: 				50%;
}
.pageform_captcha
{
	margin: 			5px 10px;
	padding: 			10px;
	border: 			1px solid #EEE;
}