#commons_main{padding-bottom: 60px;}

.product_title_block
{
	background-color: #f99a01;
	text-align: center;
	padding: 20px 0;
}

.product_title_block h1_like
{
	color: 			#fff;
	margin: 		0;
	font-size: 		20pt;
}


.product_pagedescription
{
	color: 					#fff;
	font-size: 				14pt;
}

#product_zoom
{
	background-color: 	#fff;
	padding: 			40px 50px;
}



		#product_zoom h2
		{
			text-transform:	 		uppercase;
			font-size: 				11pt;
			font-weight: 			700;
			padding: 				0;
			margin: 				0;
			margin-bottom: 			10px;
		}

	/****************************
	* Introduction
	****************************/
	#product_zoom_intro
	{
		padding: 0 0 60px 0;
	}
		#product_zoom_intro h1
		{
			padding:	 	0;
			margin:	 		0;
			font-size: 		14pt;
		}
		.product_zoom_baseline
		{
			color: #f99a01;
			font-size: 14px;
			font-weight: bold;
		}
			.product_zoom_price
			{
				float: 				right;
				color: 				#888;
				font-size: 			12px;
				font-weight: 		400;
				text-align: 		center;
				text-transform: 	uppercase;
			}
				.product_zoom_price span
				{
					display: 			block;
					font-size: 			20px;
					font-weight: 		600;
					color: 				#f99a01;
				}
		
		
	/****************************
	* Main
	****************************/
	#product_zoom_main
	{
		float: 				left;
		width: 				48%;
		margin-right: 		2%;
		padding-right: 		2%;
		border-right: 		1px solid #ddd;
	}
		.product_zoom_description
		{
			font-size: 		10pt;
			line-height: 	160%;
			margin-bottom: 	20px;
		}
		.itemswrap
		{
			margin: 0;
			padding: 0;
			position: relative;
		}
		.slidesjs-navigation 
		{
			position: absolute;
			background-image: url('../images/home/slider.png');
			background-repeat: no-repeat;
			background-size: 	40px;
			height: 40px;
			width: 20px;
			top: 45%;
			font-size: 0;
			z-index: 1000000;
		}
		.slidesjs-previous
		{
			left: 					0;
			background-position: 	-15% 50% ;
			background-color: 		rgba(0,0,0,.2);
			-moz-border-radius:		2px;
			-webkit-border-radius:	2px;
			border-radius:			2px;
			opacity: 				0;
			-webkit-transition:	all .2s ease-out;
			-moz-transition:	all .2s ease-out;
			-o-transition:		all .2s ease-out;
			transition:			all .2s ease-out;
		}
		.slidesjs-next
		{
			right: 					0;
			background-position: 	108% 50%;
			background-color: 		rgba(0,0,0,.2);
			-moz-border-radius:		2px;
			-webkit-border-radius:	2px;
			border-radius:			2px;
			opacity: 				0;
			-webkit-transition:	all .2s ease-out;
			-moz-transition:	all .2s ease-out;
			-o-transition:		all .2s ease-out;
			transition:			all .2s ease-out;
		}
		#diapo:hover .slidesjs-previous,
		#diapo:hover .slidesjs-next
		{
			opacity: 				1;
		}
		
		#diapo:hover .slidesjs-previous:hover,
		#diapo:hover .slidesjs-next:hover
		{
			opacity: 				1;
			background-color: 		rgba(0,0,0,.5);
		}
		
		.slidesjs-stop,
		.slidesjs-play
		{
			display: 				none !important;
		}
		
	/****************************
	* Caract
	****************************/			
	#product_zoom_caract
	{
		float: left;
		width: 48%;
	}
		.product_zoom_caracteristic
		{
		}
			.product_zoom_caracteristic table
			{
				width: 					100%;
				border-collapse:		collapse;
			}
				.product_zoom_caracteristic th,
				.product_zoom_caracteristic td
				{
					/*border-bottom: 			3px solid #FFF;*/
					background-color: 		#F7F7F4;
					padding: 				10px 25px;
					font-size: 				10pt;
					font-weight: 			400;
				}
				.product_zoom_caracteristic th
				{
					background-color: 		#EEEDE7;
					font-weight: 			600;
					width: 					40%;
				}
				.product_zoom_caracteristic table tr:nth-child(odd) th 		{ background: #FAFAFA; }
				.product_zoom_caracteristic table tr:nth-child(even) th 	{ background: #EEEEEE; }
				
				.product_zoom_caracteristic table tr:nth-child(odd) td 		{ background: #F5F5F5; }
				.product_zoom_caracteristic table tr:nth-child(even) td 	{ background: #EAEAEA; }

				
	/**********************************
	 * Donwloads
	 **********************************/
	#product_zoom_download
	{
		margin: 			40px 0;
	}
		.product_zoom_pdf,
		.product_zoom_jpg
		{
			float: left;
			display: block;
			width: 32%;
			width: 49%;
			color: #333;
			font-size: 		10pt;
			padding: 10px 0 10px 35px;
			background-repeat: no-repeat;
			background-position: left center;
			margin-right: 1%;
			margin-bottom: 5px;
			height: 60px;
			display: -ms-flexbox;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-justify-content: flex-start;
			-ms-flex-pack: start;
			justify-content: flex-start;
			-webkit-align-content: stretch;
			-ms-flex-line-pack: stretch;
			align-content: stretch;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;

		}
		
		.product_zoom_pdf:hover,
		.product_zoom_jpg:hover
		{
			text-decoration: 		underline;
		}
		
		
		.product_zoom_pdf
		{

			background-image: url('../images/commons/pdf.png');

		}
		.product_zoom_jpg
		{
			background-image: url('../images/commons/jpg.png');
		}
	
				
#product_zoom_contact
{
	text-align: 		center;
	/*margin: 			20px 0;*/
	margin-top: 		15px;
	padding-top: 		40px;
	border-top: 		1px solid #eee;
}

	#product_zoom_contact a:link,
	#product_zoom_contact a:hover,
	#product_zoom_contact a:active,
	#product_zoom_contact a:visited
	{
		    background-color: #6d6968;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid #6d6968;
	}
	#product_zoom_contact a:hover
	{
		background-color: #f36f03;
    color: #fdfaf7;
    text-decoration: none;
    border: 1px solid #f36f03;
	}

	
/**********************************
 * Related Product
 **********************************/

#product_zoom_related_title
{
	margin-top: 			40px;
	text-transform:	 		uppercase;
	font-size: 				12pt;
	font-weight: 			700;
	padding: 				15px 0;
	color: 					#111;
}

#product_zoom_related
{
	/*
	background-color: 	#fff;
	padding: 			40px 50px;
	*/
} 
 
#product_zoom_related::after
{
	content: 		" ";
	display: 		block;
	clear: 			both;
} 

.product_zoom_related_item 
{
	position: 			relative;
	float: 				left;
	width: 				23.5%;
	margin-right: 		2%;
	background-color: 	#fff;
	min-height:			530px;
	padding: 			35px 30px;
}
.product_zoom_related_item:last-child
{
	margin-right: 		0;
}
	.product_zoom_related_item_picture
	{
		text-align: 			center;
	} 
	.product_zoom_related_item_name 
	{
		display: 				block;
		margin: 				2px 0;
		font-weight: 			bold;
		font-size: 				18px;
		color: 					#282828;
		text-align:				left;
	}
	.product_zoom_related_item_baseline 
	{
		padding: 				2px;
		text-align: 			left;
		padding: 				2px 0px;
		font-size: 				16px;
		color: 					#f99a01;
		font-weight:			bold;
		margin-bottom:			10px;
		font-size:				14px;
	}
	.product_zoom_related_item_description 
	{	
		font-size: 				10pt;
		color: 					#1D1B1E;
	}
	.product_zoom_related_item_categoryname 
	{
		color:				#fff;
		background-color: 	#f99a01;
		padding: 			4px 12px;
		margin-top: 		20px;
		display: 			inline-block;
		font-size:			10pt;
	}
 
	
	
	.product_zoom_related_item::after
	{
		content: 			" ";
		display: 			block;
		clear: 				both;
		position: 			absolute;
		bottom: 			0;
		left: 				0;
		width: 				0;
		opacity:			0;
		border: 			1px solid #f99a01;
		-webkit-transition:	all .4s ease-out;
		-moz-transition:	all .4s ease-out;
		-o-transition:		all .4s ease-out;
		transition:			all .4s ease-out;
	}

	.product_zoom_related_item:hover::after
	{
		opacity:			1;
		width: 				100%;
	}
	.product_zoom_related_item::before
	{
		content: 			" ";
		display: 			block;
		clear: 				both;
		position: 			absolute;
		top: 				0;
		right: 				0;
		width: 				0;
		opacity:			0;
		border: 			1px solid #f99a01;
		-webkit-transition:	all .4s ease-out;
		-moz-transition:	all .4s ease-out;
		-o-transition:		all .4s ease-out;
		transition:			all .4s ease-out;
	}

	.product_zoom_related_item:hover::before
	{
		opacity:			1;
		width: 				100%;
	}
 
 
/****************************
 * RESPONSIVE < 700px
 ****************************/
@media only screen
and (max-width : 1200px) 
{

}

/****************************
 * RESPONSIVE < 700px
 ****************************/
@media only screen
and (max-width : 980px) 
{
	#product_zoom_main,
	#product_zoom_caract
	{
		float: none;
		width: auto;
		margin-right: 0;
		padding-right: 0;
		border-right: none;
	}

}

@media only screen
and (max-width : 720px) 
{
	#product_zoom
	{
		padding: 			20px 15px;
	}

    .commons_zoom
    {
        float:               none;
        width:               auto;
    }
 	.slidesjs-container
	{
		height: 400px !important;
	}
	
	
	.product_zoom_price
	{
		float: 				none;
		background-color: 	#EDEDED;
		padding: 			10px;
		margin: 			10px 0;
	}
	
		
	.product_zoom_related_item 
	{
		width: 				auto;
		margin-right: 		0;
		min-height:			auto;
		padding: 			35px 30px;
	}
}