@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);html,
body{font-family:'Open Sans';margin:0;padding:0;color:#111;font-size:9pt;}
.commons_block{max-width:1250px;margin:0 auto;}
img{max-width:100%;vertical-align:bottom;}
h1{font-size:40px;font-weight:bold;color:#1b1a1b;padding:0;font-family:'Open Sans';font-weight:700;}
.burger,
.burger::before,
.burger::after{position:relative;top:12px;left:0;width:30px;height:3px;background-color:#fff;-moz-transition:all .3s;-o-transition:all .3s;-webkit-transition:all .3s;transition:all .3s;display:block;}
#commons_header_height{}
#commons_header_height.fixed{height:152px;}
#tawkchat-minified-container{display:none;}
#commons_header_general{top:-150px;-webkit-transition:all .4s ease-out;-moz-transition:all .4s ease-out;-o-transition:all .4s ease-out;transition:all .4s ease-out;}
#commons_header_general.fixed{position:fixed;z-index:10000000;top:0;left:0;right:0;box-shadow:0 0 3px rgba(0,0,0,.5);border-bottom:4px solid #6d6968;}
#commons_header_general.fixed #commons_utility{display:none;}
#commons_header_general.fixed #commons_top{padding: 2% 0%;}
#commons_header_general.fixed .commons_logo:link,
#commons_header_general.fixed .commons_logo:hover,
#commons_header_general.fixed .commons_logo:active,
#commons_header_general.fixed .commons_logo:visited{height:40px;width:15%;}
#commons_header_general.fixed #commons_menu .menu_item{padding:0;}
#page_header{position:relative;background-color:#6d6968;text-align:center;padding:22px 0;background-position:center center;background-repeat:no-repeat;background-size:cover;}
#page_header::before{z-index:0;content:" ";display:block;clear:both;position:absolute;z-index:0;top:0;left:0;right:0;bottom:0;background-color:rgba(142, 134, 134, 0.93);}
#page_header h1,
#page_header .h1_like{position:relative;z-index:1;font-size:30pt;font-weight:700;color:#fff;text-transform:uppercase;margin:0;font-family:inherit;}
#page_header h1 i,
#page_header .h1_like i{font-weight:300;font-style:normal;}
#page_header .page_header_description{position:relative;z-index:1;color:#fff;font-size:14pt;}
#page_header1{position:relative;background-color:#6d6968;text-align:center;padding:100px 0;background-position:center center;background-repeat:no-repeat;background-size:cover;}
#page_header1::before{z-index:0;content:" ";display:block;clear:both;position:absolute;z-index:0;top:0;left:0;right:0;bottom:0;background-color:rgba(39, 39, 39, 0.41);height:125px !important;}
#page_header1 h1,
#page_header1 .h1_like{position:relative;z-index:1;font-size:30pt;font-weight:700;color:#fff;text-transform:uppercase;margin:0;font-family:inherit;}
#page_header1 h1 i,
#page_header1 .h1_like i{font-weight:300;font-style:normal;}
#page_header1 .page_header_description{position:relative;z-index:1;color:#fff;font-size:14pt;}
*,
*:after,
*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.commons_mobile_btn{-webkit-transition:all .4s ease-out;-moz-transition:all .4s ease-out;-o-transition:all .4s ease-out;transition:all .4s ease-out;cursor:pointer;float:left;height:27px;margin:7px 2% 00px 0;width:5%;}
.commons_mobile_btn::before,
.commons_mobile_btn::after{content:"";display:block;}
.burger::before{content:" ";top:-8px;-moz-transition:all .3s;-o-transition:all .3s;-webkit-transition:all .3s;transition:all .3s;position:absolute;}
.burger::after{content:" ";top:8px;-moz-transition:all .3s;-o-transition:all .3s;-webkit-transition:all .3s;transition:all .3s;position:absolute;}
.clicked .burger{background-color:transparent;}
.clicked .burger::before{top:0px;-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.clicked .burger::after{top:0px;-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);}
#commons_banner{background-color:#f99a01;position:relative;border-bottom:2px solid #333;}
#commons_footer{}
.commons_logo:link,
.commons_logo:hover,
.commons_logo:active,
.commons_logo:visited{display:block;float:left;width:20%;height:75px;margin-right:5%;margin-left:2%;background-image:url(../images/logo.png);background-position:left;background-repeat:no-repeat;background-size:contain;}
.commons_logo:link span,
.commons_logo:hover span,
.commons_logo:active span,
.commons_logo:visited span{display:none;}
.page_flag_link:link,
.page_flag_link:hover,
.page_flag_link:active,
.page_flag_link:visited{margin:0 2px;opacity:0.3;}
.page_flag_link_selected:link,
.page_flag_link_selected:hover,
.page_flag_link_selected:active,
.page_flag_link_selected:visited,
.page_flag_link:hover{opacity:1;}
#commons_login:link,
#commons_login:hover,
#commons_login:active,
#commons_login:visited{display:block;position:absolute;top:7px;right:7px;width:20px;height:20px;background-image:url(../images/commons/secure.png);background-repeat:no-repeat;background-position:center center;opacity:0.1;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;}
#commons_login:hover{opacity:0.3;}
#commons_flag{display:block;float:left;color:#CCC;font-size:5pt;margin:0;background-position:left;background-repeat:no-repeat;margin-right:5px;margin-top:3px;}
#commons_flag #commons_flag_changer{display:none;position:absolute;right:0;background-color:#474747;padding:5px 2px;border-radius:5px;opacity:0.8;}
#commons_flag #commons_flag_changer a:link,
#commons_flag #commons_flag_changer a:hover,
#commons_flag #commons_flag_changer a:active,
#commons_flag #commons_flag_changer a:visited{float:left;border:0;padding:3px 0;}
#commons_flag #commons_flag_changer img{float:left;margin:0 2px;}
#commons_utility{padding:0;position:relative;}
#commons_utility a:link,
#commons_utility a:hover,
#commons_utility a:active,
#commons_utility a:visited{color:#fff;}
#commons_banner_center{position:relative;}
.commons_top_phone,
.commons_top_mail,
.commons_top_callback{font-size:10pt;padding:6px 20px 6px 30px;display:block;background-size:14%;background-repeat:no-repeat;background-position:left center;border-right:1px solid #ddd;}
.commons_top_phone{background-color:#f99a01;color:#fff;background-position:5px 50%;background-image:url('../images/commons/telephonew.png');}
.commons_top_mail{width:170px;height:30px;background-size:auto;background-image:url('../images/commons/courrier.png');}
.commons_top_callback{float:left;padding:6px 20px;height:30px;}
#commons_search{float:left;border-right:1px solid #ddd;}
#commons_search_input{font-family:'Open Sans';color:#111;font-size:10pt;background-image:url('../images/commons/loupe.png');background-repeat:no-repeat;background-position:5px 50%;background-color:#ffffff;height:30px;padding:3px 5px;padding-left:30px;background-size:20px;border:0;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;}
#commons_search_input:focus{background-color:#eee;}
.search_noresult{padding:20px 20px;text-align:center;font-size:20pt;color:#ccc;}
#commons_search_result{position:absolute;background-color:#fff;z-index:100000000;width:400px;box-shadow:0 5px 10px rgba(0,0,0,.5);max-height:90vh;overflow-y:auto;}
#commons_search_result .search_item:link,
#commons_search_result .search_item:hover,
#commons_search_result .search_item:active,
#commons_search_result .search_item:visited{display:block;padding:10px 10px;border-bottom:1px dotted #eee;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;}
#commons_search_result .search_item:hover{background-color:#f6f6f6;}
#commons_search_result .search_item::after{content:" ";display:block;clear:both;}
#commons_search_result .search_item .search_item_img{float:left;width:20%;text-align:center;margin-top:10px;}
#commons_search_result .search_item .search_item_img img{padding:5px;border:1px solid #fff;background-color:#fff;}
#commons_search_result .search_item:hover .search_item_img img{border:1px solid #eee;}
#commons_search_result .search_item .search_item_info{float:right;width:75%;}
#commons_search_result .search_item .search_item_name{font-size:10pt;font-weight:700;color:#111;}
#commons_search_result .search_item .search_item_baseline{font-size:9pt;font-weight:600;color:#009EE0;padding:2px 0;}
#commons_search_result .search_item .search_item_description{font-size:8pt;font-weight:400;color:#111;padding:2px 0;}
#commons_search_result .search_item .search_item_category{display:inline-block;background-color:#009EE0;color:#fff;font-size:8pt;font-weight:600;padding:3px 8px;margin-top:2px;}
#commons_top{background-color:#161616;color:#fff;padding:10px 0;}
#commons_header{float:right;margin-right:2%;text-align:right;position:absolute;top:0;bottom:0;right:0;left:25%;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;-webkit-align-content:stretch;-ms-flex-line-pack:stretch;align-content:stretch;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
#commons_top .commons_block{position:relative;}
#commons_header a:link,
#commons_header a:hover,
#commons_header a:active,
#commons_header a:visited{position:relative;color:#fff;
margin-left:13px;font-size:11pt;font-weight:bold;
text-transform:uppercase;text-decoration:none;}
#commons_header a::before:hover{position:absolute;content:" ";display:block;clear:both;height:3px solid #fff;}
.commons_utility_left{float:left;color:#666;}
.commons_utility_left form{float:left;}
.commons_utility_left .commons_top_phone{float:left;}
.commons_utility_left .commons_top_mail{float:left;}
.commons_utility_right .smart_classic a{font-size:9pt;margin-left:12px;font-weight:600;text-transform:uppercase;}
.commons_utility_right .smart_classic{position:relative;margin-left:8px;}
.commons_utility_right .smart_classic::before{content:" ";display:block;clear:both;position:absolute;left:0;top:4px;bottom:4px;border-left:1px solid #aaa;}
.commons_utility_right{float:right;color:#666;position:absolute;top:0;bottom:0;right:0;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-content:stretch;-ms-flex-line-pack:stretch;align-content:stretch;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
#commons_menu{background-color:#f99a01;padding:0;}
#commons_menu ul,
#commons_menu li{margin:0;padding:0;}
#commons_menu .menu_separator{display:inline-block;position:relative;top:2px;border-left:2px solid rgba(255, 255, 255, 0.56);height:15px;width:0;margin-right:15px;}
.commons_menu_items .commons_menu_item,
.commons_menu_items a:link,
.commons_menu_items a:hover,
.commons_menu_items a:active,
.commons_menu_items a:visited{position:relative;display:inline-block;padding:8px 0;color:rgba(255,255,255,1);margin:0 20px;font-weight:700;text-transform:uppercase;text-decoration:none;font-size:10pt;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;}
.commons_menu_items .commons_menu_item{margin-left:0;}
.commons_menu_items a:first-child{margin-left:0 !important;}
#commons_menu .commons_menu_item,
#commons_menu a.commons_menu_item:hover,
#commons_menu a.commons_menu_item.selected:link,
#commons_menu a.commons_menu_item.selected:hover,
#commons_menu a.commons_menu_item.selected:active,
#commons_menu a.commons_menu_item.selected:visited{}
#commons_menu a.commons_menu_item::before{position:absolute;content:" ";display:block;clear:both;left:0;right:0;height:2px;bottom:0;background-color:#009EE0;opacity:0;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;}
#commons_menu a.commons_menu_item:hover::before,
#commons_menu a.commons_menu_item.selected::before{opacity:1;bottom:6px;}
#commons_menu_center{text-align:center;}
#commons_menu ul,
#commons_menu li{list-style-type:none;display:inline;}
#commons_menu .menu_item{position:relative;padding:0 0;display:inline-block;}
#commons_menu .submenu{display:none;position:absolute;left:0;z-index:10000000;background-color:#252525;background-color:#161616;padding:5px;color:#eee;min-width:250px;box-shadow:0 0 5px rgba(0,0,0,.5);}
#commons_menu .submenu .commons_submenu_item:link,
#commons_menu .submenu .commons_submenu_item:hover,
#commons_menu .submenu .commons_submenu_item:active,
#commons_menu .submenu .commons_submenu_item:visited{font-size:9pt;font-weight:400;}
#commons_menu .menu_item:hover .submenu{display:block;}
#commons_menu .menu_item .submenu .commons_submenu_item:link,
#commons_menu .menu_item .submenu .commons_submenu_item:hover,
#commons_menu .menu_item .submenu .commons_submenu_item:active,
#commons_menu .menu_item .submenu .commons_submenu_item:visited{color:#eee;display:block;border-top:1px solid #444;padding:5px 10px;margin:0;text-align:left;text-transform:none;white-space:nowrap;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;}
#commons_menu .menu_item .submenu .commons_submenu_item:hover{padding-left:20px;}
#commons_menu .submenu,
#commons_menu .submenu li{padding:0;margin:0;}
#commons_menu .submenu .commons_submenu_item:hover{background-color:#333;}
#commons_main{background-color:#EDEDED;border-top:1px solid #161616;border-bottom:1px solid #161616;}
#pathfinder{color:#111;padding:15px 0;font-size:11pt;}
#pathfinder ol{list-style-type:none;margin:0;padding:0;}
#pathfinder li{list-style-type:none;display:inline-block;}
#pathfinder li a:link,
#pathfinder li a:hover,
#pathfinder li a:active,
#pathfinder li a:visited{color:#02232C;color:#111;margin:0 5px;}
#pathfinder li a.last:link,
#pathfinder li a.last:hover,
#pathfinder li a.last:active,
#pathfinder li a.last:visited{font-weight:600;}
#commons_main_center{background-color:#FFF;border:1px solid #FFF;border-left:0;border-right:0;box-shadow:0 0 3px #CCC;padding:50px 0;margin:0;}
#commons_main_home{}
#home_flash_bottom{background-color:#009DE0;border-top:1px solid #0076A8;height:118px;overflow:hidden;}
#home_flash_bottom_center{width:990px;margin:0 auto;}
#commons_footer{text-align:right;color:#777;font-size:9pt;padding:5px 0;background-color:#262626;}
#commons_footer_intern{padding:31px 0px;}
.commons_footer_firstbloc{width:28%;float:left;margin:2% 3%;position:relative;text-align:left;}
.commons_footer_firstbloc > img{}
#commons_footer_txt{border-top:1px solid rgba(255,255,255,0.1);padding-top:20px;padding-bottom:20px;}
.commons_footer_menubloc{width:36%;float:left;margin:11% 2% 2%;position:relative;}
.commons_footer_menubloc #menu1,
.commons_footer_menubloc #menu2{border-left:1px solid rgba(255,255,255,.1);min-height:300px;padding-left:20px;}
.commons_footer_facebook{width:20%;float:left;}
#commons_menu .commons_block{position:relative;margin-left:25%;}
.commons_menu_items{float:left;width:88%;}
.commons_menu_social{float:left;width:30%;position:absolute;top:0;bottom:0;right:0;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;-webkit-align-content:stretch;-ms-flex-line-pack:stretch;align-content:stretch;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.commons_menu_social a:link,
.commons_menu_social a:hover,
.commons_menu_social a:active,
.commons_menu_social a:visited{float:left;box-sizing:content-box;border-left:1px solid rgba(255,255,255,0.1);text-decoration:none;}
.commons_menu_social a div{background-position:center top !important;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;}
.commons_menu_footersocial{margin-top:20px;}
.commons_menu_social a:hover div{background-position:center bottom!important;}
.commons_menu_footersocial a:hover div{background-position:center bottom!important;}
.commons_menu_footersocial a:link,
.commons_menu_footersocial a:hover,
.commons_menu_footersocial a:active,
.commons_menu_footersocial a:visited{float:left;margin-right:8px;margin-bottom:10px;text-decoration:none;}
.commons_menu_footersocial a div{width:34px;height:34px;background-position:center top !important;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;}
#footer ul,
#footer li{list-style:none;color:#fff;text-align:left;}
#footer ul{margin:0;padding:0;color:#fff;}
#footer .menu_item{float:left;width:50%;}
.commons_footer_logo{width:358px;width:270px;}
#commons_footer span{color:#fff;}
#commons_footer .commons_menu_item a:link,
#commons_footer .commons_menu_item a:hover,
#commons_footer .commons_menu_item a:active,
#commons_footer .commons_menu_item a:visited{font-size:9pt;padding-left:15px;background-image:url(../images/commons/chevron.png);background-position:center left;background-repeat:no-repeat;background-size:5px 7px;margin-bottom:5px;display:block;}
.commons_facebook:link,
.commons_facebook:hover,
.commons_facebook:active,
.commons_facebook:visited{display:block;width:37px;height:69px;position:fixed;z-index:100000;right:0;top:200px;background-image:url(../images/commons/facebook.png);background-position:bottom left;background-repeat:no-repeat;}
.commons_facebook:link span,
.commons_facebook:hover span,
.commons_facebook:active span,
.commons_facebook:visited span{display:none;}
#footer .submenu li{font-size:9pt;padding:2px 0;padding-left:10px;}
#footer .submenu li::before{content:" > ";color:rgba(255,255,255,.5);padding-right:5px;}
#commons_afterfooter{background-color:#000;color:#fff;padding:10px 0;}
#afterfooter_menu{float:left;}
#afterfooter_realisation{float:right;}
#afterfooter_menu a,
#afterfooter_realisation a,
#afterfooter_realisation{color:#fff;}
#commons_footer_txt{text-align:left;color:#fff;margin-top:30px;}
#commons_footer_txt p{margin:2px 0;}
#commons_footer_txt b{margin:10px 0 0 0;display:block}
#commons_footer_txt a:link,
#commons_footer_txt a:hover,
#commons_footer_txt a:active,
#commons_footer_txt a:visited{display:inline-block;background-color:#2494CA;-moz-border-radius:25px;-webkit-border-radius:25px;border-radius:25px;padding:8px 12px;margin:5px 0;color:#fff;font-size:12pt;font-weight:600;}
.commons_link_login:link,
.commons_link_login:hover,
.commons_link_login:active,
.commons_link_login:visited{display:block;float:right;margin-top:55px;margin-right:40px;width:132px;padding:6px 0;text-align:center;color:#DDD;font-size:7pt;text-transform:uppercase;font-weight:bold;background-image:url(../images/commons/connexion.png);background-position:left;background-repeat:no-repeat;text-decoration:none;}
.commons_link_login:hover{color:#FFF;}
.commons_social{position:relative;}
.commons_footer_firstbloc .commons_footer_separation{right:-30px;}
.commons_footer_menubloc .commons_footer_separation{left:180px;}
.commons_social .commons_footer_separation{left:-40px;}
.mobile{display:none;}
.smart_mobile{display:none;}
.classic{display:block;}
.smart_classic{display:block;}
.menu_mobile_content{display:none;}
#topmobile{background-image:url(../images/logo.png);background-position:30px 30px;background-repeat:no-repeat;background-size:200px;padding-top:90px;background-color:#161616;}
#topmobile .menu_item{background-color:rgba(255,255,255,0.02);margin-bottom:1px;}
.commons_top_menumobile_link:link,
.commons_top_menumobile_link:hover,
.commons_top_menumobile_link:active,
.commons_top_menumobile_link:visited{font-size:11pt;font-weight:500;}
@media only screen
and (max-width:1200px){.commons_block{max-width:100%;margin:0 5%;}
.mobile{display:block;}
.classic{display:none;}
.commons_footer_separation{display:none;}
h1,h2{background-image:none;}
#commons_header a:link,
#commons_header a:hover,
#commons_header a:active,
#commons_header a:visited{margin-left:20px;font-size:10pt;}
#commons_menu .commons_menu_items a:link,
#commons_menu .commons_menu_items a:hover,
#commons_menu .commons_menu_items a:active,
#commons_menu .commons_menu_items a:visited{font-size:9pt;margin:0 7px;}
#commons_menu .menu_separator{}
}
@media only screen
and (max-width:980px){.mm-opened{display:block;}
#commons_menu{display:none;}
#commons_top{background-color:#161616;color:#fff;padding:10px 0;}
.commons_logo:link,
.commons_logo:hover,
.commons_logo:active,
.commons_logo:visited{display:block;float:left;background-image:url("../images/logo.png");background-position:left center;background-repeat:no-repeat;background-size:contain;height:34px;margin:6px 0 0 18%;width:60%;}
.slidesjs-slide{background-color:#fff;}
.commons_footer_firstbloc{float:left;margin-right:5%;position:relative;width:33%;}
.commons_footer_menubloc{float:left;margin-right:1px;position:relative;width:62%;}
#commons_footer_txt{font-size:13px;}
.commons_footer_facebook{float:left;width:40%;}
.smart_mobile{display:block;}
.smart_classic,
#commons_header.smart_classic{display:none;}
.commons_footer_facebook{display:none;}
.commons_menu_social{display:none;}
}
@media only screen
and (max-width:780px){#commons_header_height.fixed{}
#commons_header_general.fixed{position:static;}
#pathfinder{display:none;}
#page_header{padding:10px 0;}
#page_header h1,
#page_header .h1_like{position:relative;z-index:1;font-size:16pt;font-weight:700;color:#fff;text-transform:uppercase;margin:0;}
#page_header .page_header_description{font-size:10pt;}
#commons_header_general.fixed .commons_logo:link,
#commons_header_general.fixed .commons_logo:hover,
#commons_header_general.fixed .commons_logo:active,
#commons_header_general.fixed .commons_logo:visited{height:36px;width:60%;}
#home_event .slidesjs-container{height:250px !important;}
#commons_footer span{color:#fff;font-size:14px;}
#afterfooter_realisation{float:none;text-align:center;}
#afterfooter_menu{float:none;text-align:center;}
#commons_utility{display:none;}
.commons_zoom{float:none;width:auto;}
.commons_footer_firstbloc,
.commons_footer_menubloc,
.commons_footer_facebook{float:none;margin-right:0%;position:relative;width:auto;margin-bottom:20px;text-align:left;}
.commons_footer_menubloc #menu1,
.commons_footer_menubloc #menu2{border-left:0;min-height:0;padding-left:20px;}
.commons_footer_logo{width:180px;}
#commons_afterfooter,
#commons_afterfooter .commons_block{padding:0 !important;margin:0;}
#commons_afterfooter #afterfooter_menu{padding:15px;margin:0;background-color:rgba(255,255,255,0.05);}
#commons_afterfooter #afterfooter_realisation{margin:0;padding:15px;text-align:center;border-top:1px solid rgba(255,255,255,.1);}
}
@media only screen
and (max-width:480px){.commons_menu_footersocial{margin-top:20px;border-bottom:1px solid rgba(255,255,255,0.1);padding-bottom:20px;}
.commons_menu_footersocial a:link,
.commons_menu_footersocial a:hover,
.commons_menu_footersocial a:active,
.commons_menu_footersocial a:visited{float:left;margin-right:10px;width:40px;margin-bottom:00px;text-decoration:none;}
.commons_footer_menubloc,
.commons_footer_facebook{margin-bottom:40px;}
.commons_zoom{float:none;width:auto;}
.commons_footer_facebook{display:none;}
#footer .menu_item{float:none;width:auto;margin-bottom:20px;border-bottom:1px solid rgba(255,255,255,0.1);padding-bottom:20px;}
#footer #menu2{border-bottom:none;}
}
.team h3.title-w3l{color:#fff;}
.w3ls-effect{display:block;height:236px;overflow:hidden;position:relative;-webkit-box-shadow:0 0 5px 0px rgba(0, 0, 0, 0.65);-moz-box-shadow:0 0 5px 0px rgba(0, 0, 0, 0.65);-o-box-shadow:0 0 5px 0px rgba(0, 0, 0, 0.65);-ms-box-shadow:0 0 5px 0px rgba(0, 0, 0, 0.65);box-shadow:9px -5px 2px 0px rgb(22, 22, 22);-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-ms-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;opacity:1;filter:alpha(opacity=100);margin-bottom:14%;}
.w3ls-effect img{height:100%;width:100%;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-ms-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.w3ls-effect:before{content:'';background-color:none;left:0;top:0;right:0;bottom:0;position:absolute;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-ms-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.w3ls-effect:hover:before{background-color:rgba(241, 121, 4, 0.71);}
.w3ls-effect:hover .view-caption{-moz-transform:translateY(-100%);-o-transform:translateY(-100%);-ms-transform:translateY(-100%);-webkit-transform:translateY(-100%);transform:translateY(-100%);border-radius:0 0 0 0;}
.w3ls-effect:hover .wthree-icon{bottom:25%;-moz-transform:translateY(-80%);-o-transform:translateY(-80%);-ms-transform:translateY(-80%);-webkit-transform:translateY(-80%);transform:translateY(-80%);}
.w3ls-effect:hover .wthree-icon a{-webkit-animation-name:translate-transition;-webkit-animation-duration:0.8s;-webkit-animation-timing-function:linear;-webkit-animation-iteration-count:1;animation-name:translate-transition;animation-duration:0.8s;animation-timing-function:linear;animation-iteration-count:1;}
.w3ls-effect .view-caption{background-color:#161616;-webkit-transition:all cubic-bezier(0.27, 0.89, 0.95, 0.59) 0.5s;-moz-transition:all cubic-bezier(0.27, 0.89, 0.95, 0.59) 0.5s;-ms-transition:all cubic-bezier(0.27, 0.89, 0.95, 0.59) 0.5s;-o-transition:all cubic-bezier(0.27, 0.89, 0.95, 0.59) 0.5s;transition:all cubic-bezier(0.27, 0.89, 0.95, 0.59) 0.5s;padding:20px;height:29%;text-align:left;position:relative;z-index:99;-webkit-border-radius:25px 0 0 0;-moz-border-radius:25px 0 0 0;border-radius:25px 0 0 0;}
.w3ls-effect .view-caption h4{color:#ff5722;font-size:1.3em;}
.w3ls-effect .view-caption p{margin-top:0.3em;}
.w3ls-effect .wthree-icon{bottom:0;padding:10px;left:0;position:absolute;right:0;text-align:left;overflow:hidden;z-index:9;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-ms-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;-moz-transform:translateY(1000%);-o-transform:translateY(1000%);-ms-transform:translateY(1000%);-webkit-transform:translateY(1000%);transform:translateY(1000%);}
.social-button{display:inline-block;background-color:#fff;width:32px;height:32px;margin:0 3px;line-height:32px;text-align:center;position:relative;overflow:hidden;opacity:.99;-webkit-border-radius:20%;-moz-border-radius:20%;border-radius:20%;}
.social-button:before{content:'';background-color:#000;width:120%;height:120%;position:absolute;top:102%;left:-118%;-webkit-transition:all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);-moz-transition:all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);transition:all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);}
.social-button .fa{font-size:18px;vertical-align:middle;-webkit-transform:scale(0.8);-moz-transform:scale(0.8);-o-transform:scale(0.8);-ms-transform:scale(0.8);transform:scale(0.8);-webkit-transition:all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);-moz-transition:all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);transition:all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);}
.social-button.facebook:before{background-color:#3B5998;}
.social-button.facebook .fa{color:#3B5998;}
.social-button.twitter:before{background-color:#3CF;}
.social-button.twitter .fa{color:#3CF;}
.social-button.google:before{background-color:#DC4A38;}
.social-button.google .fa{color:#DC4A38;}
.social-button.dribbble:before{background-color:#F26798;}
.social-button.dribbble .fa{color:#F26798;}
.social-button.skype:before{background-color:#00AFF0;}
.social-button.skype .fa{color:#00AFF0;}
.social-button:focus:before, .social-button:hover:before{top:-10%;left:-10%;}
.social-button:focus .fa, .social-button:hover .fa{color:#fff;-webkit-transform:scale(1);-o-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
.card{position:relative;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column;min-width:0px;overflow-wrap:break-word;background-color:rgb(247, 245, 245);background-clip:border-box;border-width:3px;border-style:solid;border-color:rgba(0, 0, 0, 0.125);border-image:initial;border-radius:0.25rem;}
.card-body{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;padding:1.25rem;}
.banner-sec .card{margin-bottom:20px;min-height:419px;}
.banner-sec .card:hover{background-color:rgb(255, 255, 255);}
.badge{display:inline-block;padding:.25em .4em;font-size:75%;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25rem;}
.badge-pill{padding-right:.6em;padding-left:.6em;border-radius:10rem;}
.badge-danger{color:#fff;background-color:#dc3545 !important;}
.title-small{color:#141517;font-size:16px;font-weight:400;line-height:23px;margin:6px 0 0;}
.text-time{color:#ff0000;font-weight:600;}
.banner-sec .card-img-overlay{padding:0;top:3px;left:7px;height:1%;}
.card-img-overlay{position:absolute;top:0;right:0;bottom:0;left:0;padding:1.25rem;}
.img-fluid{max-width:100%;height:180px;}
.port-meta-t{position:relative;background:#f99a01e0;text-align:center;width:100%;margin-top:-100px;color:#0c0c0c;font-weight:600;padding:10px;}
.port-meta-t:hover{background:#6d6968b5;color:#f1efec;}
.post{padding:5% 3%;max-height:315px !important;}
.recentimage{background:none;border-left:4px solid #f4a11a;box-shadow:0px 5px 0px 0px rgb(243, 167, 42);}
.recentimage:hover{border-left:4px solid #6d6968b5;box-shadow:7px 7px 0px 2px #f2a01a;}
.homeBlock{margin-left:22px;margin-right:25px;margin-top:-28px;}
.homeBlock a{border-left:3px solid #ffffff;display:block;box-shadow:-3px 4px 6px 2px #6d6968;position:relative;text-align:center;min-height:237px;max-width:287px;}
.homeBlock a:hover{border-top:4px solid #f99a01;border-bottom:4px solid #f99a01;box-shadow:-3px 4px 6px 2px #6d6968;-webkit-transition:all .4s ease-out;-moz-transition:all .4s ease-out;-o-transition:all .4s ease-out;transition:all .4s ease-out;}
.homeBlock a span.title{top:50%;width:98%;font-size:1.2em;font-weight:600;font-family:'proxima_nova_bold', Tahoma, Geneva, sans-serif;left:0;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);}
.fullpage .title{text-align:center;padding-top:5px;padding-bottom:15px;}
.homeBlock a span{position:absolute;z-index:2;text-transform:uppercase;color:#ffffff;text-align:center;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
*,:after,:before{box-sizing:border-box;}
.homeBlock a span.link{opacity:0;display:inline-block;top:60%;right:initial;bottom:initial;left:50%;background:#f37b03;padding:2%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);}
.homeBlock a span.link:before{content:'';position:absolute;width:100%;height:1px;margin-bottom:2px;background-color:white;visibility:hidden;top:initial;right:initial;bottom:-4px;left:0;-webkit-transform:scaleX(0);-moz-transform:scaleX(0);-ms-transform:scaleX(0);-o-transform:scaleX(0);transform:scaleX(0);-webkit-transition:all .3s ease-in-out 0s;-moz-transition:all .3s ease-in-out 0s;-ms-transition:all .3s ease-in-out 0s;-o-transition:all .3s ease-in-out 0s;transition:all .3s ease-in-out 0s;}
.homeBlock a .filter{position:absolute;z-index:1;background:#2f1e1e;opacity:0.3;top:0;right:0;bottom:0;left:0;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
.homeBlock a .filter:hover{z-index:1;background:#2f1e1efa;opacity:0.3;}
.inline{height:237px !important;width:100%;display:inline;}
.homeBlock a:hover span.link, .homeBlock a:focus span.link{opacity:1;}
.homeBlock a:hover, .homeBlock a:focus{opacity:1;}
.homeBlock a:hover span.title, .homeBlock a:focus span.title{opacity:1;top:40%;}
#accordion .panel{border:none;border-radius:0;box-shadow:none;overflow:hidden;position:relative;}
#accordion .panel-heading{padding:0;border:none;border-radius:0;position:relative;}
#accordion .panel-title a{display:block;padding:15px 20px;margin:0;background:#fe7725;font-size:18px;font-weight:700;letter-spacing:1px;color:#fff;border-radius:0;position:relative;}
#accordion .panel-title a.collapsed{background:#1c2336;}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{content:"\f068";font-family:fontawesome;width:30px;height:30px;line-height:25px;border-radius:50%;background:#fe7725;font-size:14px;font-weight:normal;color:#fff;text-align:center;border:3px solid #fff;position:absolute;top:10px;right:14px;}
#accordion .panel-title a.collapsed:before{content:"\f067";background:#ababab;border:4px solid #626262;}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{content:"";width:17px;height:7px;background:#fff;position:absolute;top:22px;right:0;}
#accordion .panel-title a.collapsed:after{width:19px;background:#ababab;}
#accordion .panel-body{border-left:3px solid #fe7725;border-top:none;background:#fff;color:#1c2336;line-height:27px;position:relative;}
#accordion .panel-body:before{content:"";height:3px;width:50%;background:#fe7725;position:absolute;bottom:0;left:0;}
#accordion .panel-body p{padding:10px;}
.contact-form{background:#fff;margin-top:10%;margin-bottom:5%;width:70%;}
.contact-form .form-control{border-radius:1rem;}
.contact-image{text-align:center;}
.contact-image img{border-radius:6rem;width:11%;margin-top:-3%;transform:rotate(29deg);}
.contact-form form{padding:9%;}
.contact-form form .row{margin-bottom:-7%;}
.contact-form h3{margin-bottom:8%;margin-top:-10%;text-align:center;color:#0062cc;}
.contact-form .btnContact{width:50%;border:none;border-radius:1rem;padding:1.5%;background:#dc3545;font-weight:600;color:#fff;cursor:pointer;}
.btnContactSubmit{width:50%;border-radius:1rem;padding:1.5%;color:#fff;background-color:#0062cc;border:none;cursor:pointer;}
.frame{background:#fbfbfb;width:31.333333% !important;margin:1%;padding:2%;text-align:center;min-height:424px !important;}
/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #f5055e;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	background: #969493;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a {
 background-color: #D3D3D3;   
}