{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1 style="font-size: 24pt;">RÉALISATIONS /
                            <span style="font-size:25px; color: #dea600;">SPORTS</span></h1>
                        <div  class="page_header_description" >Spécialiste de l’affichage dynamique Urbain LED</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->




    <!--container-->
    <div class="container colmn">
        <div class="row">



            <div  class="slick-list draggable">



                {% for realisation in realisations %}
                    <div class="col-md-4" style="margin-top: 27px; margin-bottom:20px; height: 569px;" >
                        <a href="{{ realisation.lien }}" class="home_service_item" title="" tabindex="0"><div class="home_service_item_picture">
                                <img src="{{ asset( realisation.media.src)}}" alt="" title="" style="height: 250px;"></div>
                            <h3>{{ realisation.titre }}</h3>
                            <div class="home_service_item_text">
                                {{ realisation.description }}
								<br>
								<b style="color:#f98306">Voir le produit</b>
                            </div>
                            <div class="home_service_item_mask" style="background-image: none !important;"></div>
                        </a>
                    </div>
                {% endfor %}







            </div>
        </div>

    </div>
    <!--/container-->

{% endblock %}