{% extends 'base.html.twig' %}

{% block body %}
<h1>Blogposts list</h1>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARC-->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </form>
        </div>


        <div class="col-md-9">
            <table class="table table-list-search">
                <thead>
                <tr>
                    <th>{{knp_pagination_sortable(blogPosts,'id','bq.id')}}</th>
                    <th>{{knp_pagination_sortable(blogPosts,'Titre','bq.titre')}}</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for blogPost in blogPosts %}
                    <tr>
                        <td>{{ blogPost.id }}</td>
                        <td>{{ blogPost.titre }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('blogpost_show', { 'id': blogPost.id }) }}">show                  </a>
                                </li>
                                <li>
                                    <a href="{{ path('blogpost_edit', { 'id': blogPost.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(blogPosts) }}
            </div>
        </div>
    </div>
</div>
    <ul>
        <li>
            <a href="{{ path('blogpost_new') }}">Create a new blogPost</a>
        </li>
    </ul>

{% endblock %}
