{% extends 'base.html.twig' %}

{% block body %}
    <h1>Realisations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realisation in realisations %}
            <tr>
                <td><a href="{{ path('realisation_show', { 'id': realisation.id }) }}">{{ realisation.id }}</a></td>
                <td>{{ realisation.titre }}</td>
                <td>{{ realisation.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('realisation_show', { 'id': realisation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('realisation_edit', { 'id': realisation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('realisation_new') }}">Create a new realisation</a>
        </li>
    </ul>
{% endblock %}
