{% extends 'base.html.twig' %}

{% block body %}
    <h1>Realisation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ realisation.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ realisation.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ realisation.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('realisation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('realisation_edit', { 'id': realisation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
