<!DOCTYPE html>
<html>
    <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133921111-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133921111-1');
</script>
<meta name="google-site-verification" content="0RqrjfH4KpDBInFky2cE4FWcHRJwp3Siyj6E1Ef9eVs" />

        <meta charset="UTF-8" />
        <meta name="description" content="ledcast fabrique des écrans géants LED intérieur et extérieur pour les magasins, TV, sport, spectacle. Pitch des dalles vidéo dès 1.2mm, en vente et location. MUR DE LED ET ECRAN GEANT LED EN VENTE ET LOCATION" >
        <meta name="keywords" content="ledcast, écran géant led, écrans led, dalle led, écran affichage dynamique, Vente écran LED, location écran LED, pitch, pitch très fin, affichage digital, mobilier digital urbain, mur d’image digital, écran transparent, écran circulaire, écran de commerces, écran de boutique, écran de vitrine, communication digitale dynamique, affichage numérique, mur vidéo, mur de led, mur à led, écran géant, écran stand modulaire, enseigne digitale, enseigne vidéo, écran vidéo géant, bords de stade, contour de stade, écran de stade, boarding led, scoring, bandeau publicitaire led, écran outdoor, écran indoor, écran ip 65, pixel, carte d’envoi, carte de réception, scaler, cabinet LED, led smd, écran évènementiel, novastar, écran à 90 degrés, écran à 180 degrés, écran led 360 degres, player led, led haute résolution, dalle led, cabinet led, signalétique led, contrôleur led, plv dynamique, plv digital, plv led, totem vidéo " >
        <meta name="identifier-url" content="https://www.ledcast.fr/" >
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
        <title>{% block title %}LEDCAST{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset ('framework/resources/css/page.css ') }}" rel="stylesheet" type="text/css" media="screen" >
            <link href="{{ asset ('project/design/resources/css/commons.css ') }}" rel="stylesheet" type="text/css" media="screen" >
            <!--link href="{{ asset ('framework/libs/js/highslide/highslide-html.css ') }}" rel="stylesheet" type="text/css" media="screen" -->
            <link href="{{ asset ('project/design/resources/css/jquery.mmenu.css ') }}" rel="stylesheet" type="text/css" media="screen" >
            <link href="{{ asset ('project/design/resources/css/structure.css ') }}" rel="stylesheet" type="text/css" media="screen" >
            <link href="{{ asset ('framework/resources/css/admin_bar.css ') }}" rel="stylesheet" type="text/css" media="screen" >
            <link href="{{ asset ('project/design/resources/css/home.css ') }}" rel="stylesheet" type="text/css" media="screen" >
            <script src="{{ asset ('framework/libs/js/jquery/jquery.latest.js') }}" type="text/javascript"></script>

            <script type="text/javascript">
                //<![CDATA[
                var $j = jQuery.noConflict();
                //]]>
            </script>
            <script src="{{asset('framework/libs/js/jquery/jquery-ui-1.7.2.min.js ') }}" type="text/javascript"></script>
            <script src="{{asset('framework/libs/js/jquery/jquery.tools.min.js ') }}" type="text/javascript"></script>
            <script src="{{asset('framework/libs/js/jquery/jquery.waiting.js ') }}" type="text/javascript"></script>
            <script src="{{asset('framework/libs/js/highslide/highslide-with-html.js ') }}" type="text/javascript"></script>

            <script type="text/javascript">
                //<![CDATA[
                var nDiaporamaInterval = 4000;
                hs.graphicsDir = 'framework/libs/js/highslide/graphics/'; hs.align = 'center'; hs.preserveContent = false; hs.dimmingOpacity = 0.75; hs.fadeInOut = true; hs.width = 400; hs.height = 400; hs.allowSizeReduction = false; hs.creditsText = ' '; hs.dimmingOpacity = '0.75'; hs.dimmingDuration = '10000'; hs.dimmingGeckoFix = true;

                //]]>
            </script>

            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(["_setAccount", "UA-28760140-1"]);
                _gaq.push(["_trackPageview"]);
                (function() {
                    var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
                    ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
                    var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>


        {% endblock %}


        <link rel="icon" type="image/x-icon" href="/project/design/resources/images/logo.png" />

    </head>


    <body>
    {% include ('header.html.twig') %}
        {% block body %}



        {% endblock %}

    {% include ('footer.html.twig') %}

        {% block javascripts %}
            <script src="{{asset('framework/libs/js/multimedia_galery.js ') }}" type="text/javascript"></script>
            <script src="{{asset('framework/libs/js/globalfunction.js ') }}" type="text/javascript"></script>
            <script src="{{asset('framework/libs/js/jquery/jquery.touchwipe.js ') }}" type="text/javascript"></script>
            <script src="{{asset('framework/libs/js/jquery/jquery.slides.min.js ') }}" type="text/javascript"></script>
            <script src="{{ asset ('project/design/resources/js/slick.js ') }}" type="text/javascript"></script>
            <script src="{{ asset ('project/design/resources/js/home.js ') }}" type="text/javascript"></script>
            <script src="{{ asset ('project/design/resources/js/project.js ') }}" type="text/javascript"></script>
            <script src="{{asset('framework/libs/js/jquery/jquery.mmenu.js ') }}" type="text/javascript"></script>
            <script src="{{asset('framework/libs/js/scrollReveal.js ') }}" type="text/javascript"></script>
            <script src="{{asset('framework/libs/js/structure.js ') }}" type="text/javascript"></script>
            <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>


        {% endblock %}
    </body>
</html>
