<div  id="commons_footer" >
    <div  id="commons_footer_intern"  class="commons_block" ><div  class="commons_footer_firstbloc" ><img src="{{ asset ('project/design/resources/images/logo.png')}}"  class="commons_footer_logo"  alt=""  title=""  />
            <div  id="commons_footer_txt" ><p><strong>Siège: </strong><br>43, avenue Ferdinand Buisson 75016 Paris<strong>&nbsp;</strong></p>
                <p></p><p><strong>  Showroom: </strong></p><p>11, rue Riant 93200 Saint-Denis</p><p><strong>Tél:</strong></p><p>+33 (0)1 48 09 80 36</p>	<p><strong>Entrepôt:</strong></p><p>93270 Sevran</p>																</div>

            <div  class="commons_footer_separation" ></div>
        </div>
        <div  class="commons_footer_menubloc" ><div  id="footer" >
		<ul><li class="menu_item" id="FOOTERmenu1"><div  class=" commons_menu_item commons_menu_item_first" >Plan du site</div>
                        <ul class="submenu"><li><a href="{{path('ledcast-a-propos')}}" class=" commons_submenu_item first"  title="" ><span>A propos</span></a></li>
                            <li><a href="{{path('contact') }}" class=" commons_submenu_item"  title="" ><span>Contactez-nous</span></a></li>
                            <li><a href="{{path('ledcast-formation') }}" class=" commons_submenu_item"  title="" ><span>Formations agréées</span></a>
                            </li>
                            <li><a href="{{path('support-telechargement') }}" class=" commons_submenu_item"  title="" ><span>Télechargement</span></a>
                            </li>
                            <li><a href="{{path('support-garantie') }}" class=" commons_submenu_item"  title="" ><span>Garantie</span></a>
                            </li>
							 <li><a href="{{path('support-faq') }}" class=" commons_submenu_item"  title="" ><span>FAQ</span></a></li>
                            <li><a href="{{path('ledcast-bureau') }}" class=" commons_submenu_item"  title="" ><span>Bureau d'études</span></a>
                            </li>
                        </ul></li><li class="menu_item" id="FOOTERmenu2"><div  class=" commons_menu_item" ></div>
                        <ul class="submenu">
                            <li><a href="{{path('ledcast-cross') }}" class=" commons_submenu_item first"  title="" ><span>Cross Rental</span></a></li>
                            <li><a href="{{path('realisation-affichage') }}" class=" commons_submenu_item first"  title="" ><span>Affichage urbain</span></a></li>
                            <li><a href="{{path('realisation-commerce') }}" class=" commons_submenu_item"  title="" ><span>Commerce & retail</span></a></li>
                            <li><a href="{{path('realisation-evenementiel') }}" class=" commons_submenu_item"  title="" ><span>Evenementiel</span></a></li>
                            <li><a href="{{path('realisation-institutionel') }}" class=" commons_submenu_item"  title="" ><span>Institutionel</span></a></li>
                            <li><a href="{{path('realisation-sport') }}" class=" commons_submenu_item"  title="" ><span>Sport</span></a></li>
                            <li><a href="{{path('catalogue') }}" class=" commons_submenu_item"  title="" ><span>Catalogue</span></a></li>

                            <li><a href="{{path('secteur_activite') }}" class=" commons_submenu_item"  title="" ><span>Secteur D'activité</span></a></li>



                        </ul></li></ul></div>
            <div  class="commons_footer_separation" ></div>
        </div>
        <div  class="commons_footer_facebook" >
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FLedcast-254953274914657%2F&tabs=timeline&width=250&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=180513032783696" width="250" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div style='clear: both;'>
        </div>
    </div>
</div>
<div  id="commons_afterfooter" >
    <div  class="commons_block" ><div  id="afterfooter_menu" ><a href="{{path('legal')}}" class=""  title="" >Mentions legales</a></div>
        <div  id="afterfooter_realisation" >©2018 LEDCAST - <a href='' target='_blank'>TOUS DROITS RÉSERVÉS</a></div>
        <div style='clear: both;'></div>
    </div>
</div>