<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div id="fb-root">
</div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=742885709180394";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<style>



</style>
<!--header-->
<div id='commons_header_general'>
    <div  id="commons_banner" ><div >

            <div id="commons_top"><div class="commons_block"><div  class="commons_mobile_btn smart_mobile" ><a class=" burger" href="#navs" id="menu_mobile_icone"></a></div>
                    <div  id="navs"  class="menu_mobile_content" ><div  id="topmobile" >
                            <ul>
                                <li class="menu_item" id="TOPMOBILEmenu1">
                                    <a href="{{ path('secteur_activite') }}" class="commons_top_menumobile_link commons_menu_item commons_menu_item_first"  title="" >Secteurs d'activit&eacute;s</a>
                                </li>
                                <li class="menu_item" id="TOPMOBILEmenu2">
                                    <a href="{{ path('catalogue') }}" class="commons_top_menumobile_link commons_menu_item"  title="" >Catalogue</a>
                                </li>
                                <li class="menu_item" id="TOPMOBILEmenu3">
                                    <a href="{{ path('ledcast') }}" class="commons_top_menumobile_link commons_menu_item"  title="" >Ledcast+</a>
                                </li>
                                <li class="menu_item" id="TOPMOBILEmenu4">
                                    <a href="{{ path('realisation') }}" class="commons_top_menumobile_link commons_menu_item"  title="" >Réalisations+</a>
                                </li>
                                <li class="menu_item" id="TOPMOBILEmenu5">
                                    <a href="{{ path('support') }}" class="commons_top_menumobile_link commons_menu_item"  title="" >Support Technique</a>
                                </li>
                                <li class="menu_item" id="TOPMOBILEmenu6">
                                    <a href="{{ path('contact') }}" class="commons_top_menumobile_link commons_menu_item"  title="" >Contact</a>
                                </li>
                            </ul></div>
                    </div>
                    <a href="{{ path('ledcast_homepage') }}" class="commons_logo"  title="" >
                        <span>ledcast</span></a>
                    <div  id="commons_header"  class="smart_classic" >
					<div style="float: left; background: #fffdfc;padding: 1%; margin-right: 19%;">
					<a href="tel:+33 (0)1 48 09 80 36" class="" style="color:#000;font-size: 9pt;"><i class="fa fa-phone" aria-hidden="true"></i>+33 (0)1 48 09 80 36</a>
					<a href="mailto:contact@ledcast.fr" class="" style="color:#000;font-size: 9pt;"><i class="fa fa-envelope" aria-hidden="true"></i>contact@ledcast.fr</a>
					</div>
                      <ul class="social-network social-circle">
                        
                        <li><a href="https://www.facebook.com/Ledcast-254953274914657/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCC-1cDqR5HrDF9w4QQBxl4A" class="icoRss" title="Rss"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://plus.google.com/u/0/114773544318753824808" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        
                    </ul>
					
						<div style='clear: both;'>
						</div>
                    </div>
                    <div style='clear: both;'></div>
                </div></div><a href="#" id="commons_login"></a><div style='clear: both;'></div>
        </div>
    </div>
    <div  id="commons_menu" >
        <div  class="commons_block" ><div  class="commons_menu_items smart_classic" >
                <div  id="main" style="padding: 6px;">
                    <ul>
                        <li class="menu_item" >
                            <a href="{{ path('secteur_activite') }}" class="commons_menu_item commons_menu_item"  title="" >Secteurs d'activit&eacute;s</a>

                        </li>



                        <li class="menu_item"><span class='menu_separator'></span></li>
                        <li class="menu_item" id="MAINmenu3">
                            <a href="{{ path('produits') }}" class="commons_menu_item commons_menu_item"  title="" >Produits </a>

                        </li>
                        <li class="menu_item"><span class='menu_separator'></span></li>
                        <li class="menu_item" id="MAINmenu3">
                            <a href="{{ path('ledcast') }}" class="commons_menu_item commons_menu_item"  title="" >Ledcast +</a>

                        </li>

                        <li class="menu_item"><span class='menu_separator'></span></li>
                        <li class="menu_item" id="MAINmenu5">
                            <a href="{{ path('realisation') }}" class="commons_menu_item commons_menu_item" >R&eacute;alisations +</a>

                        </li>
                        <li class="menu_item"><span class='menu_separator'></span></li>
                        <li class="menu_item" id="MAINmenu5">
                            <a href="{{ path('ledcast-cross') }}" class="commons_menu_item commons_menu_item" >Location</a>

                        </li>
						 <li class="menu_item"><span class='menu_separator'></span></li>
						   <li class="menu_item" id="MAINmenu5">
                            <a href="{{ path('contact') }}" class="commons_menu_item commons_menu_item" >Contact</a>

                        </li>

                    </ul>
                </div>
            </div>
           
            <div style='clear: both;'></div>
        </div>
    </div>
</div>

<!-- /header-->