{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1 style="font-size: 24pt;">SECTEURS D'ACTIVITÉS /
                            <span style="font-size:25px; color: #dea600;">Affichage Urbain</span></h1>
                        <div  class="page_header_description" >Spécialiste de l’affichage dynamique Urbain LED</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->



    <!--container-->
    <div class="container colmn">
        <div class="row">

            <div class="col-md-12">
                <div class="row" >
                    <img src="{{ asset('project/design/resources/images/home/header5.jpg') }}" class="img-respensive" alt="" />
                </div>
<br>
                <center><h2>SPÉCIALISTE DE L’AFFICHAGE DYNAMIQUE URBAIN LED</h2></center>
                <h4 class="title-head">NOUS VOUS PROPOSONS NOTRE GAMME DE LED SPÉCIALE AFFICHAGE URBAIN POUR VOTRE COMMUNICATION.</h4>
                <p class="text-p">
                    Les panneaux d’<b>affichage urbain LED</b> sont utilisés pour faire circuler des informations. Très contemporain,
                    ils s’adaptent facilement aux différents usages du <b>street marketing</b>. Le mobilier digital <b>urbain</b> contribue à
                    l’harmonie d’une ville.
                </p>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/aff1.jpg') }}" class="img-respensive" alt="" />
                </div>

                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/aff2.jpg') }}" class="img-respensive" alt="" />
                </div>

                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/aff3.jpg') }}" class="img-respensive" alt="" />
                </div>



            </div>
            <br>
            <br>
            <div class="col-md-12">
                <h4 class="title-head">POUR VOTRE AFFICHAGE DIGITAL LED, EN INTÉRIEUR OU EN EXTÉRIEUR, DANS LE CADRE D’UNE INSTALLATION FIXE OU ÉVÉNEMENTIELLE… </h4>
                <p class="text-p">
                    …Ledcast met à votre disposition son expertise technologique et vous oriente sur le produit le plus adapté à voter projet.</p>
            </div>
            <div class="col-md-12">
                <h4 class="title-head">AVEC NOS AFFICHAGES URBAIN, LES PRODUITS LED OUTDOOR LEDCAST SE DIVERSIFIENT.</h4>
                <p class="text-p">
                    Ledcast propose des <b>panneaux Led Outdoor</b> pour diffuser votre communnication en milieu urbain.

                    Vous êtes une entreprise, une institution publique et vous souhaitez moderniser votre communication, informez, guidez, nous vous proposons nos panneaux publicitaires vidéo….
                </p>
            </div>

            <div class="col-md-12">
                <h4 class="title-head">DÉVELOPPER VOTRE MARQUE PAR DES CAMPAGNES D’AFFICHAGE DYNAMIQUE, DÉCOUVREZ NOS PRODUITS FINIS.</h4>
                <p class="text-p">
                    Nos<b> panneaux d’affichages publicitaires </b>diffuseront le message de votre entreprise ou institution,
                    à travers les rues de votre ville.
                </p>
            </div>
            <div class="col-md-12">
                <h4 class="title-head">LEDCAST VOTRE PARTENAIRE EN COMMUNICATION & PUBLICITÉ URBAINE</h4>
                <p class="text-p">
                    LEDCAST vous accompagne pour votre <b>communication urbaine</b>, vous êtes une entreprise vous souhaitez communiquez sur les
                    murs extérieurs, sur le toit, en façade de votre entreprise nous vous proposons nos <b>écrans Leds Outdoor,
                        notre mobilier digital</b> pour la diffusion de votre publicité.

                    Notre équipe est formée pour assurer la maintenance des dalles de leds que nous vous installons.
                </p>

                <div class="row" style="margin-bottom:50px">
                    <div class="col-md-6">

					<a href="{{path('produits') }}"> <button class="btn2">
                            <span class="textOut2"><b>Découvrez Notre gamme de produits Led</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                        
                    </div>
                    <div class="col-md-6">
                        <button class="btn2">
                            <span class="textOut2"><b>Contactez nous</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
                    </div>
                </div>
                <div class="row" style="margin-bottom:50px">
                    <div class="col-md-6">

                         <a href="{{path('realisation-affichage') }}"><button class="btn2">
                            <span class="textOut2"><b>Découvrez nos réalisations affichage Urbain</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                    <div class="col-md-6">
					 <a href="{{path('contact') }}">
                        <button class="btn2">
                            <span class="textOut2"><b>Besoin d’une étude sur mesure ? Contactez-nous</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--/container-->


{% endblock %}