{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" >
                        <h1 style="font-size: 24pt;">SECTEURS D'ACTIVITÉS /
                            <span style="font-size:25px; color: #dea600;">Commerce et Retail</span></h1>
                        <div  class="page_header_description" >Nous sommes Experts dans le déploiement d’écrans LED et de solutions d’affichage</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->
    <!--/banner-->



    <!--container-->
    <!--container-->
    <div class="container colmn">
        <div class="row">

            <div class="col-md-12">
                <div class="row" >
                    <img src="{{ asset('project/design/resources/images/home/header-commerce.png') }}" class="img-respensive" alt="" />
                </div>
<br>
               <center> <h2>NOUS SOMMES EXPERTS DANS LE DÉPLOIEMENT D’ÉCRANS LED ET DE SOLUTIONS D’AFFICHAGE.</h2></center>
                <h4 class="title-head">DES CONTENUS LIÉS AUX SERVICES ET ACTUALITÉS DE L’ENSEIGNE DU COMMERCE ET RETAIL.</h4>
                <p class="text-p">Que vos <b>Écrans LED</b> soient installés en vitrine, à l’accueil du magasin, dans les allées centrales,
                    aux caisses. Nos produits LED répondent à un objectif commun pour le commerce et retail : « Adresser le bon message au bon moment ».</p>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/commerce1.png') }}" class="img-respensive" alt="" />
                </div>

                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/commerce2.png') }}" class="img-respensive" alt="" />
                </div>

                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/commerce3.png') }}" class="img-respensive" alt="" />
                </div>



            </div>
            <br>
            <br>
            <div class="col-md-12">
                <h4 class="title-head">VOUS RECHERCHEZ  DES SOLUTIONS D’AFFICHAGE VITRINE OU D’AFFICHAGES POUR VOTRE COMMERCE & RETAIL ?</h4>
                <p class="text-p">
                    Nous vous proposons un large choix de <b>solutions d’affichage LED </b>pour mettre en avant tous vos messages
                    et visuels dans le cadre de <b>votre communication de marque et promotionnelle.</b>
                    Produits standards ou sur-mesure, quels que soient vos besoins, optez pour les écrans LED de la Gamme LEDCAST .
                </p>
            </div>
            <div class="col-md-12">
                <h4 class="title-head">VOTRE FLAGSHIP ET/OU SHOW ROOM DEVIENNENT DIGITAUX GRÂCE À NOS TOTEMS LED.</h4>
                <p class="text-p">
                    Créer l’envie chez les consommateurs en donnant vie à vos produits.<br>
                    Vous pourrez rendre cela possible grâce à notre <b>Totem Evo.</b><br>
                    <b>Digitalisation des points de vente</b>: la clé pour travailler l’expérience client en travaillant l’image de marque et la fidélisation.
                </p>
            </div>
            <div class="col-md-12">
                <h4 class="title-head">VOTRE VITRINE S’HABILLE D’ÉCRAN LEDS.</h4>
                <p class="text-p">
                    Tous les centres commerciaux, <b>les commerces, les retails,</b>  possèdent au moins une vitrine. Nos<br> écrans LED indoor</b> donneront un sentiment de mouvement jaillissant de votre vitrine. Le plus de nos dalles, La présentation en 3D de vos Produits.

                    Vous avez également la possibilité d’obtenir une <b>fabrication sur mesure de votre Totem</b>, votre <b>Mur de LED</b>, votre <b>P.L.V. digitalisée</b>, grâce à notre bureau d’étude et à nos designers afin d’obtenir une solution adaptée à vos besoins.

                    Notre <b>gamme  mobilier digitale </b>présente en magasin, vise à informer les clients, inciter à l’achat des produits présentés. La teneur des « messages produits » dépend des attentes des enseignes en termes de communication ‘in-store’.
                </p>
            </div>
            <div class="col-md-12">
                <h4 class="title-head">UN LARGE CHOIX DE SOLUTIONS D’AFFICHAGE VITRINE ET MAGASIN.</h4>
                <p class="text-p">
                    Consultez dès maintenant notre catalogue et faites votre choix parmi nos produits<b> d’affichage vitrine et affichage magasin</b>, et trouvez la solution pour votre commerce et/ou votre réseau d’enseigne.</p>
                <div class="row" style="margin-bottom:50px">
                    <div class="col-md-6">

                       <a href="{{path('produits') }}"> <button class="btn2">
                            <span class="textOut2"><b>Découvrez Notre gamme de produits Led</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                    <div class="col-md-6">
					 <a href="{{path('contact') }}">
                        <button class="btn2">
                            <span class="textOut2"><b>Contactez nous</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                </div>
                <div class="row" style="margin-bottom:50px">
                    <div class="col-md-6">

                         <a href="{{path('realisation-commerce') }}"><button class="btn2">
                            <span class="textOut2"><b>Découvrez nos réalisations Commerce et Retail</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                    <div class="col-md-6">
					 <a href="{{path('contact') }}">
                        <button class="btn2">
                            <span class="textOut2"><b>Besoin d’une étude sur mesure ? Contactez-nous</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--/container-->
    <!--/container-->

{% endblock %}