{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1 style="font-size: 24pt;">SECTEURS D'ACTIVITÉS /
                            <span style="font-size:25px; color: #dea600;">Evènementiels & Médias</span></h1>
                        <div  class="page_header_description" >Nos supports d’affichage de média Numérique pour une utilisation en Extérieur</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->




    <!--container-->
    <div class="container colmn">
        <div class="row">

            <div class="col-md-12">
                <div class="row" >
                    <img src="{{ asset('project/design/resources/images/home/header3.jpg') }}" class="img-respensive" alt="" />
                </div>
<br>
               <center> <h2>NOS SUPPORTS D’AFFICHAGE DE MÉDIA NUMÉRIQUE POUR UNE UTILISATION EN EXTÉRIEUR</h2></center>
                <h4 class="title-head">NOS ÉCRANS GÉANTS LED INDOOR, OUTDOOR POUR L’ EVÈNEMENTIELS & MÉDIAS</h4>
                <p class="text-p">
                    Pour tous les secteurs d’activité <b>Evènementiels & Médias</b>, la retransmission sur écran <b>LED </b>est de plus en plus
                    utilisée en intérieur comme en extérieur. Vous souhaitez habiller une façade, un mur, une salle de réception de
                    concert un plateaux TV… Créer l’évènement autour de votre communication digitale, LEDCAST vous propose une étude
                    personnalisée pour créer sur mesure votre support LED.
                </p>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/event1.jpg') }}" class="img-respensive" alt="" />
                </div>

                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/event2.jpg') }}" class="img-respensive" alt="" />
                </div>

                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/event3.jpg') }}" class="img-respensive" alt="" />
                </div>



            </div>
            <br>
            <br>
            <div class="col-md-12">
                <h4 class="title-head">RETRANSMISSION D’ÉVÉNEMENT MÉDIAS SUR ÉCRAN GÉANT LED</h4>
                <p class="text-p">
                    Nos <b>écrans de Leds Géants</b> rendront à vos <b>retransmissions d’événements & médias</b>  une envergure
                    sensationnelle pour vos spectateurs. Venez visiter notre Show Room. Rencontrez les Experts LEDCAST qui vous
                    conseilleront et vous présenteront toutes les <b>solutions d’affichage dynamique</b>, de réglages de support, de pitchs.
                </p>
            </div>
            <div class="col-md-12">
                <h4 class="title-head">NOUS ILLUMINONS VOS PLATEAUX TV , DÉCOUVREZ NOTRE GAMME SPECIFIC DANCEFLOOR INDOOR</h4>
                <p class="text-p">
                    <b>Vos plateaux TV</b> prendront une autre envergure par l’installation d’écrans Led specific, tel que notre gamme dancefloor
                    qui permettra d’avoir un plateaux TV lumineux  ou encore notre gamme Ball 10 qui permet de diffuser vos contenu de façon
                    sphérique et bien d’autres gammes découvrez notre catalogue produits Led.
                </p>
            </div>
            <div class="col-md-12">
                <h4 class="title-head">POUR UNE MISE EN LUMIÈRE IMMÉDIATE DE VOS CAMPAGNES DE COMMUNICATION ET ÉVÈNEMENTS !</h4>
                <p class="text-p">
                    De la créativité pour vos occasions évènementiels, pour rendre vos <b>diffusions vidéo</b> encore plus  incroyables.
                    Une gestion des <b>pixels</b> de pointe pour une image sublimée.
                </p>
            </div>
            <div class="col-md-12">
                <h4 class="title-head">DE LA CONCEPTION À L’INSTALLATION, NOS SPÉCIALISTES LED SERONT À VOTRE ÉCOUTE</h4>
                <p class="text-p">
                    <b>Découvrez Notre catalogue produits LED </b> pour vos supports média numérique .</p>

                <div class="row" style="margin-bottom:50px">
                    <div class="col-md-6">
					<a href="{{path('realisation-evenementiel') }}">

                        <button class="btn2">
                            <span class="textOut2"><b>Découvrez nos réalisations Evènementiels & Médias </b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                    <div class="col-md-6">
					<a href="{{path('contact') }}">
                        <button class="btn2">
                            <span class="textOut2"><b>Besoin d’une étude sur mesure ? Contactez-nous</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                </div>
            </div>


        </div>



    </div>
    <!--/container-->


{% endblock %}