{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1 style="font-size: 24pt;">SECTEURS D'ACTIVITÉS /
                            <span style="font-size:25px; color: #dea600;">Institutionnel</span></h1>
                        <div  class="page_header_description" >Ledcast adapte le contenu et l’emplacement de l’écran pour la diffusion</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->





    <!--container-->
    <div class="container colmn">
        <div class="row">

            <div class="col-md-12">
                <div class="row" >
                    <img src="{{ asset('project/design/resources/images/home/header1.jpg') }}" class="img-respensive" alt="" />
                </div>
<br>
<center>
                <h2>LEDCAST ADAPTE LE CONTENU ET L’EMPLACEMENT DE L’ÉCRAN POUR LA DIFFUSION</h2> </center>
                <h4 class="title-head">LEDCAST RÉPOND AU SECTEUR INSTITUTIONNEL GRÂCE SON AFFICHAGE DYNAMIQUE LED.</h4>
                <p class="text-p">Nous avons à cœur de vous proposer une communication digitale de pointe à travers nos gammes de Led indoor, outdoor et aussi notre mobilier digital sur mesure.
                    L’affichage dynamique au sein de votre entreprise permet la diffusion des informations en secteur Institutionnel en interne ou en externe.</p>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/inst1.jpg') }}" class="img-respensive" alt="" />
                </div>

                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/inst2.jpg') }}" class="img-respensive" alt="" />
                </div>

                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/inst3.jpg') }}" class="img-respensive" alt="" />
                </div>



            </div>
            <br>
            <div class="col-md-12">
                <p class="text-p">
                    Nous vous proposons de <br>diffuser votre message</br> au sein de votre entreprise, pour conjuguer créativité,
                    esthétique et efficacité, lors de vos <b>séminaires, réunions</b> mais aussi dans vos <b>espaces d’accueil</b> pour sensibilisé vos visiteurs.

                    Les <b>boucles vidéo </b>réalisées diffusent des contenus personnalisés qui permettent d’adapter le message, selon leur emplacement.

                </p>
            </div>
            <br>
            <div class="col-md-12">
                <h4 class="title-head">L’ INNOVATION DIGITALE POUR VOTRE « LIEU D’ACCUEIL » « VOTRE ZONE DE PASSAGE ».</h4>
                <p class="text-p">
                    Accueillir vos visiteurs, vos voyageurs en les <b>informant, les guidant</b> à travers votre lieu public,<b> gares, aéroport… </b>Grâce à nos écrans Leds informatifs, vous diffusez le message que vous souhaitez.

                    <b>L’affichage dynamique</b> permet la mise en place de solutions de plus en plus spectaculaires et innovantes.</p>
            </div>

            <div class="col-md-12">
                <div class="row" style="margin-bottom:50px">
                    <div class="col-md-6">
					<a href="{{path('produits') }}">
						<button class="btn2">
                            <span class="textOut2"><b>Découvrez Notre gamme de produits Led</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                    <div class="col-md-6">
					<a href="{{path('contact') }}">
                        <button class="btn2">
                            <span class="textOut2"><b>Contactez nous</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                </div>
                <div class="row" style="margin-bottom:50px">
                    <div class="col-md-6">
					<a href="{{path('realisation-institutionel') }}">

                        <button class="btn2">
                            <span class="textOut2"><b>Découvrez nos réalisations Institutionnel</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                    <div class="col-md-6">
					<a href="{{path('contact') }}">
                        <button class="btn2">
                            <span class="textOut2"><b>Besoin d’une étude sur mesure ? Contactez-nous</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <!--/container-->



{% endblock %}