{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1 style="font-size: 24pt;">SECTEURS D'ACTIVITÉS /
                            <span style="font-size:25px; color: #dea600;">Sports</span></h1>
                        <div  class="page_header_description" >Le Bord de stade Ledcast pour vos événements sportifs</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->



    <!--container-->
    <div class="container colmn">
        <div class="row">

            <div class="col-md-12">
                <div class="row" >
                    <img src="{{ asset('project/design/resources/images/home/header4.jpg') }}" class="img-respensive" style="width: 100%; height: 250px;" alt="" />
                </div>
<br>
<center>
                <h2>LE BORD DE STADE LEDCAST POUR VOS ÉVÉNEMENTS SPORTIFS</h2> </center>
                <h4 class="title-head">LE BORD DE STADE LEDCAST EST SPÉCIALEMENT PENSÉ POUR LES STADES, LES CENTRES SPORTIFS.</h4>
                <p class="text-p">
                    Pour tous les sports, Ledcast vous propose sa gamme Led Stadium Indoor et sa gamme Led Stadium Outdoor.
                    Et pour répondre au mieux à votre demande nous pouvons aussi réaliser <b>sur mesure</b> votre murs de led,
                    votre bords de stade ou écrans géants LED.
                </p>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/sport1.jpg') }}" class="img-respensive" alt="" />
                </div>

                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/sport2.jpg') }}" class="img-respensive" alt="" />
                </div>

                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/sport3.jpg') }}" class="img-respensive" alt="" />
                </div>



            </div>
            <br>
            <br>
            <div class="col-md-12">
                <h4 class="title-head">NOTRE BORD DE STADE LED EST SPÉCIALEMENT CONÇUES POUR LES ÉVÉNEMENTS SPORTIFS.</h4>
                <p class="text-p">
                    Nous vous proposons un large choix de <b>solutions d’affichage LED </b>pour mettre en avant tous vos messages
                    et visuels dans le cadre de <b>votre communication de marque et promotionnelle.</b>
                    Produits standards ou sur-mesure, quels que soient vos besoins, optez pour les écrans LED de la Gamme LEDCAST .
                </p>
            </div>
            <div class="col-md-12">
                <h4 class="title-head">VOTRE FLAGSHIP ET/OU SHOW ROOM DEVIENNENT DIGITAUX GRÂCE À NOS TOTEMS LED.</h4>
                <p class="text-p">
                    Sa forte luminosité et son grand angle de vision, rendront les publicités de vos annonceurs percutantes. Sans gêner ni les sportifs, ni les spectateurs…

                    <b>Notre bord de stade</b> a été conçu pour résister à toutes les intempéries extérieures.

                    Pluie, vent, neige, nos dalles de <b>LED Outdoor </b>sont spécialement conçues pour résister par tous les temps et tous les sports….

                    Ils sont modulables et peuvent être utilisés dans n’importe quel environnement et sous n’importe quel climat !
                </p>
            </div>

            <div class="col-md-12">
                <h4 class="title-head">DALLES DE LED PLEIN JOUR POUR STADE.</h4>
                <p class="text-p">
                    Pour nos <b>dalles LED</b> plein jour pour stade. Nous utilisons une <b>pixellisation </b>différente et plus lumineuse pour une meilleure performance d’affichages de vos vidéos.

                    LEDCAST adapte le support à votre stade. Notre bureau d’étude se charge de concevoir la<b> structure des dalles de Led</b> pour une installation parfaitement intégrée.

                    Le logiciel Nova Mars  offre une gestion complète de l’affichage des contenus sur nos écrans, le message, les images, l’animation, pour assurer une parfaite restitution des messages lors d’événements.
                </p>

                <div class="row" style="margin-bottom:50px">
                    <div class="col-md-6">
					<a href="{{path('produits') }}">

                        <button class="btn2">
                            <span class="textOut2"><b>Découvrez Notre gamme de produits Led</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                    <div class="col-md-6">
					<a href="{{path('contact') }}">
                        <button class="btn2">
                            <span class="textOut2"><b>Contactez nous</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                </div>
                <div class="row" style="margin-bottom:50px">
                    <div class="col-md-6">
					<a href="{{path('realisation-sport') }}">

                        <button class="btn2">
                            <span class="textOut2"><b>Découvrez nos réalisations Sports</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                    <div class="col-md-6">
					<a href="{{path('contact') }}">
                        <button class="btn2">
                            <span class="textOut2"><b>Besoin d’une étude sur mesure ? Contactez-nous</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--/container-->

{% endblock %}