{% trans_default_domain 'FOSUserBundle' %}
<style>
    .group{

        margin-bottom: 19px !important;
    }
</style>
<div class="background"></div>
<div class="background2"></div>
<div class="loginForm">
    <hgroup>
        <h1> Ledcast Register </h1>
    </hgroup>






    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}


        <div class="group">
            {{ form_widget(form.email,{'attr':{'class':'form-control' ,'placeholder': 'Email'}}) }}
        </div>
        <div class="group">
            {{ form_widget(form.username,{'attr':{'class':'form-control' ,'placeholder': 'Nom d`utilisateur'}}) }}
        </div>
        <div class="group">
            {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control' ,'placeholder': 'Mot de passe'}}) }}
        </div>
        <div class="group">

            {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control' ,'placeholder': 'Confirmation mot de passe'}}) }}
        </div>


        <input type="submit" class="buttonui " id="_submit" value="Register" name="_submit">

    {{ form_end(form) }}

</div>




