{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1 style="font-size: 24pt;">LEDCAST /
                            <span style="font-size:25px; color: #dea600;">A PROPOS</span></h1>
                        <div  class="page_header_description" >Spécialiste de l’affichage dynamique Urbain LED</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->


    <!--container-->
    <div class="container colmn">
        <div class="row">

            <div class="col-md-12">
                <div class="row" >
                    <img src="{{ asset('project/design/resources/images/home/banner1.jpg') }}" class="img-respensive" alt="" />
                </div>
<br>
                <center><h2>SPÉCIALISTE DE L’AFFICHAGE DYNAMIQUE URBAIN LED</h2></center>
                <h4 class="title-head">LEDCAST SCREEN & DESIGN</h4>
                <p class="text-p">
                    LEDCAST fondé en 2012 par Michel Sequeira, fabricant, installateur, innovateur dans le domaine de la communication digitale.<br>

                    LEDCAST est le spécialiste et l’expert des <b>murs d’ écrans LED géants intérieur et extérieur, des écrans LED transparents, des écrans LED circulaires,
                        ainsi que de l’affichage dynamique LED sur mesure</b>. Votre secteur d’activité est le, commerce, le retail, les lieux institutionnels, l’événementiel, les médias, l’artistique ou le sport. Quel que soit votre projet, les experts de LEDCAST, sont en mesure de vous conseiller, et vous accompagner sur la meilleure solution à adopter afin d’optimiser le rendu de vos diffusions sur écran géant, choix du pitch (distance entre deux pixels), de la luminosité, des dimensions, accessoires, intégration, indoor – outdoor…

                    Disponible à la vente ou la location, nos solutions d’affichage digital LED sont aujourd’hui incontournables dans le domaine de la communication de votre entreprise !

                    Depuis plusieurs années, les plus grandes enseignes nous font confiance.<br>

                    <a href="{{path('contact')}}">Contactez-nous </a>afin de définir ensemble votre projet, vous recevrez un devis dans les meilleurs délais.
                </p>
            </div>

            <br>
            <br>
            <div class="col-md-12">
                <h4 class="title-head">NOTRE SHOWROOM </h4>
                <p class="text-p">
                    Notre Showroom LEDCAST situé au 11, rue Riant 93200 Saint-Denis vous accueillera sur <a href="{{path('contact')}}">RDV </a>.</p>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/led1.jpg') }}" class="img-respensive" alt="" />
                </div>

                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/led2.png') }}" class="img-respensive" alt="" />
                </div>

                <div class="col-md-4">
                    <img src="{{ asset('project/design/resources/images/home/led3.jpg') }}" class="img-respensive" alt="" />
                </div>



            </div>
            <div class="col-md-12">
                <h4 class="title-head">LEDCAST ASSURE LE TRANSPORT DANS LE MONDE ENTIER</h4>
                <p class="text-p">
                    Transport LEDCAST dispose d’un stock important de produits garantissant une réactivité certaine,
                    même dans les cas de projets les plus urgents. Partout en France et en Europe,
                    LEDCAST est en mesure de vous livrer grâce à son réseau de transporteurs (maritime/routier/aérien).
                </p>
            </div>

            <div class="col-md-12">
                <h4 class="title-head">ENTREPÔT LEDCAST</h4>
                <p class="text-p">
                    93270 SEVRAN
                </p>
            </div>
            <div class="col-md-12">


                <div class="row" style="margin-bottom:50px">
                    <div class="col-md-6">

                        <a href="{{path('contact') }}">
						<button class="btn2">
                            <span class="textOut2"><b>Contactez nous</b></span>
                            <span class="textIn2"><b>Cliquer ici</b></span>
                        </button>
						</a>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="row" style="margin-bottom:50px">

                </div>
            </div>


        </div>
    </div>
    <!--/container-->


{% endblock %}