{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1 style="font-size: 24pt;">LEDCAST /
                            <span style="font-size:25px; color: #dea600;">ACTUALITÉS</span></h1>
                        <div  class="page_header_description" >Spécialiste de l’affichage dynamique Urbain LED</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->


    <!--container-->
    <div class="container colmn">


        <div class="row">
            <div class="col-md-12">
                <section class="banner-sec" style="    padding: 3%;">

                    <div class="row">

    {% for actualite in actualites %}
                        <div class="col-md-4">
                            <div class="card">
                                <img class="img-fluid" src="{{ asset( actualite.media.src)}}" alt="actualite-ledcast">
                                <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">News</span> </div>
                                <div class="card-body">
                                    <div class="news-title">
                                        <h2 class=" title-small"><a href="{{ path('actualite_news', { 'id': actualite.id }) }}">{{ actualite.titre }}</a></h2>
                                    </div>
                                    <p class="card-text" style="    color: #6d6968;font-weight: 600;">PUBLIÉ LE
                                        <small class="text-time">
                                            <em>{% if actualite.date %}{{ actualite.date|date('d-m-Y') }}{% endif %}</em>
                                        </small>
                                    </p>
                                    <p class="card-text" style="    color: #6d6968;">{{ actualite.description[:80] ~ '...' }}

                                    </p>
                                    <a class="badge badge-pill badge-warning" href="{{ path('actualite_news', { 'id': actualite.id }) }}" style="float: right;background: #f99a01;">Voir plus</a>
                                </div>
                            </div>
                        </div>

    {% endfor %}
                    </div>

                </section>
            </div>
        </div>


    </div>
    <!--/container-->


{% endblock %}