{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1 style="font-size: 24pt;">LEDCAST /
                            <span style="font-size:25px; color: #dea600;">BUREAU D’ÉTUDE</span></h1>
                        <div  class="page_header_description" >Spécialiste de l’affichage dynamique Urbain LED</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->





    <!--container-->
    <div class="container colmn">


        <div class="row">


            <div class="col-md-12" >
                <div class="row" style="margin-bottom:60px;" >
                    <img src="{{ asset('project/design/resources/images/home/banner1.jpg') }}" class="img-respensive" alt="" />
                </div>


                <h2>Bureau d’étude / Assistance juridique et administrative</h2>
                <h4 class="title-head">BUREAU D’ÉTUDE.</h4>
                <p class="text-p">
                    Grâce à son bureau d’étude et les différents outils de conception que <b>NOS EXPERTS</b> maîtrisent (CAO/DAO).

                    LEDCAST réalise pour votre projet les études nécessaires à la production de vos totems, bornes, scénographies.

                    Notre bureau d’études se charge de modéliser votre projet en 2 ou 3 D, pour vous projeter mais aussi pour valider la faisabilité avec tous les acteurs possibles
                    (architectes, maîtres d’œuvres, commissions de sécurité…)
                </p>


            </div>

            <br>

            <div class="col-md-12" style="margin-top:40px;">
                <div class="col-md-9">
                    <h4 >Assistance juridique et administrative</h4>
                    <p class="text-p">
                        Les méandres de la juridiction française concernant l’installation de dispositifs LED et la diffusion de contenus peut être un frein à voter projet. Expert de l’intégration d’écrans géants en milieux urbains,
                        LEDCAST vous accompagne dans vos démarches administratives afin d’assurer la réussite de votre Projet.
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="{{ asset('project/design/resources/images/home/bureau-d-etude.png') }}" class="img-respensive" alt="" />
                </div>
            </div>




        </div>



    </div>
    <!--/container-->


{% endblock %}