{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1 style="font-size: 24pt;">LEDCAST /
                            <span style="font-size:25px; color: #dea600;">CROSS RENTAL</span></h1>
                        <div  class="page_header_description" >Spécialiste de l’affichage dynamique Urbain LED</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->




    <!--container-->
    <div class="container colmn">


        <div class="row">

            <div class="col-md-12" >
                <div class="row" style="margin-bottom:60px;" >
                    <img src="{{ asset('project/design/resources/images/home/banner1.jpg') }}" class="img-respensive" alt="" />
                </div>


                <h4 class="title-head" style="margin-top:20px;">LE CATALOGUE CROSS RENTAL LEDCAST</h4>
                <p class="text-p">
                    Vous donne un aperçu de nos différentes solutions et produits  en <b>Cross Rental</b>

                    Nous mettons à la disposition des <b>prestataires Nationaux, Européens et Mondiaux</b>, un système unique de Cross Rental. N’hésitez donc pas à nous interroger pour une demande spécifique ou tout simplement pour connaître nos nouveautés.

                    Nous mettons à votre disposition notre savoir-faire et notre matériel le plus performant afin de répondre au mieux à votre projet.

                </p>
            </div>

            <div class="col-md-12" style="margin-top:40px;">

                <div class="row" style="margin-bottom:50px; width:60%;margin-left:20%;">


                    
					  <a href="{{path('contact') }}">
						<button class="btn2">
                            <span class="textOut2"><b> Catalogue Cross Rental en pdf  à venir</b></span>
                        <span class="textIn2"><b>Contactez-nous</b></span>
                        </button>
						</a>

                </div>
            </div>


        </div>



    </div>
    <!--/container-->


{% endblock %}