{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1 style="font-size: 24pt;">LEDCAST /
                            <span style="font-size:25px; color: #dea600;">FORMATION</span></h1>
                        <div  class="page_header_description" >Spécialiste de l’affichage dynamique Urbain LED</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->



    <!--container-->
    <div class="container colmn">

        <div class="row">
            <div class="col-md-12" >
                <div class="row" style="margin-bottom:60px;" >
                    <img src="{{ asset('project/design/resources/images/home/formation.jpg') }}" class="img-respensive" style="width:100%" alt="" />
                </div>


                <h4 class="title-head">FORMATION LEDCAST.</h4>
                <p class="text-p">

                    <b>LEDCAST</b> vous propose  une <b>formation personnalisée sur les murs de led </b>pour apprendre à exploiter,
                    monter, démonter, ou encore installer, une <b>dalle vidéo LED</b>. Développez vos compétences et devenez un
                    <b>spécialiste vidéo des écrans géants LED</b>.

                    Nous vous accompagnons à travers un service unique ! En apprenant à maîtriser vos écrans LED, vous développerez vos compétences transmises par nos techniciens spécialistes.

                    Les techniques des murs vidéo LED vont vous être enseignés et détaillés, ils n’auront plus de secret pour vous.

                    Profitez de nos<b> formations aux technologies vidéo LED</b>. Notre salle de <b>formation LEDCAST</b> permet à nos
                    <b>clients revendeurs, installateurs et intégrateurs</b> de posséder l’ensemble des compétences exigées pour déployer
                    et maintenir les produits à <b>technologie vidéo LED.<br>

                        <div class="col-md-6" style="margin-top:10px;">
                            <p class="text-p">Pour plus de renseignements pour les inscriptions les conditions:</p>
                        </div>
                        <div class="col-md-6">
                              <a href="{{path('contact') }}">
						<button class="btn2">
                            <span class="textOut2"><b> Catalogue Cross Rental en pdf  à venir</b></span>
                        <span class="textIn2"><b>Contactez-nous</b></span>
                        </button>
						</a>
                        </div>
                    </b>
                </p>
            </div>
            <div class="col-md-12" style="margin-top:50px">
                <div class="col-md-6" style="margin-top:20px">
                    <img src="{{ asset('project/design/resources/images/home/form1.jpg') }}" class="img-respensive" alt="" />
                </div>

                <div class="col-md-6" style="margin-top:20px">
                    <img src="{{ asset('project/design/resources/images/home/form2.jpg') }}" class="img-respensive" alt="" />
                </div>

                <div class="col-md-6" style="margin-top:20px">
                    <img src="{{ asset('project/design/resources/images/home/form3.jpg') }}" class="img-respensive" alt="" />
                </div>



            </div>
            <br>
            <br>



        </div>

    </div>
    <!--/container-->


{% endblock %}