{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1 style="font-size: 24pt;">
                            <span style="font-size:25px; color: #dea600;">{{ actualite.titre }}</span></h1>

                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->

    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <div class="row hidden-md hidden-lg"><h1 class="text-center" >{{ actualite.titre }}</h1></div>

                    <div class="pull-left col-md-6 col-xs-12 thumb-contenido">
                        <img class="center-block img-responsive" src='{{ asset(actualite.media.src) }}'  style=""/>
                    </div>
                    <div class="col-md-6">
                        <h1  class="hidden-xs hidden-sm">{{ actualite.titre }}</h1>
                        <hr>
                        <small>PUBLIER LE</small><br>
                        <small><strong>{% if actualite.date %}{{ actualite.date|date('d-m-Y') }}{% endif %}</strong></small>
                        <hr>
                    </div>
                    <div class="col-md-12">

                        <p class="text-justify">
                            {{ actualite.contenu }}
                        </p></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}