<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133921111-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133921111-1');
</script>

    <meta charset="UTF-8" />
    <meta name="description" content="ledcast fabrique des écrans géants LED intérieur et extérieur pour les magasins, TV, sport, spectacle. Pitch des dalles vidéo dès 1.2mm, en vente et location. MUR DE LED ET ECRAN GEANT LED EN VENTE ET LOCATION" >
    <meta name="keywords" content="ledcast, écran géant led, écrans led, dalle led, écran affichage dynamique " >
    <meta name="identifier-url" content="https://www.ledcast.fr/" >
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}LEDCAST{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset ('framework/resources/css/page.css ') }}" rel="stylesheet" type="text/css" media="screen" >
        <link href="{{ asset ('project/design/resources/css/commons.css ') }}" rel="stylesheet" type="text/css" media="screen" >
        <link href="{{ asset ('project/design/resources/css/pageform.css ') }}" rel="stylesheet" type="text/css" media="screen" >
        <link href="{{ asset ('project/design/resources/css/pagefo.css ') }}" rel="stylesheet" type="text/css" media="screen" >
        <!--link href="{{ asset ('framework/libs/js/highslide/highslide-html.css ') }}" rel="stylesheet" type="text/css" media="screen" -->
        <link href="{{ asset ('project/design/resources/css/jquery.mmenu.css ') }}" rel="stylesheet" type="text/css" media="screen" >
        <link href="{{ asset ('project/design/resources/css/structure.css ') }}" rel="stylesheet" type="text/css" media="screen" >
        <link href="{{ asset ('project/design/resources/css/bootstrap.css ') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset ('project/design/resources/css/tab.css ') }}" rel="stylesheet" type="text/css" media="all" />

        <link href="{{ asset ('framework/resources/css/admin_bar.css ') }}" rel="stylesheet" type="text/css" media="screen" >
        <style>
            #page_header
            {
                background-image: url(../project/resources/img/original/10.jpg);
            }

            #page_header::before
            {
                content: ' '
            }

        </style>
       
        <script src="{{ asset('framework/libs/js/jquery/jquery.latest.js ') }}" type="text/javascript"></script>

        <script type="text/javascript">
            //<![CDATA[
            var $j = jQuery.noConflict();
            //]]>
        </script>
        <script src="{{ asset('framework/libs/js/jquery/jquery-ui-1.7.2.min.js ') }}" type="text/javascript"></script>
        <script src="{{ asset('framework/libs/js/jquery/jquery.tools.min.js ') }}" type="text/javascript"></script>
      
        <script src="{{ asset('framework/libs/js/jquery/jquery.waiting.js ') }}" type="text/javascript"></script>
        <script src="{{ asset('framework/libs/js/highslide/highslide-with-html.js ') }}" type="text/javascript"></script>

       
 <script src="https://www.google.com/recaptcha/api.js"
        async defer>
    </script>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(["_setAccount", "UA-28760140-1"]);
            _gaq.push(["_trackPageview"]);
            (function() {
                var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
                ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
                var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    {% endblock %}


    <link rel="icon" type="image/x-icon" href="/project/design/resources/images/logo.png" />

</head>


<body>
{% include ('layout/header.html.twig') %}
{% block body %}

contenue

{% endblock %}

{% include ('layout/footer.html.twig') %}

{% block javascripts %}
    <script src="{{ asset('framework/libs/js/multimedia_galery.js ') }}" type="text/javascript"></script>
    <script src="{{ asset('framework/libs/js/globalfunction.js ') }}" type="text/javascript"></script>
    <script src="{{ asset ('project/design/resources/js/slick.js ') }}" type="text/javascript"></script>
    <script src="{{ asset ('project/design/resources/js/project.js ') }}" type="text/javascript"></script>
    <script src="{{ asset('framework/libs/js/jquery/jquery.mmenu.js ') }}" type="text/javascript"></script>
    <script src="{{ asset('framework/libs/js/scrollReveal.js ') }}" type="text/javascript"></script>
    <script src="{{ asset('framework/libs/js/structure.js ') }}" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>

    <script type="text/javascript">
        //<![CDATA[
        jQuery(document).ready(function()
        {
            jQuery('#diaporama_45').slick({
                dots: true,
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                arrows: false,
                autoplaySpeed: 3000,
                dots: false,
                arrows: false
            });
        });
        function validform2()
        {
            if (document.getElementById('form_2_field_13').value == '') { alert("Le champ Nom  est obligatoire"); return false; }

            if (document.getElementById('form_2_field_14').value == '') { alert("Le champ Votre société est obligatoire"); return false; }

            if (document.getElementById('form_2_field_15').value == '') { alert("Le champ Votre email est obligatoire"); return false; }
            if (document.getElementById('form_2_field_9').value == '') { alert("Le champ La dimension de l'écran est obligatoire"); return false; }
            if ( (!document.getElementById('form_2_field_10_0').checked)  &&  (!document.getElementById('form_2_field_10_1').checked)  &&  (!document.getElementById('form_2_field_10_2').checked) ){ alert("Le champ Le ratio de l'écran est obligatoire"); return false; }
            if ( (!document.getElementById('form_2_field_11_0').checked)  &&  (!document.getElementById('form_2_field_11_1').checked) ){ alert("Le champ L'utilisation est obligatoire"); return false; }
            if ( (!document.getElementById('form_2_field_12_0').checked)  &&  (!document.getElementById('form_2_field_12_1').checked) ){ alert("Le champ Le type de produit est obligatoire"); return false; }
        }


        //]]>
    </script>


{% endblock %}
</body>
</html>
