{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produits list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Pitch</th>
                <th>Typeled</th>
                <th>Taille</th>
                <th>Resolution</th>
                <th>Densite</th>
                <th>Luminosit</th>
                <th>Frequence</th>
                <th>Dimensions</th>
                <th>Resolutiond</th>
                <th>Chassis</th>
                <th>Maintenance</th>
                <th>Poids</th>
                <th>Consommation</th>
                <th>Anglevh</th>
                <th>Distancem</th>
                <th>Carterec</th>
                <th>Temperateur</th>
                <th>Tolerance</th>
                <th>Refroidissement</th>
                <th>Indicepro</th>
                <th>Certification</th>
                <th>Duree</th>
                <th>Garantie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.slug }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.pitch }}</td>
                <td>{{ produit.typeled }}</td>
                <td>{{ produit.taille }}</td>
                <td>{{ produit.resolution }}</td>
                <td>{{ produit.densite }}</td>
                <td>{{ produit.luminosit }}</td>
                <td>{{ produit.frequence }}</td>
                <td>{{ produit.dimensions }}</td>
                <td>{{ produit.resolutiond }}</td>
                <td>{{ produit.chassis }}</td>
                <td>{{ produit.maintenance }}</td>
                <td>{{ produit.poids }}</td>
                <td>{{ produit.consommation }}</td>
                <td>{{ produit.anglevh }}</td>
                <td>{{ produit.distancem }}</td>
                <td>{{ produit.carterec }}</td>
                <td>{{ produit.temperateur }}</td>
                <td>{{ produit.tolerance }}</td>
                <td>{{ produit.refroidissement }}</td>
                <td>{{ produit.indicepro }}</td>
                <td>{{ produit.certification }}</td>
                <td>{{ produit.duree }}</td>
                <td>{{ produit.garantie }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produit_show', { 'id': produit.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('produit_edit', { 'id': produit.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produit_new') }}">Create a new produit</a>
        </li>
    </ul>
{% endblock %}
