{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produit</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ produit.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Pitch</th>
                <td>{{ produit.pitch }}</td>
            </tr>
            <tr>
                <th>Typeled</th>
                <td>{{ produit.typeled }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ produit.taille }}</td>
            </tr>
            <tr>
                <th>Resolution</th>
                <td>{{ produit.resolution }}</td>
            </tr>
            <tr>
                <th>Densite</th>
                <td>{{ produit.densite }}</td>
            </tr>
            <tr>
                <th>Luminosit</th>
                <td>{{ produit.luminosit }}</td>
            </tr>
            <tr>
                <th>Frequence</th>
                <td>{{ produit.frequence }}</td>
            </tr>
            <tr>
                <th>Dimensions</th>
                <td>{{ produit.dimensions }}</td>
            </tr>
            <tr>
                <th>Resolutiond</th>
                <td>{{ produit.resolutiond }}</td>
            </tr>
            <tr>
                <th>Chassis</th>
                <td>{{ produit.chassis }}</td>
            </tr>
            <tr>
                <th>Maintenance</th>
                <td>{{ produit.maintenance }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ produit.poids }}</td>
            </tr>
            <tr>
                <th>Consommation</th>
                <td>{{ produit.consommation }}</td>
            </tr>
            <tr>
                <th>Anglevh</th>
                <td>{{ produit.anglevh }}</td>
            </tr>
            <tr>
                <th>Distancem</th>
                <td>{{ produit.distancem }}</td>
            </tr>
            <tr>
                <th>Carterec</th>
                <td>{{ produit.carterec }}</td>
            </tr>
            <tr>
                <th>Temperateur</th>
                <td>{{ produit.temperateur }}</td>
            </tr>
            <tr>
                <th>Tolerance</th>
                <td>{{ produit.tolerance }}</td>
            </tr>
            <tr>
                <th>Refroidissement</th>
                <td>{{ produit.refroidissement }}</td>
            </tr>
            <tr>
                <th>Indicepro</th>
                <td>{{ produit.indicepro }}</td>
            </tr>
            <tr>
                <th>Certification</th>
                <td>{{ produit.certification }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ produit.duree }}</td>
            </tr>
            <tr>
                <th>Garantie</th>
                <td>{{ produit.garantie }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produit_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('produit_edit', { 'id': produit.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
