{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<!------ Include the above in your HEAD tag ---------->

<html class="">
<head>

<head>
    <title>Connexion</title>

</head>
<body>
<div class="background"></div>
<div class="background2"></div>
<div class="loginForm">
    <hgroup>
        <h1>Ledcast Login</h1>
    </hgroup>






    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="group">
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="used"><span class="highlight"></span><span class="bar"></span>
            <label>Utilisateur</label>
        </div>
        <div class="group">
            <input type="password" id="password" name="_password" required="required" autocomplete="current-password"><span class="highlight"></span><span class="bar"></span>
            <label>Mot de passe</label>
        </div>

        <input type="submit" class="buttonui " id="_submit" value="Connexion" name="_submit">

    </form>

</div>

</body>
</html>


