{% extends 'layout/base.html.twig' %}

{% block body %}
  <style>
        .PDP--benefits fieldset {
            border: 3px solid #f18506;
            border-radius: 10px;
            margin-bottom: 40px;
        }
        .PDP--benefits fieldset legend {
            text-align: center;
            display: inline-block;
            width: 230px;
            border: none;
            margin-bottom: 0;
        }
		  .carousel-indicators li {
            position: relative;
            -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            width: 30px;
            height: 6px;
            margin-right: 3px;
            margin-left: 3px;
            text-indent: -999px;
            background-color: #FF9800;
        }
        .carousel-indicators .active {
            background-color: #1f1e1e;
        }
        legend {
            display: block;
            width: 100%;
            padding: 0;
            margin-bottom: 20px;
            font-size: 21px;
            line-height: inherit;
            color: #333;
            border: 0;
            border-bottom: 1px solid #e5e5e5;
        }
        .PDP--benefits fieldset ul {
            text-align: left;
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
            list-style-position: inside;
            list-style-image: url(../images/check.png);
            padding: 0;
            margin: 0;
            padding: 20px;
            font-size: 16px;
            font-weight: 600;
        }
        .btn-huge {
            font-size: 1em;
            line-height: 60px;
        }
        .btn-secondary {
            color: #fff;
            background-color: #4d4d4d;
        }
        .cta-sep {
            width: 100%;
            text-align: center;
            margin: 10px 0;
            position: relative;
            z-index: 2;
        }
        .cta-sep::before {
            content: '';
            height: 7px;
            display: block;
            width: 100%;
            border-top: 1px solid #d6d6d6;
            border-bottom: 1px solid #d6d6d6;
            position: relative;
            z-index: 1;
            top: 15px;
        }
        .cta-sep span {
            background: #fff;
            position: relative;
            z-index: 2;
            padding: 0 20px;
            text-transform: uppercase;
            font-weight: 600;
        }
    </style>
   
  
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="{{ asset('project/design/resources/css/product.css') }}" rel="stylesheet" type="text/css" media="screen" >
    <div id='commons_header_height'></div>
    <div  id="commons_main" >
    <div  id="commons_zoom" >
    <div  class="zoom_intern" >
    <div  id="page_header" >
        <div  class="commons_block" >
            <div  class="h1_like" ><i></i>{{ accessoir.nom }} </div>
            <div  class="page_header_description" >Un large choix d'écrans et d'accessoires</div>
        </div>
    </div>
    <div  class="commons_block" ><div  id="pathfinder" >
            <!-- Breadcrumbs --><ol itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" class="" href=".">		<span itemprop="name">Accueil</span></a>
                    <meta itemprop="position" content="1" />	</li>
                <span class='separator'>›</span> 	<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" class="" href="catalogue">		<span itemprop="name">Accessoires LED</span></a>
                    <meta itemprop="position" content="2" />	</li> <span class='separator'>›</span>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" class="back" href="catalogue/dalles-led">
                        <span itemprop="name">{{ accessoir.nom }} </span></a>
                    <meta itemprop="position" content="3" />	</li>
                </ol>
        </div>
    </div>

    <div   class="commons_block" >



    <div class="col-md-12" style="background: white; padding: 5%;">
        <div class="col-md-6" style="    border-right: 2px solid #dcd8d7;         padding: 2% 9%;">

            <div  id="product_zoom_diapo" >

                <div class="carousel" id="slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slide" data-slide-to="0" class="active"></li>
                        <li data-target="#slide" data-slide-to="1"></li>
                        <li data-target="#slide" data-slide-to="2"></li>
                        <li data-target="#slide" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ asset( accessoir.image1.src)}}" class="img-fluid">

                        </div>
                      


                    </div>
                  
                </div>



            </div>

        </div>
        <div class="col-md-6" style="padding: 6% 5%;">

            <div  id="product_zoom_intro" ><h1>{{ accessoir.nom }}</h1>

                <div  class="product_zoom_baseline" >{{ accessoir.nom }}</div>
            </div>
            <div  class="product_zoom_description" >
                {{ accessoir.description }}
            </div>
        </div>
    </div>



    </div>

    <div class="col-md-12" style="text-align:center; background: white; padding: 3% 7%; margin-top:20px;">

        <div class="col-md-7 col-sm-12 PDP--benefits" style="padding: 1% 5%">
            <fieldset>
                <legend><h2>Points forts</h2></legend>
                <ul>
                    <li>{{ accessoir.point1 }}</li>
                    <li>{{ accessoir.point2 }}</li>


                </ul>
            </fieldset>
        </div>
        <div class="col-md-5 col-sm-12 PDP--ctas">
		 
            {% if accessoir.fiche!= null %}
                <a href="{{accessoir.fiche.src }}" target="_blank" class="btn btn-secondary" style="    padding: 3% 8%; font-size: 15px;font-weight: 600;">
                    Téléchargez la <strong>fiche technique</strong>
                </a>
                <div class="cta-sep">
                    <span>Ou</span>
                </div>

            {% endif %}

            <a href="{{path('contact')}}" class="btn btn-default" style="  padding: 3% 8%;background: #dcdede;font-size: 15px;font-weight: 600;">
                Contactez-nous
            </a>
        </div>
    </div>



    </div>

    <div  id="product_zoom_related_title"  class="commons_block" style="padding: 21px 0;" ></div>

    <div  id="product_zoom_related"  class="commons_block" >



       




    </div>
    </div>
    </div>

    </div>
{% endblock %}