{% extends 'layout/base.html.twig' %}

{% block body %}

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{asset ('filter/css/reset.css') }}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{{asset ('filter/css/filter.css') }}"> <!-- Resource style -->
    <script src="{{asset ('filter/js/modernizr.js') }}"></script>
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" id="bootstrap-css">
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
    <link href="{{ asset('project/design/resources/css/categorie.css') }}" rel="stylesheet" type="text/css" media="screen" >
    <div id='commons_header_height'>
    </div>
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1>Catalogue</h1>
                        <div  class="page_header_description" >Une large gamme d'ecrans et d'accessoires</div>
                    </div>
                </div>



                <main class="cd-main-content">
                    <div class="cd-tab-filter-wrapper">
                        <div class="cd-tab-filter">

                        </div>
                    </div>
					<div class="col-md-12">
                    <div class="col-md-3 col-sm-3 cd-filter filter-is-visible">
                        <form>

                            <div class="cd-filter-block">
                                <h4>Categorie</h4>
                                <ul class="cd-filter-content cd-filters list">

                                    {% for categorie in categories %}

                                        <li>
                                            <input class="filter" data-filter=".check{{ categorie.id }}" type="checkbox" id="checkbox{{ categorie.id }}">
                                            <label class="checkbox-label" for="checkbox{{ categorie.id }}">{{ categorie.nom }}</label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="cd-filter-block">

                                <div class="cd-filter-content">
                                    <div class="cd-select cd-filters">
                                        <select class="filter" name="selectThis" id="selectThis">
                                            <option value="">Indoor / Outdoor</option>
                                            {% for type in types %}

                                                <option value=".option{{ type.id }}">{{ type.type }}</option>

                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--div class="cd-filter-block">
                                <h4>Pitch</h4>
                                <ul class="cd-filter-content cd-filters list">
                                    {% for pitch in pitchs %}
                                        <li>
										     <input class="filter" data-filter=".radio{{ pitch.id }}" type="checkbox" id="checkbox{{ pitch.id }}">
                                            <label class="checkbox-label" for="radio{{ pitch.id }}">{{ pitch.titre }}</label>
                                    
                                        </li>

                                    {% endfor %}
                                </ul>
                            </div-->
                        </form>
                        <a href="#0" class="cd-close">Fermer</a>
                    </div>
                    <a href="#" class="cd-filter-trigger">Categories</a>
                    <div class="col-md-9 col-sm-9">
					<section class="cd-gallery">
                        <ul id="MixItUpB04E57">
                            {% for categorie in categories %}


                                {% for produit in produits %}
                                    {% if produit.categorie.id == categorie.id %}

                                        <li class="mix check{{ categorie.id }} radio{{ produit.pitch.id }} option{{ produit.type.id }}" style="display: inline-block;">



                                            <div  class="col-lg-4 col-md-6 col-sm-6 product_list_item {{ categorie.id }}" >
                                                <div  class="product_list_item_picture" >
                                                    <a href="{{ path('product_show', { 'id': produit.id }) }}" class="product_list_picturelink"  title="" >
                                                        <img src='{{ asset( produit.image1.src)}}' alt='INSTORE 2.6' class='cat lazyload' />
                                                    </a>
                                                </div>
                                                <div  class="product_list_item_desc" ><a href="{{ path('product_show', { 'id': produit.id }) }}" class="product_list_namelink"  title="{{ produit.nom }}" >{{ produit.nom }}</a>
                                                    <div  class="product_list_info" >{{ produit.slug }}</div>
                                                    <div  class="product_list_desc" >
                                                        {{ produit.description[:150] ~ '...' }}
                                                    </div>
                                                    <div  class="product_list_hashtag" ># {{ produit.categorie}}</div>
                                                </div>
                                            </div>

                                        </li>
                                    {% endif %}


                                {% endfor %}
                                </li>
                            {% endfor %}


                            <li class="gap"></li>
                            <li class="gap"></li>
                            <li class="gap"></li>
                        </ul>
                        <div class="cd-fail-message">Aucun produit trouvé</div>
                    </section>
					</div>
					</div>

                </main>
            </div>
        </div>
    </div>

    <script>
        /*
         This is a jQuery script for 2-step checkbox filtering
         I'll be explaining lines that seems to have importance
         Please note that the 2nd Block of checkboxes must be disabled in the html via attribute 'disabled'
         */

        //show all categories
        var _showCategories = function(item) {
            for (var x = 0; x < item.length; ++x) {
                $(item[x]).fadeIn();
            }
        };

        //categories array will be used to store the parent ID of each .results block
        //the resources array will hold all the input[type="checkbox"]:checked values
        //the initial will be used as a string container to target the specific result that needs to be displayed
        var categories = [],
                resources = [],
                initial = "";

        //list all the category blocks




        $('div.tags').find('input[type="checkbox"]').click(function() {

            //everytime there is a new category/clicked
            //remove values from the resources array and initial variable
            //to remove duplication of entries
            resources = [];
            initial = "";

            //check everything on the first checkbox block if anything is checked
            if ($('div.tags.categories input[type="checkbox"]:checked').length > 0) {
                $('.results li').hide();
                //we remove the attribute on the
                //second checkbox block to be able to filter it
                $('.topics input[type="checkbox"]').removeAttr('disabled');

                //in all inputs that are checked, get it's value (rel in this case)
                //check if the value already exists in our resources array
                //if not, put all those values into the array
                $('div.tags').find('input:checked').each(function() {
                    if (($.inArray($(this).attr('rel'), resources)) === -1) {
                        resources.push($(this).attr('rel'));
                    }

                    //convert our resources array to string
                    //then replace the commas (,) with periods (.)
                    initial = resources.toString();
                    initial = initial.replace(/,/g, '.');
                });

                //iterate through all the categories
                //and check if a category block's li children has the classes
                //that we inserted in the initial variable
                //else fade the block out
                for (var i = 0; i < categories.length; ++i) {
                    if ($(categories[i] + " .results > li." + initial).length != 0) {
                        $(".results > li." + initial).show('fast');
                        $(categories[i]).fadeIn('fast');
                    } else {
                        $(categories[i]).fadeOut('fast');
                    }
                }
            } else {
                //reset all when all of the checkboxes are unticked
                $('.topics input[type="checkbox"]').attr('disabled', 'disabled');
                $('.results > li').fadeIn('fast');
                _showCategories(categories);
            }
        });
    </script>
    <script src="{{ asset('filter/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('filter/js/jquery.mixitup.min.js') }}"></script>
    <script src="{{ asset('filter/js/main.js') }}"></script> <!-- Resource jQuery -->
{% endblock %}