{% extends 'layout/base.html.twig' %}

{% block body %}
    <style>
        #commons_footer {
            text-align: right;
            color: #777;
            font-size: 9pt;
            padding: 5px 0;
            background-color: #ededed;
        }
    </style>
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" id="bootstrap-css">
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
    <link href="{{ asset('project/design/resources/css/categorie.css') }}" rel="stylesheet" type="text/css" media="screen" >
    <div id='commons_header_height'>
    </div>
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1>Nos catalogue</h1>
                        <div  class="page_header_description" >Une large gamme d'ecrans et d'accessoires</div>
                    </div>
                </div>
                <div  class="commons_block" >
                    <div  id="pathfinder" >
                        <!-- Breadcrumbs --><ol itemscope itemtype="http://schema.org/BreadcrumbList">	<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">		<a itemprop="item" class="back" href=".">		<span itemprop="name">Accueil</span></a>		<meta itemprop="position" content="1" />	</li> <span class='separator'>›</span> 	<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">		<a itemprop="item" class="last" href="catalogue">		<span itemprop="name">Nos catalogue</span></a>		<meta itemprop="position" content="2" />	</li></ol>
                    </div>
                </div>


                <div  class="commons_block" >
                    <!-- liste-catalogue-->
                    <div  class="catalogue_bloc_context" >
                        <div class="filter-block">
                            <form class="form-horizontal" action="">


                                <div class="catalogue_bloc_context_item tags categories">
                                    <h2 class="slide_down">Catégorie</h2>
                                    {% for categorie in categories %}
                                        <div class="checkbox"><label><input type="checkbox" rel="{{ categorie.id }}"/> {{ categorie.nom }}</label></div>
                                    {% endfor %}
                                </div>



                                <div  class="catalogue_bloc_context_item tags topics" >
                                    <h2>Indoor / Outdoor</h2>
                                    {% for pitch in pitchs %}
                                        <div class="checkbox"><label><input type="checkbox" rel="{{ pitch.titre }}" disabled/>{{ pitch.titre }}</label></div>
                                    {% endfor %}
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- /liste-catalogue-->
                    <div  class="catalogue_bloc_main" style="background:white !important;">
                        <div class="col-xs-12 no-padding grid" data-masonry='{ "itemSelector": ".grid-item" }'>
                            <div  class="product_list" >
                                {% for categorie in categories %}
                                    <section class="grid-item  box" id="{{categorie.id}}">
                                        <ul class="results list-unstyled">
                                            {% for produit in produits %}
                                                {% if produit.categorie.id == categorie.id %}

                                                    <li class="{{ categorie.id }} {{ produit.pitch }}">

                                                        <div  class="product_list_item {{ categorie.id }}" >
                                                            <div  class="product_list_item_picture" >
                                                                <a href="{{ asset(produit.image1.src) }}" class="product_list_picturelink"  title="" >
                                                                    <img src='{{ asset(produit.image1.src) }}' alt='INSTORE 2.6' class='lazyload' data-src='project/resources/img/type4/-dalle_video_led_indoor_pitch_2_instore_front_pixelight.png' width='104' height='187' />
                                                                </a>
                                                            </div>
                                                            <div  class="product_list_item_desc" ><a href="catalogue/dalles-led/instore-2.6" class="product_list_namelink"  title="" >{{ produit.nom }} {{ produit.pitch }}</a>
                                                                <div  class="product_list_info" >Le Sur Mesure très lumineux</div>
                                                                <div  class="product_list_desc" >La gamme INSTORE est préconisée pour une utilisation intérieure en installation fixe. Elle a l’avantage de...</div>
                                                                <div  class="product_list_hashtag" ># Dalles LED</div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </section>
                                {% endfor %}

                            </div>


                            <div id='catalogue_list_backtop'></div></div>
                        <div style='clear: both;'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){

            $(".filter-button").click(function(){
                var value = $(this).attr('data-filter');

                if(value == "all")
                {
                    //$('.filter').removeClass('hidden');
                    $('.filter').show('1000');
                }
                else
                {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                    $(".filter").not('.'+value).hide('3000');
                    $('.filter').filter('.'+value).show('3000');

                }
            });

        });
    </script>
    <script>
        /*
         This is a jQuery script for 2-step checkbox filtering
         I'll be explaining lines that seems to have importance
         Please note that the 2nd Block of checkboxes must be disabled in the html via attribute 'disabled'
         */

        //show all categories
        var _showCategories = function(item) {
            for (var x = 0; x < item.length; ++x) {
                $(item[x]).fadeIn();
            }
        };

        //categories array will be used to store the parent ID of each .results block
        //the resources array will hold all the input[type="checkbox"]:checked values
        //the initial will be used as a string container to target the specific result that needs to be displayed
        var categories = [],
                resources = [],
                initial = "";

        //list all the category blocks
        {% for categorie in categories %}
        categories[{{ categorie.id }}] = "#{{ categorie.id }}";
        {% endfor %}

        $('div.tags').find('input[type="checkbox"]').click(function() {

            //everytime there is a new category/clicked
            //remove values from the resources array and initial variable
            //to remove duplication of entries
            resources = [];
            initial = "";

            //check everything on the first checkbox block if anything is checked
            if ($('div.tags.categories input[type="checkbox"]:checked').length > 0) {
                $('.results li').hide();
                //we remove the attribute on the
                //second checkbox block to be able to filter it
                $('.topics input[type="checkbox"]').removeAttr('disabled');

                //in all inputs that are checked, get it's value (rel in this case)
                //check if the value already exists in our resources array
                //if not, put all those values into the array
                $('div.tags').find('input:checked').each(function() {
                    if (($.inArray($(this).attr('rel'), resources)) === -1) {
                        resources.push($(this).attr('rel'));
                    }

                    //convert our resources array to string
                    //then replace the commas (,) with periods (.)
                    initial = resources.toString();
                    initial = initial.replace(/,/g, '.');
                });

                //iterate through all the categories
                //and check if a category block's li children has the classes
                //that we inserted in the initial variable
                //else fade the block out
                for (var i = 0; i < categories.length; ++i) {
                    if ($(categories[i] + " .results > li." + initial).length != 0) {
                        $(".results > li." + initial).show('fast');
                        $(categories[i]).fadeIn('fast');
                    } else {
                        $(categories[i]).fadeOut('fast');
                    }
                }
            } else {
                //reset all when all of the checkboxes are unticked
                $('.topics input[type="checkbox"]').attr('disabled', 'disabled');
                $('.results > li').fadeIn('fast');
                _showCategories(categories);
            }
        });
    </script>
{% endblock %}