{% extends 'layout/base.html.twig' %}

{% block body %}
<style>
    textarea.form-control {
        height: auto;
        min-height: 138px;
    }
</style>
    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1>Contact</h1>
                        <div  class="page_header_description" >Un large choix d'&eacute;crans et d'accessoires</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->



    <!--container-->
    <!--container-->
    <div class="container colmn">
        <div class="row">

            <div class="col-md-12">
                <div class="row" >

                </div>


                <h4 class="title-head">LEDCAST ET VOUS</h4>
                <div class="col-md-2" >
                    <img src="{{ asset('project/design/resources/images/mail.png') }}" />
                </div>
                <div class="col-md-10">
                    <p class="text-p">
                        Vous souhaitez en savoir plus sur nos services, nos produits, notre SAV, nos formations, vous êtes prestataire,
                        intégrateur, vous souhaitez développer votre communication digitale, Ledcast reste à votre service.
                        Envoyez-nous votre commentaire ou vos questions, nos spécialistes sont là pour répondre au mieux à vos besoins.
                        <br>
                    </p>
                </div>
                <div class="col-md-12 contact-form">
                    <div class="contact-image">
                        <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
                    </div>
                    {{ form_start(form) }}
                        <h3>Envoyer un Message</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_widget(form.prenom,{'attr':{'class':'form-control' ,'placeholder': 'VOTRE PRÉNOM*'}}) }}

                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.nom,{'attr':{'class':'form-control' ,'placeholder': 'VOTRE NOM*'}}) }}

                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.societe,{'attr':{'class':'form-control' ,'placeholder': 'SOCIÉTÉ'}}) }}

                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.telephone,{'attr':{'class':'form-control' ,'placeholder': 'TÉLÉPHONE*'}}) }}

                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.email,{'attr':{'class':'form-control' ,'placeholder': 'E-MAIL *'}}) }}

                                </div>


                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_widget(form.sujet,{'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.produit,{'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.message,{'attr':{'class':'form-control','placeholder': 'Votre Message *'}}) }} </div>
                            </div>
							 <div class="g-recaptcha" data-sitekey="6LcDUJQUAAAAAMXCi8jWRGlNHVkmVvp2bCLddS_v"></div>
							<div class="form-group" >
                                <input type="submit" name="Submit" class="btnContact" value="Envoyer Message" style="margin-top:40px;float:right"/>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>

                <div class="col-md-12">
                    <h4 class="title-head">NOUS TROUVER</h4>
                  

                    <div class="col-md-8 col-md-ofset-2 frame" style="width:100% !important;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.1548577746453!2d2.3524379156713966!3d48.93149220351077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66eb69e6c01cd%3A0xf4c88fe83376d43c!2s11+Rue+Riant%2C+93200+Saint-Denis!5e0!3m2!1sfr!2sfr!4v1483111928265"
						height="250" frameborder="0" style="border:0; width:100%" allowfullscreen=""></iframe>
                        <h3>SHOWROOM</h3>
                        <p>11, rue Riant <br>93200 Saint-Denis<br> +33 (0)1 48 09 80 36</p>
                    </div>

                  



                </div>

            </div>
        </div>
    </div>
    <!--/container-->

    <!--/container-->

{% endblock %}