{% extends 'base.html.twig' %}

{% block body %}
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
{% if first_visit is not defined %}
 <script type="text/javascript">
		$('#popup_info').show();
	</script>

	<div class="alert text-center cookiealert" role="alert">
    <b>En cliquant sur ”J’accepte”,</b> &#x1F36A; vous acceptez l’utilisation des cookies.
	Vous pourrez toujours les désactiver ultérieurement.<br> Si vous supprimez ou désactivez nos cookies,
	vous pourriez rencontrer des interruptions ou des problèmes d’accès au site.<br>

    <a href="{{asset('images/Politique sur les cookies LEDCAST .pdf')}}" target="_blank" type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
        J'accepte
    </a>
</div>
{% endif %}
<link href="{{ asset ('project/design/resources/css/bootstrap.css ') }}" rel="stylesheet" type="text/css" media="all" />
    <div id='commons_header_height'>
    </div>
    <div  id="commons_main_home" >
    <div  id="commons_zoom" >
    <div  class="zoom_intern" >
    <div  id="home_flash" >
        <ul class="homewrap">
            <li>
                <div class='homeflash_item' style='background-image: url(project/resources/img/ecran-geant-LED.jpg);'><div class='dot'></div>
                    <div  class="homeflash_inner" ><div  class="homeflash_title" >Commerce & Retail</div>
                        <div  class="homeflash_text" ></div>
                    </div>
                </div>
            </li>
            <li>
                <div class='homeflash_item' style='background-image: url(project/resources/img/ecran-geant-LED2.jpg);'>
                    <div class='dot'></div><div  class="homeflash_inner" ><div  class="homeflash_title" >Institutionnel</div>
                        <div  class="homeflash_text" >
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class='homeflash_item' style='background-image: url(project/resources/img/ecran-geant-LED3.jpg);'>
                    <div class='dot'></div><div  class="homeflash_inner" ><div  class="homeflash_title" >Evénementiel & Média</div>
                        <div  class="homeflash_text" ></div>
                    </div>
                </div>
            </li>
            <li><div class='homeflash_item' style='background-image: url(project/resources/img/ecran-geant-LED4.jpg);'>
                    <div class='dot'></div><div  class="homeflash_inner" ><div  class="homeflash_title" >Affichage Urbain</div>
                        <div  class="homeflash_text" ></div>
                    </div>
                </div>
            </li>
            <li>
                <div class='homeflash_item' style='background-image: url(project/resources/img/ecran-geant-LED5.jpg);'>
                    <div class='dot'></div><div  class="homeflash_inner" ><div  class="homeflash_title" >Cross Rental</div>
                        <div  class="homeflash_text" ></div>
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <!--home-->
    <div  id="home_content" >
        <div  class="commons_block" ><div  class="home_content_left" style="padding-left: 3%;"><h1>A PROPOS DE LEDCAST</h1>
                <div  class="home_content_intro" >LEDCAST fondé en 2012 par Michel Sequeira, fabricant, installateur, innovateur dans le domaine de la
				communication digitale.</div>
				 <div  class="home_content_text" >
				LEDCAST est le spécialiste et l’expert des murs d’ écrans LED géants intérieur et extérieur, des écrans LED
				transparents, des écrans LED circulaires, ainsi que de l’affichage dynamique LED sur mesure. Votre secteur
				d’activité est le, commerce, le retail, les lieux institutionnels, l’événementiel, les médias, l’artistique ou le sport. Quel
				que soit votre projet, les experts de LEDCAST, sont en mesure de vous conseiller, et vous accompagner sur la meilleure
				solution à adopter afin d’optimiser le rendu de vos diffusions sur écran géant, choix du pitch (distance entre deux
				pixels), de la luminosité, des dimensions, accessoires, intégration, indoor – outdoor...
				Disponible à la vente ou la location, nos solutions d’affichage digital LED sont aujourd’hui incontournables dans le
				domaine de la communication de votre entreprise !
				Depuis plusieurs années, les plus grandes enseignes nous font confiance.
				<a href="{{path('contact')}}">Contactez-nous </a>afin de définir ensemble votre projet, vous recevrez un devis dans les meilleurs délais.</div>
            </div>
            <div  class="home_content_right" >
                <div  class="home_content_picture" >
                    <ul class="homediaporama">
                        <li>
                            <img src="{{ asset('project/design/resources/images/product/act1.jpg') }}"  alt=""  title=""  />
                        </li>
                        <li>
                            <img src="{{ asset('project/design/resources/images/product/act2.jpg') }}"  alt=""  title=""  />
                        </li>
                        <li>
                            <img src="{{ asset('project/design/resources/images/product/act3.jpg') }}"  alt=""  title=""  />
                        </li>
                        <li>
                            <img src="{{ asset('project/design/resources/images/product/form1.jpg') }}"  alt=""  title=""  />
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div style='clear: both;'></div>
        </div>
    </div>
    <!-- /home-->

    <!--product-->
    <div  id="home_service" >
        <div  id="home_service_container"  class="commons_block" >
            <div  class="home_title_block" ><h2>MEILLEURES  <span>VENTES</span></h2>
            </div>
			     <div class="row">



            <div class="slick-list draggable">



                    <div class="col-md-4" style="margin-top: 27px; margin-bottom:20px; height: 569px;">
                        <a href="/5/produit" class="home_service_item" title="" tabindex="0">
						<div class="home_service_item_picture">
                                <img src="/uploads/images/media/5c77c2315bb0a.png" alt="" title="" style="height: 250px;"></div>
                            <h3>GOLD MINI OUTDOOR P4.8</h3>
                            <div class="home_service_item_text">
                               GOLD OUTDOOR est une gamme d’écrans L.E.D. destinée principalement aux installations pérennes en 
							   extérieur (IP 65) mais peut également s’utiliser en ...
							   </div>
                             <div class="home_service_item_mask"></div>
                        </a>
                    </div>
					
					 <div class="col-md-4" style="margin-top: 27px; margin-bottom:20px; height: 569px;">
                        <a href="/16/produit" class="home_service_item" title="" tabindex="0">
						<div class="home_service_item_picture">
                                <img src="/uploads/images/media/5c77b33dcd485.jpg" alt="" title="" style="height: 250px;"></div>
                            <h3>TRUST Séries P2.5</h3>
                            <div class="home_service_item_text">
                               Le cabinet TRUST séries a été conçu pour s’intégrer à la perfection sur les parois des principaux
							   stands modulaires (55mm et 62mm). Il a aussi été  ...
							   </div>
                             <div class="home_service_item_mask"></div>
                        </a>
                    </div>
					
					 <div class="col-md-4" style="margin-top: 27px; margin-bottom:20px; height: 569px;">
                        <a href="/11/produit" class="home_service_item" title="" tabindex="0">
						<div class="home_service_item_picture">
                                <img src="/uploads/images/media/5bd70eb14a04d.png" alt="" title="" style="height: 250px;"></div>
                            <h3>Starter+ P2.9</h3>
                            <div class="home_service_item_text">
                               Le rapport pitch/prix/qualité confère à cette gamme Starter + indoor la possibilité au plus grand 
							   nombre de s’équiper en panneaux LED. De plus le ...
							   </div>
                             <div class="home_service_item_mask"></div>
                        </a>
                    </div>
                             
                





            </div>
        </div>
       
           
        </div>
    </div>

    <!--/product-->

    <!--news-->
    <div  id="home_news" >
        <div  class="home_title_block" ><h2>NOS<span> ACTUALITÉS</span></h2>
        </div>
        <div  class="commons_block classic" >
  {% for actualite in actualites %}
            <div  class="home_news_item"  data-sr="wait 0.15s and enter left and move 100px over 0.6s" >
                <div  class="home_newsmain_item" ><a href="{{ path('actualite_news', { 'id': actualite.id }) }}" class="home_news_picture"  title="" >
                        <div class="home_news_picture_image" style="  background-image: url({{ asset( actualite.media.src)}});  background-repeat: no-repeat;  background-position: center;  background-size: contain; ">&nbsp;</div></a>
                    <a href='{{ path('actualite_news', { 'id': actualite.id }) }}' class='home_news_text'>
					<div  class="home_news_title" >{{ actualite.titre }}</div>
                        <div  class="home_news_description" >{{ actualite.description[:50] ~ '...' }}</div>
                    </a>
                </div>
            </div>

    {% endfor %}

            <div style='clear: both;'></div>
        </div>

        <div  class="commons_block mobile" >
            <ul class="newswrap">
			{% for actualite in actualites %}
			<li><div  class="home_news_item " ><div  class="home_newsmain_item" >
                            <a href="{{ path('actualite_news', { 'id': actualite.id }) }}" class="home_news_picture"  title="" ><div class="home_news_picture_image" 
							style="  background-image: url({{ asset( actualite.media.src)}});  background-repeat: no-repeat;  background-position: center;  background-size: contain; ">&nbsp;</div></a>
							<a href='#' class='home_news_text'><div  class="home_news_title" >{{ actualite.titre }}</div>
                                <div  class="home_news_description" >{{ actualite.description[:50] ~ '...' }}</div>
                            </a></div>
                    </div>
                </li>
			 {% endfor %}
            </ul>
            <nav class="product_nav">
                <a class="prev" href="#"></a>
                <a class="next" href="#"></a>
            </nav>
            <div style='clear: both;'>
            </div>
        </div>

    </div>
    <!--/news-->

    <!--Event-->
    <div  id="home_event" >
        <div  class="commons_block" ><div  class="home_title_block" >
                <h2>Les prochains <span>événements</span> - L'Agenda <span>Salons</span></h2>
            </div>
            <ul class="itemwrap">
                <li>
                    <div  class="home_event_item " ><div  class="home_newsmain_item" >
                            <a href="#" class="home_event_picture"  title="" >
                                <div class="home_event_picture_image" style="  background-image: url(project/design/resources/images/product/event1.jpg);  background-repeat: no-repeat;  background-position: center;  background-size: contain; ">&nbsp;
                                </div></a><div class='home_event_text'><a href="#" class="home_event_title"  title="" >SHOWROOM</a><div  class="event_short_date" >7 Juin 2016</div>
                                <div  class="home_event_description" >Notre Showroom LEDCAST situé au 11, rue Riant 93200 Saint-Denis vous accueillera sur RDV ....</div>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div  class="home_event_item " ><div  class="home_newsmain_item" >
                            <a href="#" class="home_event_picture"  title="" >
                                <div class="home_event_picture_image" style="  background-image: url(project/design/resources/images/product/form1.jpg);  background-repeat: no-repeat;  background-position: center;  background-size: contain; ">&nbsp;
                                </div></a><div class='home_event_text'><a href="#" class="home_event_title"  title="" >formations aux technologies vidéo LED</a>
                                <div  class="event_short_date" >8 Février 2018</div>
                                <div  class="home_event_description" >Notre salle de formation LEDCAST permet à nos clients revendeurs, installateurs et intégrateurs de posséder l’ensemble des compétences exigées pour déployer et maintenir les produits à technologie vidéo LED</div>
                                </div></div>
                    </div>
                </li>
                <li>
                    <div  class="home_event_item " ><div  class="home_newsmain_item" >
                            <a href="#" class="home_event_picture"  title="" >
                                <div class="home_event_picture_image" style="  background-image: url(project/design/resources/images/product/event2.png);  background-repeat: no-repeat;  background-position: center;  background-size: contain; ">&nbsp;
                                </div></a><div class='home_event_text'><a href="#" class="home_event_title"  title="" >SHOWROOM</a><div  class="event_short_date" >7 Juin 2016</div>
                                <div  class="home_event_description" >Notre Showroom LEDCAST situé au 11, rue Riant 93200 Saint-Denis vous accueillera sur RDV ....</div>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div  class="home_event_item " ><div  class="home_newsmain_item" >
                            <a href="#" class="home_event_picture"  title="" >
                                <div class="home_event_picture_image" style="  background-image: url(project/design/resources/images/product/event3.jpg);  background-repeat: no-repeat;  background-position: center;  background-size: contain; ">&nbsp;
                                </div></a><div class='home_event_text'><a href="#" class="home_event_title"  title="" >formations aux technologies vidéo LED</a>
                                <div  class="event_short_date" >8 Février 2018</div>
                                <div  class="home_event_description" >Notre salle de formation LEDCAST permet à nos clients revendeurs, installateurs et intégrateurs de posséder l’ensemble des compétences exigées pour déployer et maintenir les produits à technologie vidéo LED</div>
                               </div></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- / event -->

    <!-- partenaire 
    <div  id="home_partner" >
        <div  class="commons_block" >
            <div  id="home_partner_inner" >
                <div  class="home_title_block" >
                    <h2>Quelques <span>Références</span></h2>
                </div>
                <ul id='footer_carousel'>
                    <li><div  class="item" ><img src="{{ asset('project/resources/img/type3/bestmountain.jpg') }}"  alt="Best Mountain"  title="Best Mountain"  /></div>
                    </li>
                    <li><div  class="item" ><img src="{{ asset('project/resources/img/type3/intersport.jpg') }}"  alt="Intersport"  title="Intersport"  /></div>
                    </li>
                    <li><div  class="item" ><img src="{{ asset('project/resources/img/type3/grimaldiforum.jpg') }}"  alt="Grimaldi Forum"  title="Grimaldi Forum"  /></div>
                    </li>
                    <li><div  class="item" ><img src="{{ asset('project/resources/img/type3/clubmed.jpg') }}"  alt="Club Med"  title="Club Med"  /></div>
                    </li>
                    <li><div  class="item" ><img src="{{ asset('project/resources/img/type3/parcasterix.jpg') }}"  alt="Parc asterix"  title="Parc asterix"  /></div>
                    </li>
                    <li>
                        <div  class="item" ><img src="{{ asset('project/resources/img/type3/fdj.jpg') }}"  alt="Francaise des Jeux"  title="Francaise des Jeux"  /></div>
                    </li>
                    <li>
                        <div  class="item" ><img src="{{ asset('project/resources/img/type3/sephora.jpg') }}"  alt="Sephora"  title="Sephora"  /></div>
                    </li>
                    <li>
                        <div  class="item" ><img src="{{ asset('project/resources/img/type3/eleclerc.jpg') }}"  alt="E Leclerc"  title="E Leclerc"  /></div>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <!-- /partenaire -->
    </div>
    </div>
    </div>
<!-- Only for the demo -->
<script>
    for (var i = 1; i <= 150; i++)
        document.querySelector("#fillme").innerHTML += "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ";
</script>

<!-- Include cookiealert script -->
<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>

{% endblock %}