{% extends 'layout/base.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1>LEDCAST</h1>
                        <div  class="page_header_description" >Un large choix d'&eacute;crans et d'accessoires</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->
    </div>


    <!--container-->
    <div class="col-md-12" style="background:#fff;" >
        <div class="" style="padding:3% 6%">
            <div class="row homeBlock" style="margin-top:40px;">
                <div class="col-md-4 post" >
                    <a href="{{ path('ledcast-a-propos') }}" title="Toussaint">
                        <span class="title">A Propos Ledcast</span>
                        <span class="link">Je découvre</span>
                        <div class="filter">&nbsp;</div>
                        <picture>

                            <img src="{{ asset ('project/resources/img/img1.jpg') }}" alt=" " class="img-responsive inline">
                        </picture>
                    </a>


                </div>
                <div class="col-md-4 post" >
                    <a href="{{ path('ledcast-actualite') }}" title="Toussaint">
                        <span class="title">Actualités</span>
                        <span class="link">Je découvre</span>
                        <div class="filter">&nbsp;</div>
                        <picture>

                            <img src="{{ asset ('project/resources/img/img2.jpg') }}" alt=" " class="img-responsive inline">
                        </picture>
                    </a>
                </div>
                <div class="col-md-4 post" >
                    <a href="{{ path('ledcast-bureau') }}" title="Toussaint">
                        <span class="title">Bureau d'études</span>
                        <span class="link">Je découvre</span>
                        <div class="filter">&nbsp;</div>
                        <picture>

                            <img src="{{ asset ('project/resources/img/img3.jpg') }}" alt=" " class="img-responsive inline">
                        </picture>
                    </a>
                </div>
            </div>

            <div class="row homeBlock" style="margin-top:20px;">
                <div class="col-md-4 post" >
                    <a href="{{ path('ledcast-cross') }}" title="Toussaint">
                        <span class="title">Cross Rental</span>
                        <span class="link">Je découvre</span>
                        <div class="filter">&nbsp;</div>
                        <picture>

                            <img src="{{ asset ('project/resources/img/img4.jpg') }}" alt=" " class="img-responsive inline">
                        </picture>
                    </a>


                </div>
                <div class="col-md-4 post" >
                    <a href="{{ path('ledcast-formation') }}" title="Toussaint">
                        <span class="title">Formations</span>
                        <span class="link">Je découvre</span>
                        <div class="filter">&nbsp;</div>
                        <picture>

                            <img src="{{ asset ('project/resources/img/img5.jpg') }}" alt=" " class="img-responsive inline">
                        </picture>
                    </a>
                </div>
               
            </div>

        </div>
    </div>


    <!--/container-->

{% endblock %}