{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1>MENTIONS LÉGALES</h1>
                        <div  class="page_header_description" >Un large choix d'&eacute;crans et d'accessoires</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->



    <!--container-->
    <!--container-->
    <div class="container colmn">
        <div class="row">

            <div class="col-md-12">



                <h4 class="title-head">EDITION</h4>
                <p class="text-p">
                    Ce site est édité par la société www.ledcast.fr est la propriété de LEDGESTION, société Anonyme immatriculée au registre du commerce et
                    des sociétés de BOBIGNY sous le numéro de Siret 75354242200013, dont le siège social est situé au : 43, avenue Ferdinand Buisson 75016
                    Paris<br>


                </p>
            </div>

            <br>
            <br>
            <div class="col-md-12">
                <h4 class="title-head">HÉBERGEMENT </h4>
                <p class="text-p">
                    Il est assuré par la société OVH Le site est hébergé par la société :
                    OVH SAS au capital de 10 069 020 € RCS Lille Métropole 424 761 419 00045 Code APE 2620Z N° TVA :
                    FR 22 424 761 419 Siège social : 2 rue Kellermann – 59100 Roubaix – France<br>

                    CONDITIONS GENERALES D’UTILISATION DU SITE INTERNET</p>
            </div>   <br>
            <div class="col-md-12">
                <h4 class="title-head">DECLARATION CNIL </h4>
                <p class="text-p">
                    Formalités de déclaration auprès de la CNIL – Conformément à la loi informatique et libertés du 6 janvier 1978 modifiée,
                    ce site a fait l’objet d’une déclaration auprès de la CNIL.
                    <br></p>
            </div>

            <div class="col-md-12">
                <h4 class="title-head">TRAITEMENT DES DONNEES PERSONNELLES</h4>
                <p class="text-p">
                    Les informations que nous sommes amenés à recueillir proviennent de l’enregistrement volontaire d’une adresse courriel
                    fournie par l’internaute, lui permettant de recevoir une documentation, de se renseigner sur un point quelconque et
                    d’être livré. Ces informations ne sont jamais communiquées à des tiers. Les personnes concernées ont été informées de
                    leurs droits.
                </p>
            </div>
            <div class="col-md-12">
                <h4 class="title-head">Droit d’accès, de modification, de suppression</h4>
                <p class="text-p">
                    Les articles 26, 34 à 38 de la loi informatique et libertés du 6 janvier 1978 modifiée,
                    vous permettent à tout moment d’exercer vos droits.  L’utilisateur est informé qu’il dispose d’un droit d’accès et de
                    rectification portant sur les données le concernant en écrivant à LEDCAST par courrier
                    (43, avenue Ferdinand Buisson 75016 Paris) Ou par mail en utilisant le formulaire contact http://ledcast/contact
                </p>
            </div>

            <div class="col-md-12">
                <h4 class="title-head">DROIT D’AUTEUR</h4>
                <p class="text-p">
                    L’ensemble de ce site relève de la législation française et internationale sur le droit d’auteur et la propriété intellectuelle.
                    Toute représentation, reproduction, modification, utilisation commerciale, ainsi que tout transfert vers un autre site sont interdits,
                    sauf autorisation à demander par courrier à l’adresse indiquée plus haut.
                </p>
            </div>
        


        </div>
    </div>
    <!--/container-->


    <!--/container-->

{% endblock %}