{% extends 'layout/base.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1>LOCATION</h1>
                        <div  class="page_header_description" >Un large choix d'&eacute;crans et d'accessoires</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->



    <!--container-->
<div class="col-lg-12" style="background: white">
    <br><br><br><br><br><br> <br><br><br><br><br><br>
</div>

    <!--/container-->

{% endblock %}