{% extends 'layout/base.html.twig' %}

{% block body %}
  <style>
        .PDP--benefits fieldset {
            border: 3px solid #f18506;
            border-radius: 10px;
            margin-bottom: 40px;
        }
        .PDP--benefits fieldset legend {
            text-align: center;
            display: inline-block;
            width: 230px;
            border: none;
            margin-bottom: 0;
        }
		  .carousel-indicators li {
            position: relative;
            -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            width: 30px;
            height: 6px;
            margin-right: 3px;
            margin-left: 3px;
            text-indent: -999px;
            background-color: #FF9800;
        }
        .carousel-indicators .active {
            background-color: #1f1e1e;
        }
        legend {
            display: block;
            width: 100%;
            padding: 0;
            margin-bottom: 20px;
            font-size: 21px;
            line-height: inherit;
            color: #333;
            border: 0;
            border-bottom: 1px solid #e5e5e5;
        }
        .PDP--benefits fieldset ul {
            text-align: left;
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
            list-style-position: inside;
            list-style-image: url(../images/check.png);
            padding: 0;
            margin: 0;
            padding: 20px;
            font-size: 16px;
            font-weight: 600;
        }
        .btn-huge {
            font-size: 1em;
            line-height: 60px;
        }
        .btn-secondary {
            color: #fff;
            background-color: #4d4d4d;
        }
        .cta-sep {
            width: 100%;
            text-align: center;
            margin: 10px 0;
            position: relative;
            z-index: 2;
        }
        .cta-sep::before {
            content: '';
            height: 7px;
            display: block;
            width: 100%;
            border-top: 1px solid #d6d6d6;
            border-bottom: 1px solid #d6d6d6;
            position: relative;
            z-index: 1;
            top: 15px;
        }
        .cta-sep span {
            background: #fff;
            position: relative;
            z-index: 2;
            padding: 0 20px;
            text-transform: uppercase;
            font-weight: 600;
        }
		.carousel-control-next {
    right: 0;
    margin-right: -15%;
}
.carousel-control-prev {
    left: 0;
    margin-left: -15%;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -29px;
	}
	.carousel-indicators li {
        border: 1px solid #f99a01;
		    background-color: #FF9800 !important;
	}
    </style>
   
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="{{ asset('project/design/resources/css/product.css') }}" rel="stylesheet" type="text/css" media="screen" >
    <div id='commons_header_height'></div>
    <div  id="commons_main" >
    <div  id="commons_zoom" >
    <div  class="zoom_intern" >
    <div  id="page_header" >
        <div  class="commons_block" >
            <div  class="h1_like" ><i>Catalogue | </i>{{ produit.categorie }} </div>
            <div  class="page_header_description" >Un large choix d'écrans et d'accessoires</div>
        </div>
    </div>
    <div  class="commons_block" ><div  id="pathfinder" >
            <!-- Breadcrumbs --><ol itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" class="" href="{{ path('ledcast_homepage') }}">		<span itemprop="name">Accueil</span></a>
                    <meta itemprop="position" content="1" />	</li>
                <span class='separator'>›</span> 
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">	
				<a itemprop="item" class="" href="{{path('catalogue') }}">		
				<span itemprop="name">Notre catalogue</span></a>	
				<meta itemprop="position" content="2" />	
				</li> <span class='separator'>›</span> 
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">	
				<a itemprop="item" class="back">		
				<span itemprop="name">{{ produit.categorie }} </span></a>		
				<meta itemprop="position" content="3" />	
				</li> <span class='separator'>›</span> 	
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">		
				<a itemprop="item" class="last">
				<span itemprop="name">{{ produit.nom }}</span></a>		<meta itemprop="position" content="4" />	
				</li></ol>
        </div>
    </div>

    <div   class="commons_block" >



    <div class="col-md-12" style="background: white; padding: 5%;">
        <div class="col-md-6" style="    border-right: 2px solid #dcd8d7;         padding: 2% 9%;">

            <div  id="product_zoom_diapo" >

                <div class="carousel" id="slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slide" data-slide-to="0" class="active"></li>
                        <li data-target="#slide" data-slide-to="1"></li>
                        <li data-target="#slide" data-slide-to="2"></li>
                        <li data-target="#slide" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ asset( produit.image1.src)}}" class="img-fluid">

                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset( produit.image2.src)}}" class="img-fluid">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset( produit.image3.src)}}" class="img-fluid">
                            <div class="carousel-caption">
                            </div></div>

                    </div>
                    <a href="#slide" class="carousel-control-prev" data-slide="prev">
                       <i style=" width: 40px; padding: 10px; height: 40px; border-radius: 50%; background: #f99a01;"> 
					   <span class="carousel-control-prev-icon"></span>
					   </i>
                    </a>
                    <a href="#slide" class="carousel-control-next" data-slide="next">
					<i style=" width: 40px; padding: 10px; height: 40px; border-radius: 50%; background: #f99a01;"> 
                        <span class="carousel-control-next-icon"></span>
						</i>
                    </a>
                </div>



            </div>

        </div>
        <div class="col-md-6" style="padding: 6% 5%;">

            <div  id="product_zoom_intro" ><h1>{{ produit.nom }}</h1>
               
                <div  class="product_zoom_baseline" >{{ produit.slug }}</div>
            </div>
            <div  class="product_zoom_description" >
                {{ produit.description }}
            </div>
        </div>
    </div>


    <div class="col-md-12" style=" padding: 2% 1%">
        <h2 style="text-align:center; padding: 2%;"><span>Caractéristiques</span></h2>
        <div class="col-md-4">
            <div  id="product_zoom_caract" style="width: 100%;" >
                <div  class="product_zoom_caracteristic" >
                    <table  width="100%"  cellspacing="1" cellpadding="1" class=""  >


                        <tr valign="top">
                            <th  colspan="2" style="background: #f99a01b8; text-align:center;"> Module LED</th>
                        </tr>
                        <tr valign="top">
                            <th align="left" style="padding: 9px 16px;"> Pitch (mm)</th>
                            <td align="left"style="padding: 9px 16px;"> {{ produit.pitchp }}</td>
                        </tr>
                        <tr valign="top">
                            <th align="left"style="padding: 9px 16px;">Type LED </th>
                            <td align="left"style="padding: 9px 16px;"> {{ produit.typeled }} </td>
                        </tr>
                        <tr valign="top">
                            <th align="left" style="padding: 9px 16px;"> Taille module (L x H) en mm </th>
                            <td align="left" style="padding: 9px 16px;"> {{ produit.taille }}</td>

                        </tr>
                        <tr valign="top">
                            <th align="left" style="padding: 9px 16px;">Résolution module (px) </th>
                            <td align="left" style="padding: 9px 16px;"> {{ produit.resolution }} </td>

                        </tr>
                        <tr valign="top">
                            <th align="left" style="padding: 9px 16px;"> Densité pixels (px/m2) </th>
                            <td align="left" style="padding: 9px 16px;"> {{ produit.densite }} </td>

                        </tr>
                        <tr valign="top">
                            <th align="left" style="padding: 9px 16px;">Luminosité (cd/m²)</th>
                            <td align="left" style="padding: 9px 16px;"> {{ produit.luminosit }} </td>

                        </tr>
                        <tr valign="top">
                            <th align="left" style="padding: 9px 16px;"> Fréquence de rafraîchissement (Hz) </th>
                            <td align="left" style="padding: 9px 16px;"> {{ produit.frequence }} </td>

                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div  id="product_zoom_caract" style="width: 100%;" >
                <div  class="product_zoom_caracteristic" >
                    <table  width="100%"  cellspacing="1" cellpadding="1" class=""  >


                        <tr valign="top">
                            <th align="left" colspan="2" style="background: #f99a01b8; text-align:center;"> Dalle Led</th>


                        </tr>
                        <tr valign="top">
                            <th align="left">Dimensions cabinet (LxHxP) en mm </th>
                            <td align="left"> {{ produit.dimensions }}</td>

                        </tr>
                        <tr valign="top">
                            <th align="left"> Résolution dalle (px) </th>
                            <td align="left"> {{ produit.resolutiond }}</td>

                        </tr>
                        <tr valign="top">
                            <th align="left">Châssis curv </th>
                            <td align="left"> {{ produit.chassis }} </td>

                        </tr>
                        <tr valign="top">
                            <th align="left"> Maintenance</th>
                            <td align="left"> {{ produit.maintenance }} </td>

                        </tr>
                        <tr valign="top">
                            <th align="left">Poids (kg/m²) </th>
                            <td align="left"> {{ produit.poids }} </td>

                        </tr>
                        <tr valign="top">
                            <th align="left"> Consommation moy/max (wh/m2) </th>
                            <td align="left"> {{ produit.consommation }} </td>

                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div  id="product_zoom_caract" style="width: 100%;" >
                <div  class="product_zoom_caracteristic" >
                    <table  width="100%"  cellspacing="1" cellpadding="1" class=""  >


                        <tr valign="top">
                            <th align="left" colspan="2" style="background: #f99a01b8; text-align:center;"> Paramètres techniques</th>


                        </tr>
                        <tr valign="top">
                            <th align="left" style="width: 46%; padding: 6px 10px; font-size: 8pt;">Angle de vision (H°/V°) </th>
                            <td align="left" style="padding: 6px 10px; font-size: 8pt;"> {{ produit.anglevh }} </td>

                        </tr>
                        <tr valign="top">
                            <th align="left" style="width: 46%; padding: 6px 10px; font-size: 8pt;"> Distance de lisibilité mini conseillée (m) </th>
                            <td align="left" style="padding: 6px 10px; font-size: 8pt;"> {{ produit.distancem }}</td>

                        </tr>
                        <tr valign="top">
                            <th align="left" style="width: 46%; padding: 6px 10px; font-size: 8pt;"> Carte de réception </th>
                            <td align="left" style="padding: 6px 10px; font-size: 8pt;">{{ produit.carterec }} </td>

                        </tr>
                        <tr valign="top">
                            <th align="left" style="width: 46%; padding: 6px 10px; font-size: 8pt;"> Température de fonctionnement </th>
                            <td align="left" style="padding: 6px 10px; font-size: 8pt;"> {{ produit.temperateur }} </td>

                        </tr>
                        <tr valign="top">
                            <th align="left" style="width: 46%; padding: 6px 10px; font-size: 8pt;"> Tolérance à l’humidité </th>
                            <td align="left" style="padding: 6px 10px; font-size: 8pt;"> {{ produit.tolerance }} </td>

                        </tr>
                        <tr valign="top">
                            <th align="left" style="width: 46%; padding: 6px 10px; font-size: 8pt;"> Refroidissement </th>
                            <td align="left" style="padding: 6px 10px; font-size: 8pt;"> {{ produit.refroidissement }} </td>

                        </tr>
                        <tr valign="top">
                            <th align="left" style="width: 46%; padding: 6px 10px; font-size: 8pt;">Indice de protection </th>
                            <td align="left" style="padding: 6px 10px; font-size: 8pt;"> {{ produit.indicepro }} </td>

                        </tr>
                        <tr valign="top">
                            <th align="left" style="width: 46%; padding: 6px 10px; font-size: 8pt;"> Connections </th>
                            <td align="left" style="padding: 6px 10px; font-size: 8pt;"> {{ produit.Connections }}</td>

                        </tr>
                        <tr valign="top">
                            <th align="left" style="width: 46%; padding: 6px 10px; font-size: 8pt;"> Certifications </th>
                            <td align="left" style="padding: 6px 10px; font-size: 8pt;"> {{ produit.certification }}</td>

                        </tr>
                        <tr valign="top">
                            <th align="left" style="width: 46%; padding: 6px 10px; font-size: 8pt;">Durée de vie à 50% luminosité </th>
                            <td align="left" style="padding: 6px 10px; font-size: 8pt;"> >{{ produit.duree }} </td>

                        </tr>
                        <tr valign="top">
                            <th align="left" style="width: 46%; padding: 6px 10px; font-size: 8pt;"> Garantie </th>
                            <td align="left" style="padding: 6px 10px; font-size: 8pt;" > {{ produit.garantie }}</td>

                        </tr>

                    </table>
                </div>
            </div>

        </div>
    </div>
    </div>

    <div class="col-md-12" style="text-align:center; background: white; padding: 3% 7%">

        <div class="col-md-7 col-sm-12 PDP--benefits" style="padding: 1% 5%">
            <fieldset>
                <legend><h2>Points forts</h2></legend>
                <ul>
                    <li>{{ produit.fort.point1 }}</li>
                    <li>{{ produit.fort.point2 }}</li>
                    <li>{{ produit.fort.point3 }}</li>
                    <li>{{ produit.fort.point4 }}</li>
                    <li>{{ produit.fort.point5 }}</li>
                    <li>{{ produit.fort.point6 }}</li>
                </ul>
            </fieldset>
        </div>
        <div class="col-md-5 col-sm-12 PDP--ctas">
		
             {% if produit.fort.fiche!= null %}
            <a href="{{ produit.fort.fiche.src }}" target="_blank" class="btn btn-secondary" style="    padding: 3% 8%; font-size: 15px;font-weight: 600;">
                Téléchargez la <strong>fiche technique</strong>
            </a>
                <div class="cta-sep">
                <span>Ou</span>
            </div>
                {% endif %}
            
            <a href="{{path('contact')}}" class="btn btn-default" style="  padding: 3% 8%;background: #dcdede;font-size: 15px;font-weight: 600;">
                Contactez-nous
            </a>
        </div>
    </div>


    </div>

    <div  id="product_zoom_related_title"  class="commons_block" style="padding: 21px 0;" >ACCESSOIRES ASSOCIÉS</div>

   <div  id="product_zoom_related"  class="commons_block" >
         {% set newArray = [] %}

{% for point in points %}
		 {% for accessoir in accessoirs %}
		  {% if  point.pointfort.id == produit.fort.id and accessoir.id == point.accessoir.id %}
   {% if accessoir.id not in newArray %}
     <div class="col-md-3" style="margin-bottom:20px;">
                    <a href="{{ path('accessoir_show', { 'id': accessoir.id }) }}" class="product_zoom_related_item"  title=""  style="width:100%;min-height: 582px;">
                        <div  class="product_zoom_related_item_picture" >
                            <img src="{{ asset(accessoir.image1.src) }}"  alt="{{ accessoir.nom }}"  title="{{ point.accessoir.nom }}"  style="height: 250px;" />
                        </div>
                        <div  class="product_zoom_related_item_name" >{{ accessoir.nom }}</div>
                        <div  class="product_zoom_related_item_baseline" >{{ accessoir.nom }}</div>
                        <div  class="product_zoom_related_item_description" >
                            {{ accessoir.description[:120] ~ '...' }}
                        </div>
                        <div  class="product_zoom_related_item_categoryname" >{{ point.pointfort.titre }}</div>
                    </a>
                </div>
   {% set newArray = newArray|merge([accessoir.id]) %}
   {% endif %}
   {% endif %}

 {% endfor %}
{% endfor %}
       
        
		
            

           
		 
        

    </div>
    </div>
    </div>

    </div>
{% endblock %}