{% extends 'layout/base.html.twig' %}

{% block body %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="{{ asset('project/design/resources/css/product.css') }}" rel="stylesheet" type="text/css" media="screen" >
<style>
    .product_zoom_related_item {
        min-height: auto;
        margin-bottom: 20px;
  }

    .product_zoom_related_item::before {

        border: 2px solid #f99a01;
    }
    .product_zoom_related_item::after {

        border: 2px solid #f99a01;

    }
    .product_zoom_related_item_name {
        margin: 0px 0;
        color: #f7f4f4;
        text-align: center;
        background: #5e6161;
        padding: 1%;
    }
    .product_zoom_related_item_name::before {

        color: #f99a01;

        background: #161616;

    }

</style>
    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1>Nos Produits</h1>
                        <div  class="page_header_description" >Un large choix d'écrans et d'accessoires</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->


    <!--container-->




    <!--/container-->
    <div class="container">

        <div class="col-md-12" style="background:#fff;">
            <div class="" style="padding:3% 2%">
                <div  id="product_zoom_related"  class="commons_block" >


                    {% for categorie in categories %}

                        <div class="col-md-4">
                            <a href="{{ path('catalogue_show', { 'id': categorie.id ,'nom': categorie.nom}) }}" class="product_zoom_related_item"  title="" style="width: 100%; padding: 2px 1px" >
                                <div  class="product_zoom_related_item_picture" >
                                    <img src="{{ asset(categorie.media.src) }}"  alt="{{ categorie.nom }}"
                                         title="{{ categorie.nom }}"  style="height: 250px; width: 100%;" />
                                </div>
                                <div  class="product_zoom_related_item_name" >{{ categorie.nom }}</div>


                            </a>

                        </div>
                    {% endfor %}
                 </div>
             </div>
        </div>

    </div>

{% endblock %}