{% extends 'layout/base.html.twig' %}

{% block body %}
    <style>
        a {
            color: #ffffff;
            text-decoration: none;
        }
        .btn-read {
            background: transparent;
            border-radius: 0;
            border: 1px solid #ffffff;
            color: #fff;
        }
        .center-block {

            margin-bottom: 20px;
        }

        .section-box-nine{
            height: 250px;
            background: radial-gradient(#6e6e6e,#2f2f2f);
            background: -webkit-radial-gradient(#e68f02,#986007);
            background: -moz-radial-gradient(#6e6e6e,#2f2f2f);
            color: #fff;
            position: relative;
            overflow:hidden;
        }
        .section-box-nine figure {
            position: absolute;
            text-align: center;
            padding: 19px;
            width: 100%;
            height: 100%;
        }
        .section-box-nine img{
            height: 100%;
            width: 100%;
            position: absolute;
            transition: ease-in-out .5s;
            -webkit-transition: ease-in-out .5s;
            -moz-transition: ease-in-out .5s;
        }
        .section-box-nine:hover img{
            transform: scale(3);
            -webkit-transform: scale(3);
            -moz-transform: scale(3);
            opacity: 0;
        }

        .section-box-ten{
            height: 250px;
            background: radial-gradient(#6e6e6e,#2f2f2f);
            background: -webkit-radial-gradient(#6e6e6e,#2f2f2f);
            background: -moz-radial-gradient(#6e6e6e,#2f2f2f);
            color: #fff;
            position: relative;
            overflow:hidden;
        }
        .section-box-ten figure {
            position: absolute;
            text-align: left;
            padding: 10px 19px 19px 19px;
            width: 100%;
            height: 100%;
            border-top: 1px solid #fff;
            background: rgba(0, 0, 0, 0.71);
            bottom: -80%;
            transition: ease-in-out .5s;
        }
        .section-box-ten:hover figure {
            bottom: 0;
        }
        .section-box-ten figure h3{
            margin: 0;
            padding-bottom: 10px;
        }
        .section-box-ten img{
            height: 100%;
        }


        .section-box-eleven{
            height: 250px;
            background: radial-gradient(#6e6e6e,#2f2f2f);
            background: -webkit-radial-gradient(#6e6e6e,#2f2f2f);
            background: -moz-radial-gradient(#6e6e6e,#2f2f2f);
            color: #fff;
            position: relative;
            overflow:hidden;
        }
        .section-box-eleven figure {
            position: absolute;
            padding: 10px 15px;
            width: 100%;
            bottom: -25%;
            transition: ease-in-out .5s;
            background: rgba(0, 0, 0, 0.71);
            border-top: 1px solid #fff;
        }
        .section-box-eleven:hover figure {
            bottom: 0;
        }
        .section-box-eleven img{
            height: 100%;
        }

        .section-box-twelve{
            height: 250px;
            background: radial-gradient(#6e6e6e,#2f2f2f);
            background: -webkit-radial-gradient(#6e6e6e,#2f2f2f);
            background: -moz-radial-gradient(#6e6e6e,#2f2f2f);
            color: #fff;
            position: relative;
            overflow:hidden;
        }
        .section-box-twelve figure {
            position: absolute;
            text-align: center;
            padding: 10px 19px 19px 19px;
            width: 100%;
            height: 100%;
            transition: ease-in-out .5s;
            opacity: 0;
            transform: scale(2);
        }
        .section-box-twelve:hover figure {
            opacity: 1;
            transform: scale(1);
            background: rgba(0, 0, 0, 0.71);
        }
        .section-box-twelve figure a{
            color: #fff;
            font-size: 3em;
            top: 35%;
            position: relative;
        }
        .section-box-twelve img{
            height: 100%;
        }
    </style>

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1>RÉALISATIONS</h1>
                        <div  class="page_header_description" >Un large choix d'&eacute;crans et d'accessoires</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->
    </div>


    <!--container-->
    <div class="container">

        <div class="col-md-12"  style="margin-top: 50px">

            <div class="col-md-4 center-block">
                <div class="section-box-nine">
                    <figure>
                        <h3>Commerce et Retail</h3>
                        <p style="margin: 27px 4px 13px;">DES CONTENUS LIÉS AUX SERVICES ET ACTUALITÉS DE L’ENSEIGNE DU COMMERCE ET RETAIL</p>
                        <a href="{{ path('realisation-commerce') }}" class="btn btn-read">Je découvre</a>
                    </figure>
                    <a href="{{ path('realisation-commerce') }}">
                        <img src="{{ asset('project/resources/img/realisation1.jpg') }}" class="img-responsive" alt="Commerce et Retail"/>
                    </a>
                </div>
            </div>
            <div class="col-md-4 center-block">
                <div class="section-box-nine">
                    <figure>
                        <h3>Institutionnel</h3>
                        <p style="margin: 27px 4px 13px;">LEDCAST RÉPOND AU SECTEUR INSTITUTIONNEL GRÂCE SON AFFICHAGE DYNAMIQUE LED.</p>
                        <a href="{{ path('realisation-institutionel') }}" class="btn btn-read">Je découvre</a>
                    </figure>
                    <a href="{{ path('realisation-institutionel') }}">
                        <img src="{{ asset('project/resources/img/realisation2.jpg') }}" class="img-responsive" alt="Institutionnel"/></a>
                </div>
            </div>

            <div class="col-md-4 center-block">
                <div class="section-box-nine">
                    <figure>
                        <h3>Evènementiels & Médias</h3>
                        <p style="margin: 27px 4px 13px;">NOS ÉCRANS GÉANTS LED INDOOR, OUTDOOR POUR L’ EVÈNEMENTIELS & MÉDIAS.</p>
                        <a href="{{ path('realisation-evenementiel') }}" class="btn btn-read">Je découvre</a>
                    </figure>
                    <a href="{{ path('realisation-evenementiel') }}">
                        <img src="{{ asset('project/resources/img/realisation3.jpg') }}" class="img-responsive" alt="Evènementiels & Médias"/></a>
                </div>
            </div>
            <div class="col-md-4 center-block">
                <div class="section-box-nine">
                    <figure>
                        <h3>Sports</h3>
                        <p style="margin: 27px 4px 13px;">LE BORD DE STADE LEDCAST EST SPÉCIALEMENT PENSÉ POUR LES STADES, LES CENTRES SPORTIFS.</p>
                        <a href="{{ path('realisation-sport') }}" class="btn btn-read">Je découvre</a>
                    </figure>
                    <a href="{{ path('realisation-sport') }}">
                        <img src="{{ asset('project/resources/img/realisation4.jpg') }}" class="img-responsive" alt="Sports"/></a>
                </div>
            </div>
            <div class="col-md-4 center-block">
                <div class="section-box-nine">
                    <figure>
                        <h3>Affichage Urbain</h3>
                        <p style="margin: 27px 4px 13px;">NOUS VOUS PROPOSONS NOTRE GAMME DE LED SPÉCIALE AFFICHAGE URBAIN POUR VOTRE COMMUNICATION.</p>
                        <a href="{{ path('realisation-affichage') }}" class="btn btn-read">Je découvre</a>
                    </figure>
                    <a href="{{ path('realisation-affichage') }}">
                        <img src="{{ asset('project/resources/img/realisation5.jpg') }}" class="img-responsive" alt="Affichage Urbain"/></a>
                </div>
            </div>






        </div>

    </div>


    <!--/container-->

{% endblock %}