{% extends 'layout/base.html.twig' %}

{% block body %}


    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1>Support Technique</h1>
                        <div  class="page_header_description" >Un large choix d'écrans et d'accessoires</div>
                    </div>
                </div>





            </div>
        </div>
    </div>


    <!--container-->
    <div class="container">
        <div class="col-md-12" style="background:#fff;">
            <div class="" style="padding:3% 6%">
                <div class="row homeBlock" style="margin-top:30px;">
                    <div class="col-md-4 post" >
                        <a href="{{ path('support-garantie') }}" title="Toussaint">
                            <span class="title">Garantie & SAV</span>
                            <span class="link">Je découvre</span>
                            <div class="filter">&nbsp;</div>
                            <picture>

                                <img src="{{ asset('project/resources//img/img1.jpg') }}" alt=" " class="img-responsive inline">
                            </picture>
                        </a>


                    </div>
                    <div class="col-md-4 post" >
                        <a href="{{ path('support-telechargement') }}" title="Toussaint">
                            <span class="title">Téléchargements</span>
                            <span class="link">Je découvre</span>
                            <div class="filter">&nbsp;</div>
                            <picture>

                                <img src="{{ asset('project/resources/img/img2.jpg') }}" alt=" " class="img-responsive inline">
                            </picture>
                        </a>
                    </div>
                    <div class="col-md-4 post" >
                        <a href="{{ path('support-faq') }}" title="Toussaint">
                            <span class="title">FAQ</span>
                            <span class="link">Je découvre</span>
                            <div class="filter">&nbsp;</div>
                            <picture>

                                <img src="{{ asset('project/resources/img/img3.jpg') }}" alt=" " class="img-responsive inline">
                            </picture>
                        </a>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <!--/container-->



{% endblock %}