{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1 style="font-size: 24pt;">SUPPORT /
                            <span style="font-size:25px; color: #dea600;">FAQ</span></h1>
                        <div  class="page_header_description" >Spécialiste de l’affichage dynamique Urbain LED</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->



    <!--container-->
    <div class="container colmn">
        <div class="row">

            <div class="col-md-12">



                <h4 class="title-head" style="border-left: 9px solid #fe7725; background: #6d6968;" >GARANTIE & SERVICE APRÈS  VENTE LEDCAST</h4>
                <section id="service">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Tableau de coefficient locatif
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <p>Le coefficient est applicable du jour la sortie du matériel au jour de retour.

                                                    En cas de dépassement de la date de retour convenue, le coefficient reprends à 1.

                                                    Pour une durée plus longue, merci de nous consulter.
                                                    <a href="" class="btn btn-default" >Coefficient jours de location</a>


                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Quels accessoires pour diffuser un contenu sur un mur de LED?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <p>
                                                    Afin de diffuser un contenu sur un écran LED, il est nécessaire selon le modèle, de l’agrémenter d’un certain nombre
                                                    d’appareils et accessoires. En effet, de manière général, un écran LED a besoin pour diffuser un contenu, quel qu’il soit,
                                                    d’une source (en général un ordinateur) et d’une carte d’envoi qui va transformer le signal de l’ordinateur (VGA, dvi, hdmi ) en RJ45.
                                                    Il est possible également d’agrémenter son dispositif d’un Scaler qui va mettre à l’échelle de l’écran un contenu dont la résolution diffère. Ex: un écran LED pitch 10 de 4 mètres par 3 mètres (résolution 400 pixels / 300 pixels) ne peut pas de manière naturelle diffuser correctement une image dont la résolution est de 1280 /768. Il n’y aura en effet qu’une partie de l’image diffusée sur l’écran. Ainsi il est nécessaire d’utiliser un Scaler qui va redimensionner l’image et l’ adapter à l’écran LED. Attention à toujours respecter le rapport d’échelle entre le LED et le contenu diffusé afin de ne pas étirer ou écraser l’image. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Le LCD vs le LED
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <p>
                                                    Contrairement à un écran LCD ou Plasma, les différents éléments d’un écrans LED sont accessibles et interchangeables,
                                                    ce qui permet à tout moment d’intervenir sur un Écran LED en panne en ne changeant que le nécessaire (un module,
                                                    une alimentation, une carte de réception, une IC et dans la plupart des cas juste une LED).
                                                    La durée de vie d’une LED est supérieure à 100.000 heures.
                                                    Il est donc possible de l’utiliser de manière intensive durant des années,
                                                    avec cependant une baisse notable de la luminosité au bout de 50.000 heures. Dès lors une calibration de l’écran sera nécessaire.
                                                    La consommation d’un écran LED varie selon l’ensemble de ces caractéristiques (scan, type de LED, Indoor ou Outdoor,
                                                    réglages de l’intensité de la lumière diffusée). Ainsi à surface et luminosité égales,
                                                    un écran LED consommera moins qu’un écran LCD pur et bien moins qu’un écran plasma.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingfor">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefor" aria-expanded="false" aria-controls="collapsefor">
                                                    Que signifie IP?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsefor" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfor">
                                            <div class="panel-body">
                                                <p>
                                                    IP signifie Indice de Protection, c’est un indice standard international qui renseigne sur le degré de protection
                                                    dédié aux appareils et leur conception. Cet indice est constitué de deux chiffres. Le premier indique la protection
                                                    face aux corps solides, le second face au liquides (poussière sable etc..) Ainsi, lorsque l’indice de protection d’un
                                                    appareil est IP65, cela signifie qu’il a une protection maximal de 6/6 face au corps solides est une protection de 5/9k
                                                    face aux liquide. Un appareil IP 68 et plus, est submersible..
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingfive">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
                                                    Distinction module LED et cabinet LED
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
                                            <div class="panel-body">
                                                <p>
                                                    Le module LED est un élément du cabinet LED. Il s’agit d’un panneau souvent en polymère sur lequel on distingue d’un coté,
                                                    la face éclairante de Leds avec leur masque, de l’autre un circuit imprimé intégrant les IC qui vont contrôler les Leds.
                                                    Les modules se fixent sur le cabinet soit magnétiquement, soient ils sont vissés par l’avant si il s’agit d’une maintenance avant,
                                                    par l’arrière si il s’agit d’une maintenance arrière des cabinets. Le cabinet aussi appelé dalle de Leds est composé des modules Leds
                                                    dont la taille et le format varient (128 / 128 mm; 160 / 160 mm; 320 / 320. ou 160 / 320; 80 / 16 etc…), d’une carte d’envoi,
                                                    d’une alimentation et de fixations (afin d’assembler les cabinets entre eux, pour ainsi créer un écran géant). Chaque cabinet est muni d’une prise entrée et sortie pour l’alimentation, ainsi qu’une prise d’entrée et sortie pour la source (RJ45 ou optique).
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingsix">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapseThree">
                                                    Quelle est l’importance du Scan mode d’un module LED?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
                                            <div class="panel-body">
                                                <p>
                                                    Au même titre que le type de LED, le scan mode est une caractéristique importante à prendre en compte lorsque
                                                    l’on choisi son écran LED. Le Scan mode correspond à la manière dont les LED s sont contrôlées par le micro
                                                    contrôleur ou IC. L’IC peut être considéré comme une série de petits interrupteurs qui vont chacun allumer et éteindre une LED.
                                                    Prenons le cas d’une IC équipée de 8 paires de broches, elle va ainsi contrôler 8 LED s. on appel cela le mode static ou scan 1/1.
                                                    Si chaque paire de broches contrôle une série de 2 LED s on appelle cela un scan 1/2, une série de 4 LED s un scan 1/4 ,
                                                    une série de 8 LED s un scan 1/8 etc. Il faut comprendre que, plus le scan sera proche de 1/1 , plus le module sera lumineux,
                                                    mais aussi plus onéreux. Cela signifie également que lorsqu’une IC est défectueuse, seulement 1 à 16 LED s seront potentiellement en défaut.
                                                    En effet, dans le cas d’un scan 1/16, l’IC va contrôler de 16 à 256 LED s qui seront potentiellement en défaut si l’IC est défectueuse.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <br>
            <div class="col-md-12">
                <h4 class="title-head" style="border-left: 9px solid #fe7725; background: #6d6968;" >VOUS AVEZ D'AUTRES QUESTIONS ? </h4>
                <div class="col-md-2" >
                    <img src="{{ asset('project/design/resources/images/mail.png') }}" />
                </div>
                <div class="col-md-10">
                    <p class="text-p">
                        Vous souhaitez en savoir plus sur nos services, nos produits, notre SAV, nos formations, vous êtes prestataire,
                        intégrateur, vous souhaitez développer votre communication digitale, Ledcast reste à votre service.
                        Envoyez-nous votre commentaire ou vos questions, nos spécialistes sont là pour répondre au mieux à vos besoins.
                        <br>
                    </p>
                    <a href="" class="btn btn-primary" />Page de contact</a><br> <br>
                </div>
            </div>

        </div>
    </div>
    <!--/container-->


{% endblock %}