{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1 style="font-size: 24pt;">SUPPORT /
                            <span style="font-size:25px; color: #dea600;">GARANTIE & S.A.V</span></h1>
                        <div  class="page_header_description" >Spécialiste de l’affichage dynamique Urbain LED</div>
                    </div>
                </div>





            </div>
        </div>
    </div>
    <!--/banner-->



    <!--container-->
    <div class="container colmn">
        <div class="row">

            <div class="col-md-12">
                <div class="row" >
                    <img src="{{ asset('project/design/resources/images/home/banner1.jpg') }}" class="img-respensive" alt="" />
                </div>

                <div style="margin-top :50px;">
                    <h4 class="title-head">GARANTIE & SERVICE APRÈS  VENTE LEDCAST</h4>
                    <p class="text-p">
                        Tous les produits et accessoires LEDCAST sont garantis 2 ans.

                        Nous vous proposons une extension de garantie de 5 ans pièces et main d’œuvre afin de vous prémunir à plus
                        long terme d’éventuelles avaries.
                    </p>
                    <a href="" class="btn btn-primary" />Notre atelier LEDCAST est à votre service pour tout renseignement</a>
                    <BR>
                </div>
            </div>

            <br>
            <div class="col-md-12">
                <h4 class="title-head">Les conditions générales de vente LEDCAST </h4>
                <a href="" class="btn btn-primary" />LEDCAST-Conditions générales de ventes</a>
                <BR>
                <BR>
            </div>

        </div>
    </div>
    <!--/container-->


{% endblock %}