{% extends 'layout/base2.html.twig' %}

{% block body %}

    <div id='commons_header_height'>
    </div>
    <!--banner-->
    <div  id="commons_main" >
        <div  id="commons_zoom" >
            <div  class="zoom_intern" >
                <div  id="page_header" >
                    <div  class="commons_block" ><h1 style="font-size: 24pt;">SUPPORT /
                            <span style="font-size:25px; color: #dea600;">TÉLÉCHARGEMENTS</span></h1>
                        <div  class="page_header_description" >Spécialiste de l’affichage dynamique Urbain LED</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/banner-->



    <!--container-->
    <div class="container colmn">
        <div class="row">

            <div class="col-md-12">
                <div class="row" >
                    <img src="{{ asset('project/design/resources/images/home/header5.jpg') }}" class="img-respensive" alt="" />
                </div>


                <h4 class="title-head">TÉLÉCHARGER NOTRE CATALOGUE LEDCAST EN PDF</h4>
                <p class="text-p">
                    Nos Gammes produits Leds Indoor, Outdoor, Specific, notre mobilier digital, et nos accessoires Leds.s<br>
                </p>
                <a href="{{ asset('telechargement/catalogue-gammes-produits-leds-et-accessoires-Ledcast_Combine2.pdf') }}" target="_blank" class="btn btn-primary" />catalogue gammes produits leds et accessoires Ledcast</a><br>
                <img src="{{ asset('project/design/resources/images/NOVA.png') }}" class="img-respensive" />
            </div>

            <br>
            <div class="col-md-12">
                <h4 class="title-head">NOS DRIVERS </h4>
                <p class="text-p">
                    Nova-LCT-Mars<br>

                    <a href="{{ asset('telechargement/NovaLCT-Mars V4.9.0.zip') }}" target="_blank" class="btn btn-primary" />Nova-LCT-MARS-4.9.0</a>
                </p>
                <p class="text-p">
                    Nova Studio <br>

                    <a href="{{ asset('telechargement/NovaStudioSetupV3.4.zip') }}" target="_blank" class="btn btn-primary" />Nova-Studio-V3.4</a>
                </p>
                <p class="text-p">
                    Nova Pluto <br>
                    <a href="{{ asset('telechargement/NovaLCT-Pluto-V4.5.2-Setup.zip') }}"target="_blank"  class="btn btn-primary" />NovaLCT-Pluto V4.5.2 Setup</a>
                </p>
                <p class="text-p">
                    Smart-LCT Mac/Windows<br>

                    <a href="{{ asset('telechargement/SmartLCTV3.2.0(mac).zip') }}" target="_blank" class="btn btn-primary" />Smart-LCT-V3.2.0-Mac</a><br><br>
                    <a href="{{ asset('telechargement/SmartLCTV3.2.0(windows).zip') }}" target="_blank" class="btn btn-primary" />Smart-LCT-V3.2.0-Windows</a>
                </p>

            </div>

        </div>
    </div>
    <!--/container-->


{% endblock %}