{% extends 'base.html.twig' %}

{% block body %}
    <h1>Telechargements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for telechargement in telechargements %}
            <tr>
                <td><a href="{{ path('telechargement_show', { 'id': telechargement.id }) }}">{{ telechargement.id }}</a></td>
                <td>{{ telechargement.titre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('telechargement_show', { 'id': telechargement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('telechargement_edit', { 'id': telechargement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('telechargement_new') }}">Create a new telechargement</a>
        </li>
    </ul>
{% endblock %}
