.page_info_url{font-size:9pt;font-weight:bold;color:#333;background-color:#FFC;border:1px solid #DDA;padding:2px 4px;}
.page_info_url input.input_text{font-family:'Courier New' !important;border:0 !important;background-color:#FFC;}
.page_info_url input.input_button{font-size:8pt;}
.page_list{background-color:#FFF;border:1px solid #DDD;padding:5px 0;padding-bottom:150px;-moz-border-radius:3px;}
.page_list_title{font-weight:bold;font-size:10pt;text-decoration:underline;margin:5px 10px;}
.page_list .nb{font-size:7pt;color:#8CCE96;}
.page_list .full{font-weight:bold;color:#333;}
.page_item .action_bloc,
.page_item_translatable .action_bloc{position:absolute;display:none;margin:0 5px;}
.page_item:hover .action_bloc,
.page_item_translatable:hover .action_bloc{display:inline;}
.page_item .info_bloc,
.page_item_translatable .info_bloc{display:none;}
.page_item:hover .info_bloc,
.page_item_translatable:hover .info_bloc{display:none;position:absolute;background-image:url(../images/page/page_info.png);background-position:5px;background-repeat:no-repeat;background-color:#FFE;border:1px solid #DDA;padding:6px;padding-left:26px;font-size:8pt;margin:3px 0;color:#000;font-weight:normal;}
.page_item:hover .info_bloc{display:block}
.page_item_translatable:hover .info_bloc{display:block}
.page_item{background-image:url(../images/page/page_item_child.png);background-repeat:no-repeat;background-position:bottom left;padding-top:1px;padding-bottom:2px;padding-left:46px;font-size:9pt;color:#777;}
.page_item_translatable{padding-top:1px;padding-bottom:2px;font-size:9pt;margin-left:20px;}
.page_item a:link,
.page_item a:hover,
.page_item a:active,
.page_item a:visited{color:#888;}
.page_item_translatable a:link,
.page_item_translatable a:hover,
.page_item_translatable a:active,
.page_item_translatable a:visited{color:#888;}
.full a:link,
.full a:hover,
.full a:active,
.full a:visited{color:#000 !important;}
.page_item_parent{background-image:url(../images/page/page_item.png);}
.page_item_end{background-image:url(../images/page/page_item_child_end.png);}
.page_item span.info{color:#AAA;}
.page_child{margin-left:30px;background-image:url(../images/page/page_item_path.png);background-repeat:repeat-y;background-position:left;}
.page_translated{padding-left:30px;}
.page_item span.name{}
.page_item a.page_edit:link,
.page_item a.page_edit:hover,
.page_item a.page_edit:active,
.page_item a.page_edit:visited{padding:2px 4px;text-decoration:none;}
.page_noright .page_edit{text-decoration:line-through !important;color:#ddd !important;}
.page_noright .page_edit span.name{color:#ddd !important;}
.page_item_translatable span.name{}
.page_item_translatable a.page_edit:link,
.page_item_translatable a.page_edit:hover,
.page_item_translatable a.page_edit:active,
.page_item_translatable a.page_edit:visited{padding:2px 4px;text-decoration:none;}
.page_item a.page_edit:hover,
.page_item_translatable a.page_edit:hover{border:1px solid #D8F0FA;background-color:#F0F8FD;padding:1px 3px;}
.page_item a.page_edit:active{background-color:#EBF6FD;border:1px solid #99DEFD;padding:1px 3px;}
.pageitem_add:link,
.pageitem_add:hover,
.pageitem_add:active,
.pageitem_add:visited{display:block;float:left;margin-right:3px;background-repeat:no-repeat;background-position:left;padding:5px 10px 5px 40px;font-weight:bold;border:1px solid #DDD;background-color:#FFF;-moz-border-radius:3px;text-decoration:none;}
.pageitem_add:hover{border:1px solid #000;}
.pageitem_article{background-image:url(../images/page/pageitem_article.png);}
.pageitem_gallery{background-image:url(../images/page/pageitem_gallery.png);}
.pageitem_video{background-image:url(../images/page/pageitem_video.png);}
.pageitem_sound{background-image:url(../images/page/pageitem_sound.png);}
.pageitem_download{background-image:url(../images/page/pageitem_download.png);}
.page_addbloc_clear{clear:both;}
.page_addbloc{border:1px solid #CCC;background-color:#EEE;padding:10px;-moz-border-radius:3px;}
.page_addbloc_title{font-weight:bold;}
.page_list_item:hover{border:1px solid #000;}
.page_list_item{position:relative;background-color:#EEE;margin:10px 0;border:1px solid #CCC;-moz-border-radius:5px;cursor:move;}
.page_list_item_title{-moz-border-radius:5px 5px 0 0;border-bottom:1px solid #CCC;background-color:#D8D8D8;font-size:9pt;padding:5px;cursor:}
.page_list_item .page_list_item_title .action{display:none;position:absolute;top:-25px;top:-22px;right:6px;background-color:#D8D8D8;border:1px solid #333;border-bottom:0;padding:0px 6px;-moz-border-radius:5px 5px 0 0;}
.page_list_item:hover .page_list_item_title .action{display:block;}
.page_list_item_content{padding:10px;}
.page_list_item_edit:link,
.page_list_item_edit:hover,
.page_list_item_edit:active,
.page_list_item_edit:visited,
.page_list_item_delete:link,
.page_list_item_delete:hover,
.page_list_item_delete:active,
.page_list_item_delete:visited{display:block;float:right;margin-left:5px;padding:3px;padding-left:25px;background-image:url(../images/list/list_edit.png);background-position:5px;background-repeat:no-repeat;border:1px solid #AAA;background-color:#FFF;-moz-border-radius:3px;text-decoration:none;font-weight:bold;font-size:8pt;}
.page_list_item_edit:hover,
.page_list_item_delete:hover{border:1px solid #000;}
.page_list_item_delete:link,
.page_list_item_delete:hover,
.page_list_item_delete:active,
.page_list_item_delete:visited{background-image:url(../images/list/list_delete.png);}
.pagearticle_title{font-size:10pt;font-weight:bold;margin:5px 0;}
.pagearticle_text{text-align:justify;}
.pagearticle_picture{display:inline;}
.pagearticle_picture img{display:inline;margin:5px;border:5px solid #FFF;-moz-box-shadow:1px 1px 5px #555;-webkit-box-shadow:1px 1px 5px #555;box-shadow:1px 1px 5px #555;}
.page_table{border-spacing:2px;}
.page_column{padding:3px 10px;}
.page_column:hover{border:1px dashed #CCC;padding:2px 9px;background-color:#FCFCFC;}
.item_target{border-top:1px dotted #AAA;margin-top:10px;padding-top:10px;}
.rss_info{background-image:url(../images/page/pageitem_rss.png);background-position:5px;background-repeat:no-repeat;background-color:#FFE;border:1px solid #DDA;padding:3px;padding-left:27px;}
.rss_titlelink:link,
.rss_titlelink:hover,
.rss_titlelink:active,
.rss_titlelink:visited{font-weight:bold;margin:3px 0;text-decoration:underline;}
.rss_description{}
.rss_item{margin:5px 0;background-color:#FFF;border:1px solid #AAA;padding:10px;}
.pageitem_info .title{font-weight:bold;}
.pageitem_info .description{}
.pageitem_info{background-image:url(../images/page/page_info.png);background-position:5px;background-repeat:no-repeat;background-color:#FFE;border:1px solid #DDA;padding:6px;padding-left:26px;font-size:8pt;margin:3px 0;}
.pagegallery_existphoto_bloc{background-color:#FFF;border:1px solid #CCC;margin:10px;padding:10px;-moz-border-radius:5px;}
.pagegallery_existphoto_bloc .picture{float:left;text-align:center;}
.pagegallery_existphoto_bloc .picture img{margin:5px;border:5px solid #FFF;-moz-box-shadow:1px 1px 5px #555;-webkit-box-shadow:1px 1px 5px #555;box-shadow:1px 1px 5px #555;}
.pagegallery_existphoto_bloc .picture input{position:relative;left:-60px;}
.pagegallery_existphoto_bloc .delete{display:none;}
.pagegallery_existphoto_bloc .todelete{-moz-opacity:0.4;opacity:0.4;}
.page_show_element,
.page_hide_element{cursor:pointer;color:#069;}
.page_show_element:hover,
.page_hide_element:hover{text-decoration:underline;}
.page_seo_link{color:#069;float:right;background-image:url(../images/page/page_seo.png);background-repeat:no-repeat;background-position:left;padding-left:20px;}
.page_seo_title{background-color:#333;color:#FFF;font-weight:bold;padding:5px;}
.page_seo{position:absolute;right:0;margin-top:15px;background-color:#FFF;color:#333;}
.page_seo table{border-collapse:collapse;}
.page_seo td{border:1px solid #CCC;}
.page_seo_label{font-weight:bold;text-align:right;padding:4px;background-color:#EEE;}
.page_seo_value{padding:4px;}
.page_form_preview{position:absolute;padding:10px 20px;background-color:#FFF;border:1px solid #555;box-shadow:0 0 10px #555;font-size:8pt;padding:5px;width:600px;height:500px;overflow-y:auto;}
.formresponse_item{margin:6px 10px;padding:6px 0;border-bottom:1px dotted #CCC;}
.formresponse_label{font-style:italic;color:#888;}
.formresponse_value{font-weight:bold;color:#8CC97C;color:#6C846D;color:#589959;margin-left:5px;}
.pagearray_display_table{width:100%;}
.pagearray_display_table{background-color:#FFF;border-collapse:collapse;}
.pagearray_display_table th{background-color:#A2E8FC;background-color:#AAA;background-color:#FFF;color:#FFF;border:1px solid #DDD;text-align:left;font-size:12px;color:#000;padding:4px 5px;}
.pagearray_display_table td{border:0;border:1px solid #DDD;padding:2px 5px;border-bottom:1px solid #DDD;font-size:11px;}
.pagearray_display_table tr:nth-child(even) td{background:#DBF4FB;background:#EEE;}
.pagearray_display_table tr:nth-child(odd) td{background:#FAFAFA;}
.pageresult_array{margin:20px 0;padding-left:195px;}
.pageresult_array .pageresult_type_score,
.pageresult_array .pageresult_type_position{width:50px;text-align:center;}
.pageresult_array .pageresult_type_player{width:230px;}
.pageresult_array table{}
.pageresult_array table input{}
.pageresult_display_table{width:100%;}
.pageresult_display_table td{border:1px solid #EEE;background-color:#FFF;height:15px;white-space:nowrap;padding:2px 3px;overflow:hidden;border:1px solid #DDD;}
.pageresult_display_table td.score,
.pageresult_display_table td.position{width:40px !important;text-align:center;}
.pageresult_display_table td.player,
.pageresult_display_table td.country,
.pageresult_display_table td.text{}
/**/.ac_results{padding:0px;border:1px solid black;background-color:white;overflow:hidden;z-index:99999;}
.ac_results ul{width:100%;list-style-position:outside;list-style:none;padding:0;margin:0;overflow-x:hidden;}
.ac_results li{margin:0px;padding:2px 5px;cursor:default;display:block;font:menu;font-size:12px;line-height:16px;overflow:hidden;}
.ac_loading{background:white url('../../../404/index.html') right center no-repeat;}
.ac_odd{background-color:#eee;}
.ac_over{background-color:#0A246A;color:white;}
.buttonup,
.buttondown,
.buttoninsert,
.buttondelete{float:left;width:16px;height:16px;background-image:url(../images/pageresult/row_down.png);background-repeat:no-repeat;background-position:center center;cursor:pointer;margin:0 3px;}
.buttonup:hover,
.buttondown:hover,
.buttoninsert:hover,
.buttondelete:hover{}
.buttonup span,
.buttondown span,
.buttoninsert span,
.buttondelete span{display:none;position:absolute;margin-top:16px;margin-left:16px;background-color:#FFC;padding:3px 10px;border:1px solid #AA8;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;-moz-box-shadow:0 0 4px rgba(0,0,0,.3);-webkit-box-shadow:0 0 4px rgba(0,0,0,.3);-o-box-shadow:0 0 4px rgba(0,0,0,.3);box-shadow:0 0 4px rgba(0,0,0,.3);}
.buttonup:hover span,
.buttondown:hover span,
.buttoninsert:hover span,
.buttondelete:hover span{display:block;}
.buttonup{background-image:url(../images/pageresult/row_up.png);}
.buttondown{background-image:url(../images/pageresult/row_down.png);}
.buttoninsert{background-image:url(../images/pageresult/row_insert.png);}
.buttondelete{background-image:url(../images/pageresult/row_delete.png);}
.pagearray_array{position:relative;margin-left:191px;}
.pagearray_array table{float:left;}
.pagearray_array table tr{}
.pagearray_array table tr td{}
.pagearray_array table tr:first-child .buttondelete{display:none;}
.pagearray_addaction{float:left;text-align:right;}
.pagearray_addaction_inner{padding:0 40px 0 0;text-align:right;}
.buttoninsertrow,
.buttoninsertcolumn{float:left;cursor:pointer;padding:3px 10px;padding-right:16px;background-image:url(../images/pageresult/add-row.png);background-repeat:no-repeat;background-position:right;}
.buttoninsertrow{position:relative;top:-45px;left:-110px;}
.buttoninsertcolumn{float:right;padding:3px 10px;padding-right:16px;background-image:url(../images/pageresult/add-column.png);background-repeat:no-repeat;background-position:right;}
.buttondelete{display:block;cursor:pointer;width:16px;height:16px;background-image:url(../images/pageresult/delete.png);background-repeat:no-repeat;background-position:center center;}
.buttondelete span{display:none;position:absolute;margin-top:16px;margin-left:16px;background-color:#FFC;padding:3px 10px;border:1px solid #AA8;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;-moz-box-shadow:0 0 4px rgba(0,0,0,.3);-webkit-box-shadow:0 0 4px rgba(0,0,0,.3);-o-box-shadow:0 0 4px rgba(0,0,0,.3);box-shadow:0 0 4px rgba(0,0,0,.3);}
.buttondelete:hover span{display:block;}
.buttondelcol{display:none;}
#pagearray_array_table tr:last-child .buttondelcol{display:block;text-align:center;color:#aaa;padding:5px 0;cursor:pointer;}