.admin_bar_container
{
	position: 			fixed;
	z-index: 			99;
	bottom: 			0;
	left: 				20px;
	right: 				20px;
	left: 				0;
	right: 				0;
	color: 				#111111;
	font-size: 			11px;
	height: 			25px;
	padding: 			0;
	margin: 			0 0px;
	background-color: 	#000;
	border-top: 		1px solid #fff;
	border-bottom: 		0;
	
	
	opacity: 			0.8;
	-webkit-transition:	all .2s ease-out;
	-moz-transition:	all .2s ease-out;
	-o-transition:		all .2s ease-out;
	transition:			all .2s ease-out;
}
.admin_bar_container_visible
{
	opacity: 			1;
}
.admin_bar_container:hover
{
	opacity: 			1;
	
	-moz-box-shadow: 	0 5px 10px #000;
	-webkit-box-shadow: 0 5px 10px #000;
	-o-box-shadow: 		0 5px 10px #000;
	box-shadow: 		0 5px 10px #000;
}

#admin_bar_content
{
	border: 			1px solid #333;
	border-bottom: 		0;
	padding: 			5px;
	color: 				#fff;
	font-family: 		Arial;
}
#admin_bar_content span
{
	color: 				#CCC;
	padding: 			0 10px;
	font-weight: 		bold;
	font-style: 		italic;
	border-right: 		1px solid #555;
}

a.admin_bar_link:link,
a.admin_bar_link:hover,
a.admin_bar_link:active,
a.admin_bar_link:visited
{
	color: 				#FFF;
	padding: 			0 20px;
	border-right: 		1px solid #555;
}

#admin_bar_content div
{
	display: 			inline;
	color: 				#BED364;
	padding: 			0 20px;
	border-right: 		1px solid #555;
}